<% if(lang == "en"){%>
<div id="pcc-brands" style="background-color: rgb(231, 231, 231);">
    <div class="container">
        <div class="pcc-narrow-content">
            <div class="row">
                <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
                    <span class="heading-meta">Partner</span>
                    <h2 class="pcc-heading">Brands</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="owl-logo-item owl-carousel animate-box" data-animate-effect="fadeInRight">
                        <div class="item">
                            <div class="logo-item">
                                <div class="icon">
                                    <a href="https://leica-geosystems.com/"><img
                                            src="/public/images/brand/leica-geosystem.png"
                                            alt="Logo Leica Geosystem"></a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="logo-item">
                                <div class="icon">
                                    <a target="_blank"><img src="/public/images/brand/stormbee.png"
                                            alt="Logo Stormbee"></a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="logo-item">
                                <div class="icon">
                                    <a href="https://www.autodesk.com/" target="_blank"><img
                                            src="/public/images/brand/autodesk.png" alt="Logo Autodesk"></a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="logo-item">
                                <div class="icon">
                                    <a href="https://www.trimble.com/en/" target="_blank"><img
                                            src="/public/images/brand/trimble.png" alt="Logo Trimble"></a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="logo-item">
                                <div class="icon">
                                    <a href="https://www.bentley.com/" target="_blank"><img
                                            src="/public/images/brand/bentley.png" alt="Logo Bentley"></a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="logo-item">
                                <div class="icon">
                                    <a href="https://www.pix4d.com/" target="_blank"><img
                                            src="/public/images/brand/pix4d.png" alt="Logo Pix4D"></a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="logo-item">
                                <div class="icon">
                                    <a href="https://www.faro.com/" target="_blank"><img
                                            src="/public/images/brand/faro.png" alt="Logo FARO"></a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="logo-item">
                                <div class="icon">
                                    <a href="https://www.maritimerobotics.com/otter" target="_blank"><img
                                            src="/public/images/brand/robotics.png" alt="Logo Maritimerobotics"></a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="logo-item">
                                <div class="icon">
                                    <a href="https://www.topconpositioning.com/" target="_blank"><img
                                            src="/public/images/brand/topcon.png" alt="Logo Topcon"></a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="logo-item">
                                <div class="icon">
                                    <a href="https://www.dji.com/" target="_blank"><img
                                            src="/public/images/brand/dji.png" alt="Logo DJI"></a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="logo-item">
                                <div class="icon">
                                    <a href="https://norbit.com/" target="_blank"><img
                                            src="/public/images/brand/norbit.png" alt="Logo Norbit"></a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="logo-item">
                                <div class="icon">
                                    <a href="https://www.polaris.com/en-us/" target="_blank"><img
                                            src="/public/images/brand/polaris.png" alt="Logo Polaris"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%} else {%>
<div id="pcc-brands" style="background-color: rgb(231, 231, 231);">
    <div class="container">
        <div class="pcc-narrow-content">
            <div class="row">
                <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
                    <span class="heading-meta">Đối tác</span>
                    <h2 class="pcc-heading">Các thương hiệu đầu ngành</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="owl-logo-item owl-carousel animate-box" data-animate-effect="fadeInRight">
                        <div class="item">
                            <div class="logo-item">
                                <div class="icon">
                                    <a href="https://leica-geosystems.com/"><img
                                            src="/public/images/brand/leica-geosystem.png"
                                            alt="Logo Leica Geosystem"></a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="logo-item">
                                <div class="icon">
                                    <a target="_blank"><img src="/public/images/brand/stormbee.png"
                                            alt="Logo Stormbee"></a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="logo-item">
                                <div class="icon">
                                    <a href="https://www.autodesk.com/" target="_blank"><img
                                            src="/public/images/brand/autodesk.png" alt="Logo Autodesk"></a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="logo-item">
                                <div class="icon">
                                    <a href="https://www.trimble.com/en/" target="_blank"><img
                                            src="/public/images/brand/trimble.png" alt="Logo Trimble"></a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="logo-item">
                                <div class="icon">
                                    <a href="https://www.bentley.com/" target="_blank"><img
                                            src="/public/images/brand/bentley.png" alt="Logo Bentley"></a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="logo-item">
                                <div class="icon">
                                    <a href="https://www.pix4d.com/" target="_blank"><img
                                            src="/public/images/brand/pix4d.png" alt="Logo Pix4D"></a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="logo-item">
                                <div class="icon">
                                    <a href="https://www.faro.com/" target="_blank"><img
                                            src="/public/images/brand/faro.png" alt="Logo FARO"></a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="logo-item">
                                <div class="icon">
                                    <a href="https://www.maritimerobotics.com/otter" target="_blank"><img
                                            src="/public/images/brand/robotics.png" alt="Logo Maritimerobotics"></a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="logo-item">
                                <div class="icon">
                                    <a href="https://www.topconpositioning.com/" target="_blank"><img
                                            src="/public/images/brand/topcon.png" alt="Logo Topcon"></a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="logo-item">
                                <div class="icon">
                                    <a href="https://www.dji.com/" target="_blank"><img
                                            src="/public/images/brand/dji.png" alt="Logo DJI"></a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="logo-item">
                                <div class="icon">
                                    <a href="https://norbit.com/" target="_blank"><img
                                            src="/public/images/brand/norbit.png" alt="Logo Norbit"></a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="logo-item">
                                <div class="icon">
                                    <a href="https://www.polaris.com/en-us/" target="_blank"><img
                                            src="/public/images/brand/polaris.png" alt="Logo Polaris"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%}%>