<% if(lang == "en"){%>
    <div id="get-in-touch" class="pcc-bg-color">
        <div class="pcc-narrow-content">
            <div class="row">
                <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                    <h2>Infrastructure Digital Transformation Center  </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                    data-animate-effect="fadeInLeft">
                    <p class="pcc-lead">Address: 328 Nguyen Trong Tuyen Str., Ward 2, Tan Binh Dist., Ho Chi Minh City</p>
                    <p class="pcc-lead">Phone: (84 - 28) 62970345; 62970341</p>
                    <p class="pcc-lead">Email: portcoast@portcoast.com.vn</p>
                    <p><a href="/en/contact" class="btn btn-primary btn-learn">Contact me!</a></p>
                </div>
            </div>
        </div>
    </div>
    <%} else {%>
        <div id="get-in-touch" class="pcc-bg-color">
            <div class="pcc-narrow-content">
                <div class="row">
                    <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                        <h2>Trung tâm chuyển đổi số Cơ sở hạ tầng</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 animate-box"
                        data-animate-effect="fadeInLeft">
                        <p class="pcc-lead">Địa chỉ: 328 Nguyễn Trọng Tuyển, Phường 02, Quận Tân Bình, TP. Hồ Chí Minh</p>
                        <p class="pcc-lead">Điện thoại: (84 - 28) 62970345; 62970341</p>
                        <p class="pcc-lead">Email: portcoast@portcoast.com.vn</p>
                        <p><a href="/vi/lien-he" class="btn btn-primary btn-learn">Liên hệ!</a></p>
                    </div>
                </div>
            </div>
        </div>
        <%}%>