<% if(lang == "en"){%>
<div id="get-in-touch" class="pcc-bg-color">
    <div class="container py-5 pcc-narrow-content">
        <div class="row g-5">
            <div class="col-md-6 col-lg-6 animate-box" data-animate-effect="fadeInLeft">
                <h4 class="mb-4">Infrastructure Digital Transformation Center</h4>
                <p>We provide digital conversion services in the construction industry. We research ways to apply digital conversion to the world of design and construction, creating a digital platform to optimize design, promote industrial construction processes, and use digital models.</p>
                <div class="d-flex pt-2">
                    <div class="social">
                        <a href="https://www.facebook.com/portcoastdt" target="_blank"><i class="icon-facebook2"></i></a>
                        <a href="https://twitter.com/portcoast" target="_blank"><i class="icon-twitter2"></i></a>                
                        <a href="https://www.linkedin.com/in/portcoast/" target="_blank"><i class="icon-linkedin2"></i></a>
                        <a href="https://www.youtube.com/channel/UCRpMKTsHC7bdBM02gY9JRjg?view_as=subscriber" target="_blank"><i class="icon-youtube"></i></a>
                    </div>
                </div>
                
            </div>
            <div class="col-md-6 col-lg-3 animate-box" data-animate-effect="fadeInLeft">
                <h4 class="mb-4">Link</h4>
                <a class="btn btn-link" href="/en/about ">About Us</a>
                <a class="btn btn-link" href="/en/solutions">Solutions</a>
                <a class="btn btn-link" href="/en/products">Products</a>
                <a class="btn btn-link" href="/en/projects">Projects</a>
                <a class="btn btn-link" href="/en/equipment">Equipment</a>
                <a class="btn btn-link" href="/en/news">News</a>
                <a class="btn btn-link" href="/en/frequently-asked-questions">FAQs</a>
            </div>
            <div class="col-md-6 col-lg-3 animate-box" data-animate-effect="fadeInLeft">
                <h4 class="mb-4">Contact Us</h4>
                <p><i class="icon-home me-3"></i>328 Nguyen Trong Tuyen Str., Ward 2, Tan Binh Dist. , Ho Chi Minh City</p>
                <p><i class="icon-phone3 me-3"></i>(84 - 28) 62970345; 62970341</p>
                <p><i class="icon-mail6 me-3"></i>portcoast@portcoast.com.vn</p>
            </div>
        </div>
    </div>
</div>
<%} else {%>
<div id="get-in-touch" class="pcc-bg-color">
    <div class="container py-5 pcc-narrow-content">
        <div class="row g-5">
            <div class="col-md-6 col-lg-6 animate-box" data-animate-effect="fadeInLeft">
                <h4 class="mb-4">Trung tâm chuyển đổi số Cơ sở hạ tầng</h4>
                <p>Chúng tôi chuyên cung cấp dịch vụ chuyển đổi kỹ thuật số trong ngành xây dựng. Chúng tôi nghiên cứu, ứng dụng chuyển đổi qúa trình thiết kế, xây dựng trên một nền tảng kỹ thuật số nhằm tối ưu hóa các công tác, đẩy mạnh quá trình xây dựng công nghiệp hóa.</p>
                <div class="d-flex pt-2">
                    <div class="social">
                        <a href="https://www.facebook.com/portcoastdt" target="_blank"><i class="icon-facebook2"></i></a>
                        <a href="https://twitter.com/portcoast" target="_blank"><i class="icon-twitter2"></i></a>                
                        <a href="https://www.linkedin.com/in/portcoast/" target="_blank"><i class="icon-linkedin2"></i></a>
                        <a href="https://www.youtube.com/channel/UCRpMKTsHC7bdBM02gY9JRjg?view_as=subscriber" target="_blank"><i class="icon-youtube"></i></a>
                    </div>
                </div>
                
            </div>
            <div class="col-md-6 col-lg-3 animate-box" data-animate-effect="fadeInLeft">
                <h4 class="mb-4">Liên kết</h4>
                <a class="btn btn-link" href="/vi/gioi-thieu">Giới thiệu</a>
                <a class="btn btn-link" href="/vi/giai-phap">Giải pháp</a>
                <a class="btn btn-link" href="/vi/san-pham">Sản phẩm</a>
                <a class="btn btn-link" href="/vi/du-an">Dự án</a>
                <a class="btn btn-link" href="/vi/thiet-bi">Thiết bị</a>
                <a class="btn btn-link" href="/vi/tin-tuc">Tin tức</a>
                <a class="btn btn-link" href="/vi/nhung-cau-hoi-thuong-gap-faqs">Những câu hỏi thường gặp</a>
            </div>
            <div class="col-md-6 col-lg-3 animate-box" data-animate-effect="fadeInLeft">
                <h4 class="mb-4">Liên hệ</h4>
                <p><i class="icon-home me-3"></i>328 Nguyễn Trọng Tuyển, Phường 02, Quận Tân Bình, TP. Hồ Chí Minh</p>
                <p><i class="icon-phone3 me-3"></i>(84 - 28) 62970345; 62970341</p>
                <p><i class="icon-mail6 me-3"></i>portcoast@portcoast.com.vn</p>
            </div>
        </div>
    </div>
</div>
<%}%>