<% if(lang == "en"){%>
<aside id="colorlib-aside" role="complementary" class="border js-fullheight">
    <a href="/" id="colorlib-logo">
        <img src="/public/images/logo-portcoast-dt.png" alt="EduWell Template">
    </a>
    <nav id="colorlib-main-menu" role="navigation">
        <ul>
            <li <%if(page == " "){%> class="colorlib-active" <% }%>><a href="/">Home</a></li>
            <li <%if(page == "about"){%> class="colorlib-active" <% }%>><a href="/en/about">About us</a></li>
            <li <%if(page == "application"){%> class="colorlib-active" <% }%>><a href="/en/application">Appliaction</a>
            </li>
            <li <%if(page == "services"){%> class="colorlib-active" <% }%>><a href="/en/services">Service</a></li>
            <li <%if(page == "projects"){%> class="colorlib-active" <% }%>><a href="/en/projects">Projects</a></li>
            <li <%if(page == "contact"){%> class="colorlib-active" <% }%>><a href="/en/contact">Contact</a></li>
            <!-- <li><img src="/public/images/icon/vietnam.svg"> <img src="/public/images/icon/united-kingdom.svg"></li> -->
        </ul>
    </nav>

    <% } else { %>
    <aside id="colorlib-aside" role="complementary" class="border js-fullheight">

        <a href="index" id="colorlib-logo">
            <img src="/public/images/logo-portcoast-dt.png" alt="EduWell Template">
        </a>
        <nav id="colorlib-main-menu" role="navigation">
            <ul>
                <li <%if(page == "trang-chu"){%> class="colorlib-active" class="colorlib-active" <% }%>><a
                        href="trang-chu">Trang chủ</a></li>
                <li <%if(page == "ve-chung-toi"){%> class="colorlib-active" <% }%>><a href="/vi/ve-chung-toi">Giới
                        thiệu</a>
                </li>
                <li <%if(page == "ung-dung"){%> class="colorlib-active" <% }%>><a href="/vi/ung-dung">Ứng dụng</a></li>
                <li <%if(page == "dich-vu"){%> class="colorlib-active" <% }%>><a href="/vi/dich-vu">Dịch vụ</a></li>
                <li <%if(page == "du-an"){%> class="colorlib-active" <% }%>><a href="/vi/du-an">Dự án</a></li>
                <li <%if(page == "lien-he"){%> class="colorlib-active" <% }%>><a href="/vi/lien-he">Liên hệ</a></li>

            </ul>
        </nav>
        <% } %>
        <div class="colorlib-footer">
            <ul>
                <li style="font-size: 12px; ">
                    <a <% if(lang == "en"){ %> class="colorlib-active" <% } %> href="/en/<%= en %>">ENG</a>
                    |
                    <a <% if(lang != "en"){ %> class="colorlib-active" <% } %> href="/vi/<%= vi%>">VIE</a>
            </ul>
            <ul>
                <li><a href="#"><i class="icon-facebook2"></i></a></li>
                <li><a href="#"><i class="icon-twitter2"></i></a>
                </li>
                <li><a href="#"><i class="icon-linkedin2"></i></a>
                </li>
                <li><a href="#"><i class="icon-youtube"></i></a>
                </li>
            </ul>
        </div>
    </aside>