<% if(lang == "en"){%>
          <!-- Top Bar Start -->
          <div class="top-bar d-none d-md-block">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="top-bar-left">
                            <div class="text">
                                <i class="icon-phone3"></i>
                                <a href = "tel:02862970345"><p>(84 - 28) 62970345</p></a>
                            </div>
                            <div class="text">
                                <i class="icon-mail6"></i>
                                <a href = "mailto:portcoast@portcoast.com.vn"><p>portcoast@portcoast.com.vn</p></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="top-bar-right">
                            <div class="social">
                                <a href="https://www.facebook.com/portcoastdt" target="_blank"><i class="icon-facebook2"></i></a>
                                <a href="https://twitter.com/portcoast" target="_blank"><i class="icon-twitter2"></i></a>                
                                <a href="https://www.linkedin.com/in/portcoast/" target="_blank"><i class="icon-linkedin2"></i></a>
                                <a href="https://www.youtube.com/channel/UCRpMKTsHC7bdBM02gY9JRjg?view_as=subscriber" target="_blank"><i class="icon-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top Bar End -->

        <!-- Nav Bar Start -->
        <nav class="navbar navbar-expand-xxl navbar-dark bg-info p-3">
            <div class="container">
                <a href="/" id="pcc-logo">
                    <img src="/public/images/logo-portcoast-dt.png" alt="Portcoast DT">
                </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto ">
                    <li class="nav-item"><a class=" <%if(page == " "){%>active <% }%>nav-link mx-2" href="/">Home</a></li>
                    <li class="nav-item"><a class=" <%if(page == "about"){%>active <% }%>nav-link mx-2" href="/en/about">About us</a></li>
                    <li class="nav-item"><a class=" <%if(page == "solutions"){%>active <% }%>nav-link mx-2" href="/en/solutions">Solutions</a></li>
                    <li class="nav-item"><a class=" <%if(page == "products"){%>active <% }%> nav-link mx-2" href="/en/products">Products</a></li>
                    <li class="nav-item"><a class=" <%if(page == "projects"){%>active <% }%>nav-link mx-2" href="/en/projects">Projects</a></li>
                    <li class="nav-item"><a class=" <%if(page == "news"){%>active <% }%>nav-link mx-2"href="/en/news">News</a></li>
                    <li class="nav-item"><a class=" <%if(page == "frequently-asked-questions"){%>active <% }%>nav-link mx-2" href="/en/frequently-asked-questions">FAQs</a></li>
                    <li class="nav-item"><a class=" <%if(page == "contact"){%>active <% }%>nav-link mx-2" href="/en/contact">Contact</a></li>
                </ul>
                <ul class="navbar-nav ms-auto d-lg-inline-flex">
                  <li class="nav-item mx-2">
                    <a class="nav-link text-dark h5 <% if(lang == "en"){ %> active <% } %> " href="/en/<%= en %>"><img width="25px" src="/public/images/icon/united.png"></a>
                  </li>
                  <li class="nav-item mx-2">
                    <a class="nav-link text-dark h5 <% if(lang != "en"){ %> active <% } %>"  href="/vi/<%= vi%>"><img width="25px" src="/public/images/icon/vietnam.png"></a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        <!-- Nav Bar End -->

    <% } else { %>
            <!-- Top Bar Start -->
            <div class="top-bar d-none d-md-block">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                          <div class="top-bar-left">
                            <div class="text">
                                <i class="icon-phone3"></i>
                                <a href = "tel:02862970345"><p>(84 - 28) 62970345</p></a>
                            </div>
                            <div class="text">
                                <i class="icon-mail6"></i>
                                <a href = "mailto:portcoast@portcoast.com.vn"><p>portcoast@portcoast.com.vn</p></a>
                            </div>
                        </div>
                        </div>
                        <div class="col-md-4">
                            <div class="top-bar-right">
                                <div class="social">
                                    <a href="https://www.facebook.com/portcoastdt" target="_blank"><i class="icon-facebook2"></i></a>
                                    <a href="https://twitter.com/portcoast" target="_blank"><i class="icon-twitter2"></i></a>                
                                    <a href="https://www.linkedin.com/in/portcoast/" target="_blank"><i class="icon-linkedin2"></i></a>
                                    <a href="https://www.youtube.com/channel/UCRpMKTsHC7bdBM02gY9JRjg?view_as=subscriber" target="_blank"><i class="icon-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Top Bar End -->
    
            <!-- Nav Bar Start -->
            <nav class="navbar navbar-expand-xxl navbar-dark bg-info p-3">
                <div class="container">
                    <a href="/" id="pcc-logo">
                        <img src="/public/images/logo-portcoast-dt.png" alt="Portcoast DT">
                    </a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
              
                  <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ms-auto ">
                        <li class="nav-item"><a class=" <%if(page == "trang-chu"){%>active <% }%>nav-link mx-2" href="/vi/trang-chu">Trang chủ</a></li>
                        <li class="nav-item"><a class=" <%if(page == "gioi-thieu"){%>active <% }%>nav-link mx-2" href="/vi/gioi-thieu">Giới thiệu</a></li>
                        <li class="nav-item"><a class=" <%if(page == "giai-phap"){%>active <% }%>nav-link mx-2" href="/vi/giai-phap">Giải pháp</a></li>
                        <li class="nav-item"><a class=" <%if(page == "san-pham"){%>active <% }%> nav-link mx-2" href="/vi/san-pham">Sản phẩm</a></li>
                        <li class="nav-item"><a class=" <%if(page == "du-an"){%>active <% }%>nav-link mx-2" href="/vi/du-an">Dự án</a></li>
                        <li class="nav-item"><a class=" <%if(page == "tin-tuc"){%>active <% }%>nav-link mx-2"href="/vi/tin-tuc">Tin tức</a></li>
                        <li class="nav-item"><a class=" <%if(page == "nhung-cau-hoi-thuong-gap-faqs"){%>active <% }%>nav-link mx-2" href="/vi/nhung-cau-hoi-thuong-gap-faqs">FAQs</a></li>
                        <li class="nav-item"><a class=" <%if(page == "lien-he"){%>active <% }%>nav-link mx-2" href="/vi/lien-he">Liên hệ</a></li>
                    </ul>
                    <ul class="navbar-nav ms-auto d-lg-inline-flex">
                      <li class="nav-item mx-2">
                        <a class="nav-link text-dark h5 <% if(lang == "en"){ %> active <% } %> " href="/en/<%= en %>"><img width="25px" src="/public/images/icon/united.png"></a>
                      </li>
                      <li class="nav-item mx-2">
                        <a class="nav-link text-dark h5 <% if(lang != "en"){ %> active <% } %>"  href="/vi/<%= vi%>"><img width="25px" src="/public/images/icon/vietnam.png"></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
            <!-- Nav Bar End -->
        <% } %>


