  <!-- Sidebar Start -->
  <div class="col-lg-4 sidebar animate-box" data-animate-effect="fadeInLeft">
      <div class="pcc-narrow-content">
          <!-- Category Start -->
          <!-- Category End -->

          <!-- Recent Post Start -->
          <%- include(dir+'partials/sidebar-project.ejs')%>
          <!-- Recent Post End -->
      </div>
  </div>
  <!-- Sidebar End -->