<%if(lang === 'en'){%>
<div class="mb-5">
    <h4 class="pcc-heading d-inline-block text-uppercase border-5 mb-5">Products
    </h4>
    <div class="d-flex flex-column justify-content-start">
        <a class="rounded py-3 px-4 mb-1"  id="shortcut" href="/en/products/point-cloud-model"><i
                class="icon-media-stop me-2"></i>3D Point Cloud Model</a>
        <a class="rounded py-3 px-4 mb-1"  id="shortcut" href="/en/products/truviews"><i
                class="icon-media-stop me-2"></i>Truviews</a>
        <a class="rounded py-3 px-4 mb-1"  id="shortcut" href="/en/products/bim-models"><i
                class="icon-media-stop me-2"></i>BIM Model</a>
        <a class="rounded py-3 px-4 mb-1"  id="shortcut" href="/en/products/3d-mesh-models"><i
                class="icon-media-stop me-2"></i>3D Mesh Model</a>
        <a class="rounded py-3 px-4 mb-1"  id="shortcut" href="/en/products/deformation-and-deflection-survey"><i
                class="icon-media-stop me-2"></i>Deformation & Deflection Survey</a>
        <a class="rounded py-3 px-4 mb-1"  id="shortcut" href="/en/products/volume-survey"><i class="icon-media-stop me-2"></i>Volume
            Survey</a>
        <a class="rounded py-3 px-4 mb-1"  id="shortcut" href="/en/products/clash-detection"><i
                class="icon-media-stop me-2"></i>Clash Detection</a>
        <a class="rounded py-3 px-4 mb-1"  id="shortcut" href="/en/products/3d-mapping"><i
                class="icon-media-stop me-2"></i>3D Mapping</a>
        <a class="rounded py-3 px-4 mb-1"  id="shortcut" href="/en/products/visualization"><i
                class="icon-media-stop me-2"></i>Visualization (AR/VR/MR)</a>
        <a class="rounded py-3 px-4 mb-1"  id="shortcut" href="/en/products/360-virtual-tours"><i
                class="icon-media-stop me-2"></i>Virtual Tour 360°</a>

    </div>
</div>
<%} else {%>
<div class="mb-5">
    <h4 class="pcc-heading d-inline-block text-uppercase border-5 mb-5">Sản phẩm
    </h4>
    <div class="d-flex flex-column justify-content-start">
        <a class="rounded py-3 px-4 mb-1"  id="shortcut" href="/vi/san-pham/mo-hinh-dam-may-diem"><i
                class="icon-media-stop me-2"></i>Mô hình đám mây điểm</a>
        <a class="rounded py-3 px-4 mb-1"  id="shortcut" href="/vi/san-pham/truviews"><i
                class="icon-media-stop me-2"></i>Truviews</a>
        <a class="rounded py-3 px-4 mb-1"  id="shortcut" href="/vi/san-pham/mo-hinh-bim"><i
                class="icon-media-stop me-2"></i>Mô hình BIM</a>
        <a class="rounded py-3 px-4 mb-1"  id="shortcut" href="/vi/san-pham/mo-hinh-luoi"><i
                class="icon-media-stop me-2"></i>Mô hình lưới</a>
        <a class="rounded py-3 px-4 mb-1"  id="shortcut" href="/vi/san-pham/khao-sat-bien-dang-va-chuyen-vi"><i
                class="icon-media-stop me-2"></i>Khảo sát biến dạng & Chuyển vị</a>
        <a class="rounded py-3 px-4 mb-1"  id="shortcut" href="/vi/san-pham/khao-sat-khoi-luong"><i
                class="icon-media-stop me-2"></i>Khảo sát khối lượng</a>
        <a class="rounded py-3 px-4 mb-1"  id="shortcut" href="/vi/san-pham/phat-hien-xung-dot"><i
                class="icon-media-stop me-2"></i>Phát hiện xung đột</a>
        <a class="rounded py-3 px-4 mb-1"  id="shortcut" href="/vi/san-pham/lap-ban-do-3d"><i
                class="icon-media-stop me-2"></i>Lập bản đồ 3D</a>
        <a class="rounded py-3 px-4 mb-1"  id="shortcut" href="/vi/san-pham/truc-quan-hoa"><i
                class="icon-media-stop me-2"></i>Trực quan hóa (AR/VR/MR)</a>
        <a class="rounded py-3 px-4 mb-1"  id="shortcut" href="/vi/san-pham/tham-quan-ao-360"><i
                class="icon-media-stop me-2"></i>Tham quan ảo 360°</a>

    </div>
</div>
<%}%>
  <script>
      document.querySelectorAll("#shortcut").forEach((current) => {
          if (window.location.href === current.href) current.classList.add("active")
      })
  </script>