<%if(lang === 'en'){%>
<div class="mb-5 animate-box" data-animate-effect="fadeInLeft">
    <h4 class="pcc-heading d-inline-block text-uppercase border-5 mb-5">Solutions</h4>
    <div class="d-flex flex-column justify-content-start">
        <a class="bg-light rounded py-2 px-3 mb-2" id="shortcut" href="/en/solutions/surveying"><i
                class="fa fa-angle-right me-2"></i>Surveying</a>
        <a class="bg-light rounded py-2 px-3 mb-2" id="shortcut" href="/en/solutions/bim"><i
                class="fa fa-angle-right me-2"></i>BIM
            & Scan to BIM</a>
        <a class="bg-light rounded py-2 px-3 mb-2" id="shortcut" href="/en/solutions/gis-and-bim-integration"><i
                class="fa fa-angle-right me-2"></i>GIS & BIM Integration</a>
        <a class="bg-light rounded py-2 px-3 mb-2" id="shortcut" href="/en/solutions/digital-twin"><i
                class="fa fa-angle-right me-2"></i>Digital Twin</a>
    </div>
</div>
<%} else {%>
<div class="mb-5 animate-box" data-animate-effect="fadeInLeft">
    <h4 class="pcc-heading d-inline-block text-uppercase border-5 mb-5">Giải pháp
    </h4>
    <div class="d-flex flex-column justify-content-start">
        <a class="bg-light rounded py-2 px-3 mb-2" id="shortcut" href="/vi/giai-phap/khao-sat-xay-dung"><i
                class="fa fa-angle-right me-2"></i>Khảo sát xây dựng</a>
        <a class="bg-light rounded py-2 px-3 mb-2" id="shortcut" href="/vi/giai-phap/bim"><i class="fa fa-angle-right me-2"></i>BIM &
            Scan to BIM</a>
        <a class="bg-light rounded py-2 px-3 mb-2" id="shortcut" href="/vi/giai-phap/ket-hop-gis-va-bim"><i
                class="fa fa-angle-right me-2"></i>Kết hợp GIS & BIM</a>
        <a class="bg-light rounded py-2 px-3 mb-2" id="shortcut" href="/vi/giai-phap/ban-sao-ky-thuat-so"><i
                class="fa fa-angle-right me-2"></i>Bản sao kỹ thuật số (Digital Twin)</a>

    </div>
</div>
<%}%>
  <script>
      document.querySelectorAll("#shortcut").forEach((current) => {
          if (window.location.href === current.href) current.classList.add("active")
      })
  </script>