<div class="mb-5" id="project">
    <h4 class="pcc-heading d-inline-block text-uppercase border-5 mb-5">
        <%=lang === 'en'?'Project':'Dự án'%>
    </h4>
</div>
<script>
    fetch('/api/project', {
            method: "GET",
        }).then(response => response.json())
        .then(data => {
            for (let item of data) {
                document.getElementById("project").innerHTML += ` <div class="d-flex rounded overflow-hidden mb-3">
    <img class="img-fluid" src="/public/images/projects/${item.folder}/cover.jpg"
        style="width: 100px; height: 100px; object-fit: cover;" alt="">
    <a style="width: 100%;"  href="/en/projects/${item.url_<%= lang %>}" class="d-flex align-items-center px-3 mb-0">${item.title_<%=lang%>}
        </a>
</div>`
            }
        })
</script>