<!DOCTYPE HTML>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="vi" />
    <title>Số hóa Nhà hát TP. Hồ Chí Minh | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Portcoast DT sử dụng công nghệ quét 3D laser để khảo sát hiện trạng bên ngoài và bên trong nhà hát" />
    <meta name="keywords" content="Dịch vụ BIM, Scan to BIM, Khảo sát 3D Laser, Số hóa công trình xây dựng" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail" content="https://portcoast-bim.com/public/images/projects/saigon-opera-house/cover.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="vi"
        content="Số hóa Nhà hát TP. Hồ Chí Minh | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Tp. Hồ Chí Minh, Việt Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/vi/du-an/nha-hat-thanh-pho-ho-chi-minh" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title"
        content="Số hóa Nhà hát TP. Hồ Chí Minh | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
    <meta property="og:description"
        content="Portcoast DT sử dụng công nghệ quét 3D laser để khảo sát hiện trạng bên ngoài và bên trong nhà hát" />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/projects/saigon-opera-house/cover.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/vi/du-an/nha-hat-thanh-pho-ho-chi-minh" />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title"
        content="Số hóa Nhà hát TP. Hồ Chí Minh | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
    <meta name="twitter:description"
        content="Portcoast DT sử dụng công nghệ quét 3D laser để khảo sát hiện trạng bên ngoài và bên trong nhà hát" />
    <meta name="twitter:image"
        content="https://portcoast-bim.com/public/images/projects/saigon-opera-house/cover.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/vi/du-an/nha-hat-thanh-pho-ho-chi-minh" />
    <%- include (dir+'partials/css.ejs')%>
</head>

<body>
    <div id="pcc-page">
        <a class="js-pcc-nav-toggle pcc-nav-toggle"><i></i></a>
        <%- include (dir+'partials/nav.ejs')%>
        <div id="pcc-main">
            <div class="pcc-solution">
                <div class="pcc-narrow-content">
                    <div class="row">
                        <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                            data-animate-effect="fadeInLeft">
                            <span class="heading-meta">Dự án</span>
                            <h2 class="pcc-heading animate-box">Số hóa nhà hát Thành phố Hồ Chí Minh</h2>
                        </div>
                    </div>
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                            <ul class="pcc-list">
                                <li><strong>Vị trí:</strong> TP. Hồ Chí Minh, Việt Nam</li>
                                <li><strong>Sản phẩm cung cấp:</strong> Mô hình 3D đám mây điểm - Mô hình 3D Photogrammetry - Mô hình
                                    BIM - Tham quan ảo 360&deg</li>
                            </ul>
                            <p>Nhà hát Thành phố Hồ Chí Minh là công trình kiến trúc hào nhoáng được xây dựng từ năm
                                1898 bởi kiến trúc sư Pháp Eugene Ferret. Với cấu trúc đối xứng và hệ thống cửa cách âm,
                                nhà hát có sức chứa 468 khách và đáp ứng chất lượng âm thanh và tầm nhìn tốt từ mọi ghế
                                về sân khấu. Kiến trúc nhà hát đẹp mắt với mái vòm và các chi tiết tinh tế như bức tượng
                                chạm trổ, đèn pha lê và sàn đá granit. Tuy nhiên, với thời gian và sự khắc nghiệt của
                                thời tiết, công trình này đã bị xuống cấp và cần được bảo tồn, tu sửa.</p>
                            <p>Portcoast DT sử dụng công nghệ quét 3D laser để khảo sát hiện trạng bên ngoài và bên trong nhà hát. Dữ
                                liệu ảnh và đám mây điểm với độ chi tiết cao thu về được, chúng tôi sử dụng để mô hình hóa 3D, tạo ra một
                                phiên bản số hóa chân thực của nhà hát,
                                giúp cho công trình có thể được bảo tồn, phục hồi. Đồng thời dễ dàng truyền tải giá trị lịch sử, văn
                                hóa đến công chúng một cách dễ dàng và trực quan thông qua các ứng dụng di động, nền tảng trò chơi (AR/VR) và chuyến tham quan ảo.</p>
                        </div>
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                            <img class="img-fluid" src="/public/images/projects/saigon-opera-house/cover.jpg">
                        </div>
                    </div>
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                            <div class="row gallery-item">
                                <div class="col-md-6">
                                    <a href="/public/images/projects/saigon-opera-house/01.jpg"
                                        alt="Số hóa nhà hát Thành phố Hồ Chí Minh" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/saigon-opera-house/01.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/saigon-opera-house/02.jpg"
                                        alt="Số hóa nhà hát Thành phố Hồ Chí Minh" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/saigon-opera-house/02.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/saigon-opera-house/03.jpg"
                                        alt="Số hóa nhà hát Thành phố Hồ Chí Minh" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/saigon-opera-house/03.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/saigon-opera-house/04.jpg"
                                        alt="Số hóa nhà hát Thành phố Hồ Chí Minh" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/saigon-opera-house/04.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-6">
                                    <a href="/public/images/projects/saigon-opera-house/05.jpg"
                                        alt="Số hóa nhà hát Thành phố Hồ Chí Minh" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/saigon-opera-house/05.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/saigon-opera-house/06.jpg"
                                        alt="Số hóa nhà hát Thành phố Hồ Chí Minh" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/saigon-opera-house/06.jpg);">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include (dir+'partials/footer.ejs')%>
        </div>
    </div>
    <%- include (dir+'partials/js.ejs')%>
</body>

</html>