<!DOCTYPE HTML>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="vi" />
    <title>Khảo sát hiện trạng phục vụ sửa chữa - Sự cố va chạm tàu tại Cảng Container Quốc tế SP-SSA (SSIT) | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="Dịch vụ BIM, Scan to BIM, Khảo sát 3D Laser, Số hóa công trình xây dựng" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="index, follow">
    <meta name="thumbnail" content="https://portcoast-bim.com/public/images/projects/ship-collision-incident-at-sp-ssa-international-terminal/cover.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="vi"
        content="Khảo sát hiện trạng phục vụ sửa chữa sự cố va chạm tàu tại Cảng Container Quốc tế SP-SSA (SSIT) | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Tp. Hồ Chí Minh, Việt Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/vi/du-an/su-co-va-cham-tau-tai-cang-container-quoc-te-ssit" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title"
        content="Khảo sát hiện trạng phục vụ sửa chữa sự cố va chạm tàu tại Cảng Container Quốc tế SP-SSA (SSIT) | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/projects/ship-collision-incident-at-sp-ssa-international-terminal/cover.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/vi/du-an/su-co-va-cham-tau-tai-cang-container-quoc-te-ssit" />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title"
        content="Khảo sát hiện trạng phục vụ sửa chữa sự cố va chạm tàu tại Cảng Container Quốc tế SP-SSA (SSIT) | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:image" content="https://portcoast-bim.com/public/images/projects/ship-collision-incident-at-sp-ssa-international-terminal/cover.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/vi/du-an/su-co-va-cham-tau-tai-cang-container-quoc-te-ssit" />
    <%- include (dir+'partials/css.ejs')%>
</head>

<body>
    <div id="pcc-page">
        <a class="js-pcc-nav-toggle pcc-nav-toggle"><i></i></a>
        <%- include (dir+'partials/nav.ejs')%>
        <div id="pcc-main">
            <div class="pcc-solution">
                <div class="pcc-narrow-content">
                    <div class="row">
                        <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                            data-animate-effect="fadeInLeft">
                            <span class="heading-meta">Dự án</span>
                            <h2 class="pcc-heading animate-box">Khảo sát hiện trạng phục vụ sửa chữa - Sự cố va chạm tàu tại Cảng Container Quốc tế SP-SSA (SSIT)</h2>
                        </div>
                    </div>
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                            <ul class="pcc-list">
                                <li><strong>Vị trí:</strong> Tỉnh Bà Rịa - Vũng Tàu, Việt Nam</li>
                                <li><strong>Chủ đầu tư:</strong> Công Ty Liên doanh Dịch vụ Container Quốc tế Cảng Sài Gòn SSA (Liên doanh giữa SSA Marine (Mỹ) - Vinalines - Cảng Sài Gòn).</li>
                                <li><strong>Quy mô:</strong> 60,55ha; Bến container: 2; Chiều dài bến: 600m; Tiếp nhận tàu container đến 160.000DWT</li>
                                <li><strong>Sản phẩm bàn giao:</strong> Mô hình 3D đám mây điểm - Mô hình 3D Photogrammetry - Mô hình BIM</li>
                            </ul>
                        </div>
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                            <img class="img-fluid" src="/public/images/projects/ship-collision-incident-at-sp-ssa-international-terminal/cover.jpg">
                        </div>
                    </div>
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                            <div class="row gallery-item">
                                <div class="col-md-6">
                                    <a href="/public/images/projects/ship-collision-incident-at-sp-ssa-international-terminal/01.jpg"
                                        alt="Khảo sát hiện trạng phục vụ sửa chữa sự cố va chạm tàu tại Cảng Container Quốc tế SP-SSA (SSIT)" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/ship-collision-incident-at-sp-ssa-international-terminal/01.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/ship-collision-incident-at-sp-ssa-international-terminal/02.jpg"
                                        alt="Khảo sát hiện trạng phục vụ sửa chữa sự cố va chạm tàu tại Cảng Container Quốc tế SP-SSA (SSIT)" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/ship-collision-incident-at-sp-ssa-international-terminal/02.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/ship-collision-incident-at-sp-ssa-international-terminal/03.jpg"
                                        alt="Khảo sát hiện trạng phục vụ sửa chữa sự cố va chạm tàu tại Cảng Container Quốc tế SP-SSA (SSIT)" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/ship-collision-incident-at-sp-ssa-international-terminal/03.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/ship-collision-incident-at-sp-ssa-international-terminal/04.jpg"
                                        alt="Khảo sát hiện trạng phục vụ sửa chữa sự cố va chạm tàu tại Cảng Container Quốc tế SP-SSA (SSIT)" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/ship-collision-incident-at-sp-ssa-international-terminal/04.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-6">
                                    <a href="/public/images/projects/ship-collision-incident-at-sp-ssa-international-terminal/05.jpg"
                                        alt="Khảo sát hiện trạng phục vụ sửa chữa sự cố va chạm tàu tại Cảng Container Quốc tế SP-SSA (SSIT)" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/ship-collision-incident-at-sp-ssa-international-terminal/05.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/ship-collision-incident-at-sp-ssa-international-terminal/06.jpg"
                                        alt="Khảo sát hiện trạng phục vụ sửa chữa sự cố va chạm tàu tại Cảng Container Quốc tế SP-SSA (SSIT)" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/ship-collision-incident-at-sp-ssa-international-terminal/06.jpg);">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include (dir+'partials/footer.ejs')%>
        </div>
    </div>
    <%- include (dir+'partials/js.ejs')%>
</body>

</html>