<!DOCTYPE HTML>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="vi" />
    <title>Cảng Sài Gòn - Hiệp Phước | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Chúng tôi khảo sát khu vực Cảng bằng UAV kết hợp các trạm quét 3D laser mặt đất. Dữ liệu ảnh và mô hình đám mây điểm được chúng tôi sử dụng để làm dữ liệu tạo mô hình BIM." />
    <meta name="keywords" content="Dịch vụ BIM, Scan to BIM, Khảo sát 3D Laser, Số hóa công trình xây dựng" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail" content="https://portcoast-bim.com/public/images/projects/saigon-hiep-phuoc-port/cover.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="vi"
        content="Cảng Sài Gòn - Hiệp Phước | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Tp. Hồ Chí Minh, Việt Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/vi/du-an/cang-sai-gon-hiep-phuoc" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title"
        content="Cảng Sài Gòn - Hiệp Phước | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
    <meta property="og:description" content="Chúng tôi khảo sát khu vực Cảng bằng UAV kết hợp các trạm quét 3D laser mặt đất. Dữ liệu ảnh và mô hình đám mây điểm được chúng tôi sử dụng để làm dữ liệu tạo mô hình BIM." />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/projects/saigon-hiep-phuoc-port/cover.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/vi/du-an/cang-sai-gon-hiep-phuoc" />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title"
        content="Cảng Sài Gòn - Hiệp Phước | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
    <meta name="twitter:description" content="Chúng tôi khảo sát khu vực Cảng bằng UAV kết hợp các trạm quét 3D laser mặt đất. Dữ liệu ảnh và mô hình đám mây điểm được chúng tôi sử dụng để làm dữ liệu tạo mô hình BIM." />
    <meta name="twitter:image" content="https://portcoast-bim.com/public/images/projects/saigon-hiep-phuoc-port/cover.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/vi/du-an/cang-sai-gon-hiep-phuoc" />
    <%- include (dir+'partials/css.ejs')%>
</head>

<body>
    <div id="pcc-page">
        <a class="js-pcc-nav-toggle pcc-nav-toggle"><i></i></a>
        <%- include (dir+'partials/nav.ejs')%>
        <div id="pcc-main">
            <div class="pcc-solution">
                <div class="pcc-narrow-content">
                    <div class="row">
                        <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                            data-animate-effect="fadeInLeft">
                            <span class="heading-meta">Dự án</span>
                            <h2 class="pcc-heading animate-box">Số hóa Cảng Sài Gòn - Hiệp Phước</h2>
                        </div>
                    </div>
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                            <ul class="pcc-list">
                                <li><strong>Chủ đầu tư:</strong> Công Ty CP Cảng Sài Gòn - Hiệp Phước</li>
                                <li><strong>Vị trí:</strong> Sông Soài Rạp, KCN Hiệp Phước, Tp. Hồ Chí Minh, Việt Nam</li>
                                <li><strong>Quy mô:</strong> Bến cảng tổng hợp, chiều dài bến 800m và chiều rộng bến 60m tiếp nhận tàu trọng tải 50.000 DWT</li>
                                <li><strong>Sản phẩm bàn giao:</strong> Mô hình 3D đám mây điểm - Mô hình 3D Photogrammetry - Mô hình BIM</li>
                            </ul>
                            <p>Cảng Sài Gòn - Hiệp Phước là một cảng thuộc cụm cảng Sài Gòn, nằm trên sông Soài Rạp ở Huyện Nhà Bè, phục vụ khu vực Thành phố Hồ Chí Minh và miền Tây Nam Bộ.</p>
                            <p>Chúng tôi khảo sát khu vực Cảng bằng UAV kết hợp các trạm quét 3D laser mặt đất. Dữ liệu ảnh và mô hình đám mây điểm được chúng tôi sử dụng để làm dữ liệu tạo mô hình BIM.</p>
                        </div>
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                            <img class="img-fluid" src="/public/images/projects/saigon-hiep-phuoc-port/cover.jpg">
                        </div>
                    </div>
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                            <div class="row gallery-item">
                                <div class="col-md-6">
                                    <a href="/public/images/projects/saigon-hiep-phuoc-port/01.jpg"
                                        alt="Cảng Sài Gòn - Hiệp Phước" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/saigon-hiep-phuoc-port/01.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/saigon-hiep-phuoc-port/02.jpg"
                                        alt="Cảng Sài Gòn - Hiệp Phước" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/saigon-hiep-phuoc-port/02.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/saigon-hiep-phuoc-port/03.jpg"
                                        alt="Cảng Sài Gòn - Hiệp Phước" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/saigon-hiep-phuoc-port/03.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/saigon-hiep-phuoc-port/04.jpg"
                                        alt="Cảng Sài Gòn - Hiệp Phước" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/saigon-hiep-phuoc-port/04.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-6">
                                    <a href="/public/images/projects/saigon-hiep-phuoc-port/05.jpg"
                                        alt="Cảng Sài Gòn - Hiệp Phước" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/saigon-hiep-phuoc-port/05.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/saigon-hiep-phuoc-port/06.jpg"
                                        alt="Cảng Sài Gòn - Hiệp Phước" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/saigon-hiep-phuoc-port/06.jpg);">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include (dir+'partials/footer.ejs')%>
        </div>
    </div>
    <%- include (dir+'partials/js.ejs')%>
</body>

</html>