<!DOCTYPE HTML>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="vi" />
    <title>Khảo sát quy hoạch Trung tâm Logistics Cái Mép Hạ | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Chúng tôi sử dụng nhiều giải pháp khảo sát để thu thập dữ liệu về khu vực rộng lớn có sông rạch, đầm lầy và cửa biển, bao gồm: máy bay không người lái UAV, quét 3D laser, lập bản đồ di động (Mobile Mapping), khảo sát đo sâu đa tia bằng USV" />
    <meta name="keywords" content="Dịch vụ BIM, Scan to BIM, Khảo sát 3D Laser, Số hóa công trình xây dựng" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail" content="https://portcoast-bim.com/public/images/projects/logistics-cai-mep-ha/cover.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="vi"
        content="Khảo sát quy hoạch Trung tâm Logistics Cái Mép Hạ | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Tp. Hồ Chí Minh, Việt Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/vi/du-an/trung-tam-logistics-cai-mep-ha" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title"
        content="Khảo sát quy hoạch Trung tâm Logistics Cái Mép Hạ | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
    <meta property="og:description"
        content="Chúng tôi sử dụng nhiều giải pháp khảo sát để thu thập dữ liệu về khu vực rộng lớn có sông rạch, đầm lầy và cửa biển, bao gồm: máy bay không người lái UAV, quét 3D laser, lập bản đồ di động (Mobile Mapping), khảo sát đo sâu đa tia bằng USV" />
    <meta property="og:image"
        content="https://portcoast-bim.com/public/images/projects/logistics-cai-mep-ha/cover.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/vi/du-an/trung-tam-logistics-cai-mep-ha" />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title"
        content="Khảo sát quy hoạch Trung tâm Logistics Cái Mép Hạ | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
    <meta name="twitter:description"
        content="Chúng tôi sử dụng nhiều giải pháp khảo sát để thu thập dữ liệu về khu vực rộng lớn có sông rạch, đầm lầy và cửa biển, bao gồm: máy bay không người lái UAV, quét 3D laser, lập bản đồ di động (Mobile Mapping), khảo sát đo sâu đa tia bằng USV" />
    <meta name="twitter:image"
        content="https://portcoast-bim.com/public/images/projects/logistics-cai-mep-ha/cover.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/vi/du-an/trung-tam-logistics-cai-mep-ha" />
    <%- include (dir+'partials/css.ejs')%>
</head>

<body>
    <div id="pcc-page">
  
        <%- include (dir+'partials/nav.ejs')%>
        <div id="pcc-main">
            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                    </div>
                </div>
            </div>
            <!-- Page Header End -->
            <div class="pcc-solution">
                <div class="container">
                    <div class="pcc-narrow-content">
                        <div class="row">
                            <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                                data-animate-effect="fadeInLeft">
                                <span class="heading-meta">Dự án</span>
                                <h2 class="pcc-heading animate-box">Khảo sát phục vụ quy hoạch Trung tâm Logistics Cái
                                    Mép
                                    Hạ</h2>
                            </div>
                        </div>
                        <div class="row row-bottom-padded-md">
                            <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                                <ul class="pcc-list">
                                    <li><strong>Vị trí:</strong> Tỉnh Bà Rịa - Vũng Tàu, Việt Nam</li>
                                    <li><strong>Chủ đầu tư:</strong> Công ty TNHH Cảng Quốc tế Cái Mép
                                        (Liên doanh gồm APMT - Công ty
                                        thuộc Tập đoàn Maesk của Đan Mạch, Vinalines và Cảng Sài Gòn)</li>
                                    <li><strong>Quy mô:</strong> 48ha, Bến container: 2, Chiều dài cầu cảng: 600m, Tàu
                                        container
                                        tải trọng đến 160.000 - 200.000DWT</li>
                                    <li><strong>Sản phẩm cung cấp:</strong> Mô hình 3D đám mây điểm - Mô hình 3D
                                        Photogrammetry - Phối cảnh 3D quy hoạch
                                    </li>
                                </ul>
                                <div class="mb-4">
                                    <a href="https://portal.furioos.com/share/jvzsKWNqPea52TjCW?autoRun=true" class="btn btn-primary btn-learn">Game</a>
                                    <a href="https://sketchfab.com/models/959a2573f9a34e61a8e960e47b92f946/embed" class="btn btn-primary btn-learn">3D Model (AR/VR)</a>
                                    <a href="https://docs.b360.autodesk.com/session?redirect=%2Fprojects%2F0cef0844-e205-4723-bc39-2edcd7149e9b%2Ffolders%2Furn%3Aadsk.wipprod%3Afs.folder%3Aco.JjOHWf4WQgKDGmsizcNXug%2Fdocuments%2Furn%3Aadsk.wipprod%3Adm.lineage%3AcGx83IacTjavFHXdT9FxDA" class="btn btn-primary btn-learn">BIM 360</a>
                                    <a href="https://arcg.is/iKfuH0" class="btn btn-primary btn-learn">BIM - GIS</a>
                                </div>
                            </div>
                            <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                                <img class="img-fluid mb-4"
                                    src="/public/images/projects/logistics-cai-mep-ha/cover.jpg">
                            </div>
                            <div class="col-md-12 animate-box" data-animate-effect="fadeInRight">
                                <p>Trung tâm Logistics Cái Mép Hạ là một trong những dự án trọng
                                    điểm của tỉnh Bà Rịa - Vũng Tàu, nhằm tận dụng lợi thế cảng biển của tỉnh để đóng
                                    góp quan trọng cho sự
                                    phát triển của tỉnh, khu vực và cả quốc gia. Tổng diện tích của dự án là khoảng
                                    1.763 ha,
                                    trong đó có Trung tâm Logistics và bến cảng Cái Mép Hạ hạ lưu chiếm diện tích hơn
                                    984 ha
                                    và diện tích mặt nước là hơn 455 ha bao gồm luồng, vũng quay tàu và khu nước trước
                                    bến.
                                    Ngoài ra, dự án còn có diện tích dành cho dự trữ năng lượng sạch khoảng 197 ha và
                                    diện
                                    tích mặt nước tiềm năng là 125,34 ha. Trung tâm Logistics này được xây dựng với tính
                                    chất là một trung tâm trung chuyển hàng hóa quy mô khu vực và thế giới, có nhiệm vụ
                                    tiếp
                                    nhận và trung chuyển hàng hóa đi/đến các tỉnh thành trong cả nước và các quốc gia
                                    trên
                                    thế giới thông qua đường biển, đường thủy nội địa và đường bộ.</p>
                                <p>Chúng tôi sử dụng nhiều giải pháp khảo sát để thu thập dữ liệu về khu vực rộng lớn có
                                    sông rạch, đầm lầy và cửa biển, bao gồm: máy bay không người lái UAV, quét 3D laser,
                                    lập
                                    bản đồ di động (Mobile Mapping), khảo sát đo sâu đa tia bằng USV, Công nghệ khảo sát
                                    Sub-bottom Profiling, để khảo sát toàn bộ hiện trạng địa hình từ trên bờ đến mặt đáy
                                    biển và địa tầng. Dữ liệu khảo sát sẽ được tổng hợp vào một nền tảng giúp dễ dàng
                                    truy
                                    suất và áp dụng cho nhiều mục đích tính toán san lấp, nạo vét, quy hoạch,...</p>
                            </div>
                        </div>
                        <div class="row row-bottom-padded-md">
                            <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                                <div class="row gallery-item">
                                    <div class="col-md-6">
                                        <a href="/public/images/projects/logistics-cai-mep-ha/01.jpg"
                                            alt="Khảo sát quy hoạch Trung tâm Logistics Cái Mép Hạ"
                                            data-lightbox="photos" class="img-gal">
                                            <div class="single-gallery-image"
                                                style="background: url(/public/images/projects/logistics-cai-mep-ha/01.jpg);">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="/public/images/projects/logistics-cai-mep-ha/02.jpg"
                                            alt="Khảo sát quy hoạch Trung tâm Logistics Cái Mép Hạ"
                                            data-lightbox="photos" class="img-gal">
                                            <div class="single-gallery-image"
                                                style="background: url(/public/images/projects/logistics-cai-mep-ha/02.jpg);">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="/public/images/projects/logistics-cai-mep-ha/03.jpg"
                                            alt="Khảo sát quy hoạch Trung tâm Logistics Cái Mép Hạ"
                                            data-lightbox="photos" class="img-gal">
                                            <div class="single-gallery-image"
                                                style="background: url(/public/images/projects/logistics-cai-mep-ha/03.jpg);">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="/public/images/projects/logistics-cai-mep-ha/04.jpg"
                                            alt="Khảo sát quy hoạch Trung tâm Logistics Cái Mép Hạ"
                                            data-lightbox="photos" class="img-gal">
                                            <div class="single-gallery-image"
                                                style="background: url(/public/images/projects/logistics-cai-mep-ha/04.jpg);">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="/public/images/projects/logistics-cai-mep-ha/05.jpg"
                                            alt="Khảo sát quy hoạch Trung tâm Logistics Cái Mép Hạ"
                                            data-lightbox="photos" class="img-gal">
                                            <div class="single-gallery-image"
                                                style="background: url(/public/images/projects/logistics-cai-mep-ha/05.jpg);">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="/public/images/projects/logistics-cai-mep-ha/06.jpg"
                                            alt="Khảo sát quy hoạch Trung tâm Logistics Cái Mép Hạ"
                                            data-lightbox="photos" class="img-gal">
                                            <div class="single-gallery-image"
                                                style="background: url(/public/images/projects/logistics-cai-mep-ha/06.jpg);">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include (dir+'partials/footer.ejs')%>
        </div>
    </div>
    <%- include (dir+'partials/js.ejs')%>
</body>

</html>