<!DOCTYPE HTML>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="vi" />
    <title>Số hóa Tuyến Metro số 1 | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Portcoast DT đã tiến hành khảo sát tuyến Metro số 1 bằng các công nghệ quét 3D Laser Scan
                                và công nghệ thu thập dữ liệu bằng thiết bị bay không người lái UAV." />
    <meta name="keywords" content="Dịch vụ BIM, Scan to BIM, Khảo sát 3D Laser, Số hóa công trình xây dựng" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail" content="https://portcoast-bim.com/public/images/projects/metro-saigon/cover.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="vi"
        content="Số hóa Tuyến Metro số 1 | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Tp. Hồ Chí Minh, Việt Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/vi/du-an/tuyen-so-1-duong-sat-do-thi-tphcm" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title"
        content="Số hóa Tuyến Metro số 1 | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
    <meta property="og:description" content="Portcoast DT đã tiến hành khảo sát tuyến Metro số 1 bằng các công nghệ quét 3D Laser Scan
                                và công nghệ thu thập dữ liệu bằng thiết bị bay không người lái UAV." />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/projects/metro-saigon/cover.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/vi/du-an/tuyen-so-1-duong-sat-do-thi-tphcm" />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title"
        content="Số hóa Tuyến Metro số 1 | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
    <meta name="twitter:description" content="Portcoast DT đã tiến hành khảo sát tuyến Metro số 1 bằng các công nghệ quét 3D Laser Scan
                                và công nghệ thu thập dữ liệu bằng thiết bị bay không người lái UAV." />
    <meta name="twitter:image" content="https://portcoast-bim.com/public/images/projects/metro-saigon/cover.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/vi/du-an/tuyen-so-1-duong-sat-do-thi-tphcm" />
    <%- include (dir+'partials/css.ejs')%>
</head>

<body>
    <div id="pcc-page">
        <a class="js-pcc-nav-toggle pcc-nav-toggle"><i></i></a>
        <%- include (dir+'partials/nav.ejs')%>
        <div id="pcc-main">
            <div class="pcc-solution">
                <div class="pcc-narrow-content">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box"
                            data-animate-effect="fadeInLeft">
                            <span class="heading-meta">Dự án</span>
                            <h2 class="pcc-heading animate-box">Số hóa Tuyến Metro số 1<br>Đường sắt đô thị TP. Hồ Chí
                                Minh</h2>
                        </div>
                    </div>
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                            <ul class="pcc-list">
                                <li><strong>Vị trí:</strong> Tp. Hồ Chí Minh, Việt Nam</li>
                                <li><strong>Quy mô:</strong> Chiều dài tuyến: 19,7 km (12,2 mi); Khổ đường sắt: 1.435 mm
                                    (4 ft 8 1⁄2 in) Khổ tiêu chuẩn</li>
                                <li><strong>Sản phẩm cung cấp:</strong> Mô hình đám mây điểm - Mô hình lưới 3D - Mô hình
                                    BIM - Tham quan ảo 360&deg</li>
                            </ul>
                            <p>Tuyến Metro số 1 hay còn gọi là tuyến metro Bến Thành - Suối Tiên là một tuyến đường sắt
                                đô thị thuộc hệ thống Đường sắt đô thị Thành phố Hồ Chí Minh, đang được xây dựng và hiện
                                tại dự kiến sẽ đưa vào vận hành thương mại vào quý IV 2023. Tuyến đường sắt này có đoạn
                                đi ngầm dài 2,6 km qua 3 ga và đoạn đi trên cao 17,1 km qua 11 ga, tổng chiều dài là
                                19,7 km.
                            </p>
                            <p>Portcoast DT đã tiến hành khảo sát tuyến Metro số 1 bằng các công nghệ quét 3D Laser Scan
                                và công nghệ thu thập dữ liệu bằng thiết bị bay không người lái UAV. Với việc áp dụng
                                công nghệ mới này đã giúp nhanh chóng thu thập dữ liệu mô hình 3D đám mây điểm và mô
                                hình 3D lưới hiện trạng với độ chính xác cao và tăng tính minh bạch của việc khảo sát.
                                Dữ liệu này đã được sử dụng để tạo nền tảng cho việc xây dựng mô hình thông tin BIM tích
                                hợp các thông tin quản lý, như vật liệu, kích thước, trọng lượng, tuổi thọ và thời gian
                                bảo trì của các thành phần. Bên cạnh đó, từ các dữ liệu này, chúng tôi đã tạo ra một mô
                                hình 3D Game tương tác trực quan và chuyến tham quan ảo trên toàn dự án.</p>
                        </div>
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                            <img class="img-fluid" src="/public/images/projects/metro-saigon/cover.jpg">
                        </div>
                    </div>
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                            <div class="row gallery-item">
                                <div class="col-md-6">
                                    <a href="/public/images/projects/metro-saigon/01.jpg"
                                        alt="Tuyến số 1 - Đường sắt đô thị TP. Hồ Chí Minh" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/metro-saigon/01.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/metro-saigon/02.jpg"
                                        alt="Tuyến số 1 - Đường sắt đô thị TP. Hồ Chí Minh" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/metro-saigon/02.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/metro-saigon/03.jpg"
                                        alt="Tuyến số 1 - Đường sắt đô thị TP. Hồ Chí Minh" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/metro-saigon/03.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/metro-saigon/04.jpg"
                                        alt="Tuyến số 1 - Đường sắt đô thị TP. Hồ Chí Minh" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/metro-saigon/04.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-6">
                                    <a href="/public/images/projects/metro-saigon/05.jpg"
                                        alt="Tuyến số 1 - Đường sắt đô thị TP. Hồ Chí Minh" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/metro-saigon/05.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/metro-saigon/06.jpg"
                                        alt="Tuyến số 1 - Đường sắt đô thị TP. Hồ Chí Minh" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/metro-saigon/06.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/metro-saigon/07.jpg"
                                        alt="Tuyến số 1 - Đường sắt đô thị TP. Hồ Chí Minh" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/metro-saigon/07.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/metro-saigon/08.jpg"
                                        alt="Tuyến số 1 - Đường sắt đô thị TP. Hồ Chí Minh" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/metro-saigon/08.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-6">
                                    <a href="/public/images/projects/metro-saigon/09.jpg"
                                        alt="Tuyến số 1 - Đường sắt đô thị TP. Hồ Chí Minh" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/metro-saigon/09.jpg);">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include (dir+'partials/footer.ejs')%>
        </div>
    </div>
    <%- include (dir+'partials/js.ejs')%>
</body>

</html>