<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="en" />
    <title>Equipment | Infrastructure Digital Transformation Center | Construction Digitization</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="" />
    <meta name="keywords" content="BIM Services, Scan to BIM, 3D Laser Scanning, Digitization" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="index, follow">
    <meta name="thumbnail"
        content="https://portcoast-bim.com/public/images/cover-equipment.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="en-US"
        content="Equipment | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Ho Chi Minh City, Viet Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/en/equipment" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title"
        content="Equipment | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta property="og:description"
        content="" />
    <meta property="og:image"
        content="https://portcoast-bim.com/public/images/cover-equipment.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/en/equipment" />
    <meta property="og:locale" content="en-US" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title"
        content="Equipment | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="twitter:description"
        content="" />
    <meta name="twitter:image"
        content="https://portcoast-bim.com/public/images/cover-equipment.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/en/equipment" />
    <meta name="twitter:card" content="summary" />

    <%- include('partials/css.ejs') %>

</head>

<body>
    <div id="pcc-page">

        <%- include('partials/nav.ejs') %>

        <div id="pcc-main">
            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                    </div>
                </div>
            </div>
            <!-- Page Header End -->

               <!-- Section-Equipment -->
               <section class="pcc-equipment">
                <div class="container">
                <div class="pcc-narrow-content">
                    <div class="row">
                        <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                            data-animate-effect="fadeInLeft">
                            <span class="heading-meta">Technology</span>
                            <h2 class="pcc-heading">Our state-of-the-art equipment</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="owl-testimonials owl-carousel animate-box" data-animate-effect="fadeInRight">
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://geospatial.trimble.com/products-and-solutions/trimble-mx50"
                                                target="_blank"><img src="/public/images/home/trimble-mx50.jpg"
                                                    alt="Trimble MX50 Mobile Mapping System"></a>
                                        </div>
                                        <h3>Trimble MX50 Mobile Mapping System</h3>
                                        <p>The Trimble MX50's is a practical field to finish moblie mapping solution for
                                            asset management, mapping, road maintenance. Mobile mapping system combining
                                            precise LiDAR data and immersive panoramic imagery at highway speed..</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://www.teledyneoptech.com/en/products/static-3d-survey/polaris/"
                                                target="_blank"><img src="/public/images/home/polaris-tls.jpg"
                                                    alt="Polaris TLS"></a>
                                        </div>
                                        <h3>Polaris Terrestrial Laser Scanner (TLS)</h3>
                                        <p>With an integrated high-resolution camera, inclinometers, compass, GPS
                                            receiver, and weather-proof housing, the Polaris can be deployed in many
                                            environments and orientations.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <img src="/public/images/home/stormbee.jpg" alt="">
                                        </div>
                                        <h3>Stormbee UAV S-20</h3>
                                        <p>STORMBEE is a user-friendly Unmanned Aerial Vehicle (UAV) custom designed for
                                            lasers canning with a FARO Focus laser scanner.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://www.dji.com/matrice-300" target="_blank"><img
                                                    src="/public/images/home/matrice-300-rtk.jpg"
                                                    alt="Matrice 300 RTK + Zenmuse L1 + Zenmuse P1"></a>
                                        </div>
                                        <h3>Matrice 300 RTK + Zenmuse L1 + Zenmuse P1</h3>
                                        <p>This is one of the most advanced drones. Equipping sensors in multiple
                                            directions gives the Matrice 300RTK outstanding safety. The Matrice 300RTK -
                                            Zenmuse L1 system is capable of capturing image and point cloud data, based
                                            on 3 times response signal from the Lidar and penetrating through the
                                            foliage…</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://www.shareuavtec.com/102V3" target="_blank"><img
                                                    src="/public/images/home/share-uav-psdk-102s-v3.jpg"
                                                    alt="Share PSDK 102S V3"></a>
                                        </div>
                                        <h3>Matrice 300 RTK + Share PSDK 102S V3</h3>
                                        <p>PSDK 102S V3, the 5-lens oblique camera with 3-Axis Stabilized Gimbal, is a
                                            highly integrated surveying camera specialized in aerial photogrammetry.
                                            Full-on efficiency booster brings unprecedented operating experience. The
                                            adjustable parameter allows camera applicated in various scenarios. Also
                                            widely compatible with open-source payloads.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://www.maritimerobotics.com/otter" target="_blank"><img
                                                    src="/public/images/home/dji-matrice-30t.jpg"
                                                    alt="DJI Matrice 30T"></a>
                                        </div>
                                        <h3>DJI Matrice 30T
                                        </h3>
                                        <p>Professional drones are used for monitoring, geographic analysis, object
                                            detection and identification, etc. They feature multi-layer sennosor systems,
                                            super-natural cameras, GPS positioning systems, remote control capabilities,
                                            and connectivity with mobile devices.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://www.maritimerobotics.com/otter" target="_blank"><img
                                                    src="/public/images/home/otter-pro.jpg"
                                                    alt="Otter Pro USV + Norbit iWBMS Multibeam Sonar & iLiDAR"></a>
                                        </div>
                                        <h3>Otter Pro USV + Norbit iWBMS Multibeam Sonar & iLiDAR</h3>
                                        <p>The OTTER Pro had integrated system between a Norbit's iWBMS Multibeam and a
                                            NORBIT's iLiDAR Laser Sensor to recorded underwater data and both sides.
                                            This system is an efficient solution (reduce cost and schedule) for
                                            surveying in shallow water areas such as lakes, canals, rivers, ponds and
                                            harbour areas.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://geospatial.trimble.com/products-and-solutions/trimble-sx12"
                                                target="_blank"><img src="/public/images/home/trimble-sx12.jpg"
                                                    alt="Trimble SX12 Scanning Total Station"></a>
                                        </div>
                                        <h3>Trimble SX12 Scanning Total Station</h3>
                                        <p>Trimble SX12 Scanning Total Station working harder has never been easier. It
                                            combines innovative technology with simple and intuitive functionality to
                                            help you save time, maximize efficiency and get more done in the field.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://leica-geosystems.com/products/laser-scanners/scanners/leica-scanstation-p50"
                                                target="_blank"><img src="/public/images/home/leica-p50.jpg"
                                                    alt="Leica Scanstation P50"></a>
                                        </div>
                                        <h3>Leica Scanstation P50</h3>
                                        <p>For industry professionals looking to scan inaccessible places and find new
                                            business opportunities, Leica ScanStation P50 is the fastest and safest,
                                            long range 3D laser scanner. Unlike any other laser scanner, the P50
                                            solution maximises productivity by scanning inaccessible places at a safe
                                            position on site, reducing time in the field with less setups.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a
                                                href="https://leica-geosystems.com/products/laser-scanners/scanners/leica-rtc360"><img
                                                    src="/public/images/home/leica-rtc360.jpg"
                                                    alt="Leica RTC360 3D Laser"></a>
                                        </div>
                                        <h3>Leica RTC360 3D Laser Scanner</h3>
                                        <p>The Leica RTC360 3D reality capture solution empowers users to document and
                                            capture their environments in 3D, improving efficiency and productivity in
                                            the field and in the office through fast, simple-to-use, accurate, and
                                            portable hardware and software.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://leica-geosystems.com/products/construction-tps-and-gnss/robotic-total-stations/leica-icon-icr-80"
                                                target="_blank"><img src="/public/images/home/leica-icr80.jpg"
                                                    alt="Leica iCON iCR80 Robotic Total Statio"></a>
                                        </div>
                                        <h3>Leica iCON iCR80 Robotic Total Station</h3>
                                        <p>The Leica iCON iCR80 construction total station keeps its ‘eye’ on only one
                                            thing: the user’s target. Layout more points per day thanks to ATRplus, the
                                            most robust automated-aiming, lock and re-lock technology in the market.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://leica-geosystems.com/products/total-stations/robotic-total-stations/leica-nova-ts60"
                                                target="_blank"><img src="/public/images/home/leica-ts60.jpg"
                                                    alt="Leica Nova TS60 Total Station"></a>
                                        </div>
                                        <h3>Leica Nova TS60 Total Station</h3>
                                        <p>The new Leica Nova TS60 total station is the world’s most accurate total
                                            station, designed to tackle your most demanding projects.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://www.topconpositioning.com/scanning/laser-scanners/gls-2200"
                                                target="_blank"><img src="/public/images/home/topcon-gls-2200.jpg"
                                                    alt="Topcon GLS-2200"></a>
                                        </div>
                                        <h3>Topcon GLS-2200</h3>
                                        <p>Quickly tackle any job with the latest in scanning and workflow technology.
                                            The GLS-2200 features a unique survey style setup and user-friendly
                                            processing software that turn lengthy scanning processes into fast and easy
                                            workflows</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://www.faro.com/en/Products/Hardware/Focus-Laser-Scanners"
                                                target="_blank"><img src="/public/images/home/faro-s350a.jpg"
                                                    alt="FARO Focus S350-A 3D Laser Scanning"></a>
                                        </div>
                                        <h3>FARO Focus S350-A 3D Laser Scanning</h3>
                                        <p>The FARO Focus S350-A is specially designed for outdoor applications due to
                                            its small size, extra light weight and extended scanning range. The Focus
                                            S350-A provides scanning results even in challenging environments, narrow
                                            job-sites, dusty or humid areas, in rain or direct sunlight applications.
                                        </p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://matterport.com/cameras/pro2-3D-camera" target="_blank"><img
                                                    src="/public/images/home/matterport.jpg" alt="MatterPort Pro 2"></a>
                                        </div>
                                        <h3>MatterPort Pro 2</h3>
                                        <p>Matterport is the standard for 3D space capture. Our all-in-one platform
                                            transforms real-life spaces into immersive digital twin models.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <img src="/public/images/home/unitree-go1.jpg"
                                                alt="Unitree Go1 Plus & Leica BLK 360">
                                        </div>
                                        <h3>Unitree Go1 Plus &amp; Leica BLK 360</h3>
                                        <p>Unitree Go 1 is a quadrupedal mobile robot offering lots of development
                                            possibilities. It’s aimed in particular at higher education and
                                            professionals, for developing applications in fields ranging from service
                                            robotics to autonomous surveillance.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </section>

            <%- include ('partials/footer.ejs')%>
        </div>
    </div>

    <%- include('partials/js.ejs')%>

</body>

</html>