<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="en" />
    <title>Frequently Asked Questions | Infrastructure Digital Transformation Center | Construction Digitization</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Infrastructure Digital Transformation Center  provides construction digitization solutions, BIM services, Scan to BIM and 3D Laser Survey." />
    <meta name="keywords" content="BIM Services, Scan to BIM, 3D Laser Scanning, Digitization" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail"
        content="https://portcoast-bim.com/en/frequently-asked-questions/public/images/cover-faqs.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="en-US"
        content="Frequently Asked Questions | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Ho Chi Minh City, Viet Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/en/frequently-asked-questions" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title"
        content="Frequently Asked Questions | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta property="og:description"
        content="Infrastructure Digital Transformation Center  provides construction digitization solutions, BIM services, Scan to BIM and 3D Laser Survey." />
    <meta property="og:image"
        content="https://portcoast-bim.com/en/frequently-asked-questions/public/images/cover-faqs.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/en/frequently-asked-questions" />
    <meta property="og:locale" content="en-US" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title"
        content="Frequently Asked Questions | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="twitter:description"
        content="Infrastructure Digital Transformation Center  provides construction digitization solutions, BIM services, Scan to BIM and 3D Laser Survey." />
    <meta name="twitter:image"
        content="https://portcoast-bim.com/en/frequently-asked-questions/public/images/cover-faqs.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/en/frequently-asked-questions" />
    <meta name="twitter:card" content="summary" />

    <%- include('partials/css.ejs') %>

</head>

<body>
    <div id="pcc-page">

        <%- include('partials/nav.ejs') %>

        <div id="pcc-main">
            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                    </div>
                </div>
            </div>
            <!-- Page Header End -->

            <div class="pcc-solution">
                <div class="container">
                    <div class="pcc-narrow-content">
                        <div class="row">
                            <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                                data-animate-effect="fadeInLeft">
                                <span class="heading-meta">FAQs</span>
                                <h2 class="pcc-heading animate-box">Frequently Asked Questions</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 animate-box" data-animate-effect="fadeInRight">
                                <div class="fancy-collapse-panel">
                                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingOne">
                                                <h4 class="panel-title">
                                                    <a data-bs-toggle="collapse" data-parent="#accordion"
                                                        href="#collapseOne" aria-expanded="true"
                                                        aria-controls="collapseOne">3D Laser Scanning?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseOne" class="panel-collapse collapse in show"
                                                role="tabpanel" aria-labelledby="headingOne">
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <p>3D laser scanning technology is a method for creating a
                                                                3D
                                                                digital model of an object or space by using a laser to
                                                                scan
                                                                and collect data on its size, shape, and other
                                                                characteristics. During the scanning process, the laser
                                                                scans the entire surface of the object, collecting
                                                                backscatter signals to determine the position of points
                                                                on
                                                                the surface. The result is a dataset of 3D points that
                                                                can
                                                                be used to create an accurate 3D digital model of the
                                                                object. This technology is widely used in many fields as
                                                                it
                                                                helps to reduce time and costs compared to traditional
                                                                methods and improve project efficiency.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingTwo">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" data-bs-toggle="collapse"
                                                        data-parent="#accordion" href="#collapseTwo"
                                                        aria-expanded="false" aria-controls="collapseTwo">3D Laser
                                                        Scanning applications?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                                aria-labelledby="headingTwo">
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <p>The scanned data is used in many fields, including:</p>
                                                            <ul class="pcc-list">
                                                                <li>Design and construction: Scanned data is used to
                                                                    create
                                                                    3D digital models of a construction site or
                                                                    building.
                                                                    These models can be used for designing and planning
                                                                    construction projects or for managing ongoing
                                                                    construction projects</li>
                                                                <li>Cultural heritage preservation: Scanned data is used
                                                                    to
                                                                    create 3D models of historical and cultural
                                                                    monuments.
                                                                    These models help in the preservation of cultural
                                                                    heritage, research, and education in history and
                                                                    culture
                                                                </li>
                                                                <li>Asset management: Scanned data is used to manage
                                                                    assets
                                                                    such as industrial parks, factories, highways, and
                                                                    other
                                                                    infrastructure. The 3D models of these assets
                                                                    provide
                                                                    detailed information about asset management factors
                                                                    such
                                                                    as the location, size, and condition of the assets
                                                                </li>
                                                                <li>Entertainment and education: Scanned data is used to
                                                                    create 3D models of famous landmarks or impressive
                                                                    areas. These models can be used to create games,
                                                                    augmented reality applications, or educational
                                                                    products
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingThree">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" data-bs-toggle="collapse"
                                                        data-parent="#accordion" href="#collapseThree"
                                                        aria-expanded="false" aria-controls="collapseThree">BIM-GIS-GAME
                                                        Integration?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                                aria-labelledby="headingThree">
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <p>BIM GIS Game Platform is a platform that combines
                                                                Building
                                                                Information Modeling (BIM), Geographic Information
                                                                System
                                                                (GIS),
                                                                and GAME Platform. It provides users with a
                                                                comprehensive
                                                                solution for managing geospatial assets, from individual
                                                                construction projects to managing diverse assets across
                                                                the
                                                                entire region.</p>
                                                            <p>By utilizing the most advanced technologies to collect,
                                                                manage,
                                                                and analyze geospatial asset data, it allows users to
                                                                create
                                                                accurate 3D models of buildings, infrastructure, and
                                                                land,
                                                                while
                                                                integrating data on geographic location, technical
                                                                information,
                                                                and asset management. By combining information from BIM,
                                                                GIS,
                                                                and GAME, this platform provides users with easy and
                                                                quick
                                                                access to geospatial asset management information,
                                                                making
                                                                asset
                                                                management and maintenance more efficient.</p>
                                                            <p>The combination of BIM-GIS-Game Platform provides users
                                                                with
                                                                a
                                                                comprehensive geospatial asset management solution, from
                                                                data
                                                                collection to analysis and asset management, making the
                                                                process
                                                                of managing and maintaining assets easier and more
                                                                efficient.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <%- include ('partials/footer.ejs')%>
        </div>
    </div>

    <%- include('partials/js.ejs')%>

</body>

</html>