<!DOCTYPE HTML>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="vi" />
    <title>Giới thiệu | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Chúng tôi tự hào có một đội ngũ trẻ, năng động, nhiệt huyết và luôn đi đầu trong việc tìm tòi, nghiên cứu và ứng dụng các công nghệ mới trên thế giới vào ngành xây dựng." />
    <meta name="keywords" content="Dịch vụ BIM, Scan to BIM, Khảo sát 3D Laser, Số hóa công trình xây dựng" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail" content="https://portcoast-bim.com/public/images/about-us/about.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="vi" content="Giới thiệu | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Tp. Hồ Chí Minh, Việt Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/vi/gioi-thieu" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="Giới thiệu | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
    <meta property="og:description"
        content="Chúng tôi tự hào có một đội ngũ trẻ, năng động, nhiệt huyết và luôn đi đầu trong việc tìm tòi, nghiên cứu và ứng dụng các công nghệ mới trên thế giới vào ngành xây dựng." />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/about-us/about.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/vi/gioi-thieu" />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title" content="Giới thiệu | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
    <meta name="twitter:description"
        content="Chúng tôi tự hào có một đội ngũ trẻ, năng động, nhiệt huyết và luôn đi đầu trong việc tìm tòi, nghiên cứu và ứng dụng các công nghệ mới trên thế giới vào ngành xây dựng." />
    <meta name="twitter:image" content="https://portcoast-bim.com/public/images/about-us/about.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/vi/gioi-thieu" />
    <%- include('partials/css.ejs') %>
</head>

<body>
    <div id="pcc-page">
        <a href="#" class="js-pcc-nav-toggle pcc-nav-toggle"><i></i></a>
        <%- include('partials/nav.ejs') %>
        <div id="pcc-main">
            <div class="pcc-solution">
                <div class="pcc-narrow-content">
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                            <div class="about-us-img animate-box"
                                style="background-image: url(/public/images/about-us/about-us.jpg);">
                            </div>
                        </div>
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                            <div class="about-desc">
                                <span class="heading-meta">Chào mừng</span>
                                <h2 class="pcc-heading">Chúng tôi là...</h2>
                                <p><strong>Trung tâm chuyển đổi số Cơ sở hạ tầng (PORTCOAST DT)</strong> là đơn vị trực
                                    thuộc của <a href="https://www.portcoast.com.vn/">Công ty Cổ phần Tư vấn Thiết kế
                                        Cảng - Kỹ thuật Biển
                                        (PORTCOAST)</a>, chúng tôi cung cấp dịch vụ chuyển đổi kỹ thuật số trong ngành
                                    xây dựng. Chúng tôi nghiên cứu tìm cách ứng dụng chuyển đổi thế giới thiết kế và xây
                                    dựng thành một nền tảng kỹ thuật số, nhằm tối ưu hóa thiết kế, đẩy mạnh quá trình xây dựng công nghiệp hóa và sử dụng các mô hình kỹ thuật số.</p>
                                    <p>Chúng tôi nhận ra rằng ngày nay sự đổi mới đang tiến triển với tốc độ nhanh và chúng
                                        tôi cần giúp khách hàng của mình bắt kịp với công nghệ luôn thay đổi và hiểu được tiềm
                                        năng của nó đối với hoạt động kinh doanh của họ.
                                        
                                    </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include ('partials/footer.ejs')%>
        </div>
    </div>

    <%- include('partials/js.ejs') %>

</body>

</html>