<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Portcoast Digital Tranformation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />



    <%- include ('partials/css.ejs')%>

</head>

<body>
    <div id="colorlib-page">
        <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
        <%- include ('partials/nav.ejs')%>

        <div id="colorlib-main">
            <aside id="colorlib-hero">
                <div class="bg-video-wrap">
                    <video src="/images/video-bg/video-background.mp4" loop muted autoplay>
                    </video>
                    <div class="overlay1">
                    </div>
                    <div class="colorlib-text">
                        <h1>Dịch vụ BIM và giải pháp số hóa
                        </h1>
                        <p>We are a professional surveying company with a primary focus on 3D laser scanning. We offer a
                            wide a spectrum of point cloud-related products such as 2D documentation, 3D models,
                            Building Information Models (BIM), and PDMS models.</p>
                        <p><a href="#" class="btn btn-primary btn-learn">Tìm hiểu thêm!</a></p>
                    </div>
                </div>
            </aside>

            <div class="colorlib-about">
                <div class="colorlib-narrow-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="about-img animate-box" data-animate-effect="fadeInLeft"
                                style="background-image: url(images/img_bg_2.jpg);">
                            </div>
                        </div>
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                            <div class="about-desc">
                                <span class="heading-meta">Giải pháp</span>
                                <h2 class="colorlib-heading">Scan to BIM</h2>
                                <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came
                                    from it would have been rewritten a thousand times and everything that was left from
                                    its origin would be the word "and" and the Little Blind Text should turn around and
                                    return to its own, safe country.</p>
                                <p>A small river named Duden flows by their place and supplies it with the necessary
                                    regelialia. It is a paradisematic country, in which roasted parts of sentences fly
                                    into your mouth.</p>
                            </div>
                            <div class="row padding">
                                <div class="col-md-4 no-gutters animate-box" data-animate-effect="fadeInLeft">
                                    <a href="#" class="steps active">
                                        <p class="icon"><span><i class="icon-check"></i></span></p>
                                        <h3>Quét</h3>
                                    </a>
                                </div>
                                <div class="col-md-4 no-gutters animate-box" data-animate-effect="fadeInLeft">
                                    <a href="#" class="steps">
                                        <p class="icon"><span><i class="icon-check"></i></span></p>
                                        <h3>Xử lý</h3>
                                    </a>
                                </div>
                                <div class="col-md-4 no-gutters animate-box" data-animate-effect="fadeInLeft">
                                    <a href="#" class="steps">
                                        <p class="icon"><span><i class="icon-check"></i></span></p>
                                        <h3>Bàn giao</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="colorlib-services">
                <div class="colorlib-narrow-content">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box"
                            data-animate-effect="fadeInLeft">
                            <span class="heading-meta">Ứng dụng</span>
                            <h2 class="colorlib-heading">Các lĩnh vực áp dụng Laser scanning</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6 colorlib-feature animate-box" data-animate-effect="fadeInLeft">
                                    <div class="colorlib-icon">
                                        <i class="flaticon-worker"></i>
                                    </div>
                                    <div class="colorlib-text">
                                        <h3>Công nghiệp</h3>
                                        <p>Far far away, behind the word mountains, far from the countries Vokalia and
                                            Consonantia, there live the blind texts. </p>
                                    </div>
                                </div>

                                <div class="col-md-6 colorlib-feature animate-box" data-animate-effect="fadeInLeft">
                                    <div class="colorlib-icon">
                                        <i class="flaticon-sketch"></i>
                                    </div>
                                    <div class="colorlib-text">
                                        <h3>Kiến trúc &amp; Xây dựng</h3>
                                        <p>Far far away, behind the word mountains, far from the countries Vokalia and
                                            Consonantia, there live the blind texts. </p>
                                    </div>
                                </div>

                                <div class="col-md-6 colorlib-feature animate-box" data-animate-effect="fadeInLeft">
                                    <div class="colorlib-icon">
                                        <i class="flaticon-engineering"></i>
                                    </div>
                                    <div class="colorlib-text">
                                        <h3>Khát sát &amp; Quy hoạch</h3>
                                        <p>Far far away, behind the word mountains, far from the countries Vokalia and
                                            Consonantia, there live the blind texts. </p>
                                    </div>
                                </div>

                                <div class="col-md-6 colorlib-feature animate-box" data-animate-effect="fadeInLeft">
                                    <div class="colorlib-icon">
                                        <i class="flaticon-crane"></i>
                                    </div>
                                    <div class="colorlib-text">
                                        <h3>Hàng hải</h3>
                                        <p>Far far away, behind the word mountains, far from the countries Vokalia and
                                            Consonantia, there live the blind texts. </p>
                                    </div>
                                </div>
                                <div class="col-md-6 colorlib-feature animate-box" data-animate-effect="fadeInLeft">
                                    <div class="colorlib-icon">
                                        <i class="flaticon-crane"></i>
                                    </div>
                                    <div class="colorlib-text">
                                        <h3>Di tích</h3>
                                        <p>Far far away, behind the word mountains, far from the countries Vokalia and
                                            Consonantia, there live the blind texts. </p>
                                    </div>
                                </div>
                                <div class="col-md-6 colorlib-feature animate-box" data-animate-effect="fadeInLeft">
                                    <div class="colorlib-icon">
                                        <i class="flaticon-crane"></i>
                                    </div>
                                    <div class="colorlib-text">
                                        <h3>Quản lý cơ sở vật chất</h3>
                                        <p>Far far away, behind the word mountains, far from the countries Vokalia and
                                            Consonantia, there live the blind texts. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="colorlib-equipment">
                <div class="colorlib-narrow-content">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box"
                            data-animate-effect="fadeInLeft">
                            <span class="heading-meta">Thiết bị</span>
                            <h2 class="colorlib-heading">Các thiết bị hiện đại</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="owl-testimonials owl-carousel animate-box" data-animate-effect="fadeInRight">
                                <div class="item">
                                    <div class="service-item colorlib-text">
                                        <div class="icon">
                                            <a
                                                href="https://geospatial.trimble.com/products-and-solutions/trimble-mx50"><img
                                                    src="images/home/trimble-mx50.jpg"
                                                    alt="Trimble Mobile Mapping MX50"></a>
                                        </div>
                                        <h3>Trimble Mobile Mapping MX50</h3>
                                        <p>Trimble MX50 là một thiết bị để hoàn thiện giải pháp lập bản đồ moblie để
                                            quản lý tài sản, lập bản đồ, bảo trì đường bộ. Hệ thống lập bản đồ di động
                                            kết hợp dữ liệu LiDAR chính xác và hình ảnh toàn cảnh sống động ở tốc độ
                                            đường cao tốc.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="service-item colorlib-text">
                                        <div class="icon">
                                            <img src="images/home/stormbee.jpg" alt="">
                                        </div>
                                        <h3>Stormbee UAV S-20</h3>
                                        <p>STORMBEE is a user-friendly Unmanned Aerial Vehicle (UAV) custom designed for
                                            lasers canning with a FARO Focus laser scanner.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="service-item colorlib-text">
                                        <div class="icon">
                                            <img src="images/home/matrice-300-rtk.jpg" alt="">
                                        </div>
                                        <h3>Matrice 300 RTK + Zenmuse L1 + Zenmuse P1</h3>
                                        <p>Máy bay không người lái có cảm biến ở 6 hướng, camera cho người dùng, hệ
                                            thống định vị RTK. Kết hợp với Zenmuse L1, là thiết bị có Nắp đậy và Camera
                                            đồng bộ, hệ thống MATRIX 300RTK - ZENMUSE L1 có khả năng thu nhận dữ liệu
                                            đám mây hình ảnh và đám mây điểm, dựa trên tín hiệu phản hồi 3 lần từ Nắp và
                                            xuyên qua tán lá….</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="service-item colorlib-text">
                                        <div class="icon">
                                            <img src="images/home/share-uav-psdk-102s-v3.jpg" alt="">
                                        </div>
                                        <h3>Share UAV PSDK 102S V3</h3>
                                        <p>PSDK 102S V3 với 5 ống kính với Gimbal ổn định 3 trục, là một máy ảnh khảo
                                            sát tích hợp cao chuyên về phép đo ảnh trên không. Tăng cường hiệu quả hoạt
                                            động hoàn toàn mang lại trải nghiệm vận hành chưa từng có.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="service-item colorlib-text">
                                        <div class="icon">
                                            <a href="https://www.maritimerobotics.com/otter"><img
                                                    src="images/home/otter-pro.jpg"
                                                    alt="Otter Pro USV + Norbit iWBMS Multibeam Sonar & iLiDAR"></a>
                                        </div>
                                        <h3>Otter Pro USV + Norbit iWBMS Multibeam Sonar & iLiDAR</h3>
                                        <p>Thiết bị USV OTTER Pro có hệ thống tích hợp giữa Đa tia iWBMS và Cảm biến
                                            Laser iLiDAR của NORBIT để ghi lại dữ liệu dưới nước và cả hai bên bờ. Giải
                                            pháp hiệu quả để khảo sát ở các khu vực nước nông như hồ, kênh, sông, ao và
                                            các khu vực bến cảng.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="service-item colorlib-text">
                                        <div class="icon">
                                            <img src="images/home/trimble-sx12.jpg" alt="">
                                        </div>
                                        <h3><a
                                                href="https://geospatial.trimble.com/products-and-solutions/trimble-sx12">Trimble
                                                SX12 Scanning Total Station</a></h3>
                                        <p>GLS-2200 là 1 loại thiết bị san laser do hãng Topcon – Nhật Bản sản xuất.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="service-item colorlib-text">
                                        <div class="icon">
                                            <img src="images/home/leica-p50.jpg" alt="">
                                        </div>
                                        <h3>Leica Scanstation P50</h3>
                                        <p>Leica ScanStation P50 là máy quét laser 3D tầm xa, nhanh nhất. Máy quét P50
                                            có thể quét ở vị trí khó tiếp cận trên hiện trường với ít thiết lập hơn.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="service-item colorlib-text">
                                        <div class="icon">
                                            <img src="images/home/leica-rtc360.jpg" alt="">
                                        </div>
                                        <h3>Leica RTC360 3D Laser Scanner</h3>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="service-item colorlib-text">
                                        <div class="icon">
                                            <img src="images/home/topcon-gls-2200.jpg" alt="">
                                        </div>
                                        <h3>Topcon GLS-2200</h3>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="service-item colorlib-text">
                                        <div class="icon">
                                            <img src="images/home/faro-s350a.jpg" alt="">
                                        </div>
                                        <h3>FARO Focus S350-A</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="colorlib-counter" class="colorlib-counters" style="background-image: url(images/cover_bg_1.jpg);"
                data-stellar-background-ratio="0.5">
                <div class="overlay"></div>
                <div class="colorlib-narrow-content">
                    <div class="row">
                        <div class="col-md-3 text-center animate-box" style="margin-top:3rem">
                            <span class="icon"><i class="flaticon-skyline"></i></span>
                            <span class="colorlib-counter js-counter" data-from="0" data-to="1539" data-speed="5000"
                                data-refresh-interval="50"></span>
                            <span class="colorlib-counter-label">Projects</span>
                        </div>
                        <div class="col-md-3 text-center animate-box" style="margin-top:3rem">
                            <span class="icon"><i class="flaticon-engineer"></i></span>
                            <span class="colorlib-counter js-counter" data-from="0" data-to="3653" data-speed="5000"
                                data-refresh-interval="50"></span>
                            <span class="colorlib-counter-label">Employees</span>
                        </div>
                        <div class="col-md-3 text-center animate-box" style="margin-top:3rem">
                            <span class="icon"><i class="flaticon-architect-with-helmet"></i></span>
                            <span class="colorlib-counter js-counter" data-from="0" data-to="5987" data-speed="5000"
                                data-refresh-interval="50"></span>
                            <span class="colorlib-counter-label">Constructor</span>
                        </div>
                        <div class="col-md-3 text-center animate-box" style="margin-top:3rem">
                            <span class="icon"><i class="flaticon-worker"></i></span>
                            <span class="colorlib-counter js-counter" data-from="0" data-to="3999" data-speed="5000"
                                data-refresh-interval="50"></span>
                            <span class="colorlib-counter-label">Partners</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="colorlib-work">
                <div class="colorlib-narrow-content">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box"
                            data-animate-effect="fadeInLeft">
                            <span class="heading-meta">Dịch vụ</span>
                            <h2 class="colorlib-heading animate-box">Các sản phẩm của chúng tôi</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <a href="services.html" class="services-wrap animate-box" data-animate-effect="fadeInRight">
                                <div class="services-img"
                                    style="background-image: url(images/services/point-cloud.jpg)"></div>
                                <div class="desc">
                                    <h3>Quét Point cloud</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="services.html" class="services-wrap animate-box" data-animate-effect="fadeInRight">
                                <div class="services-img" style="background-image: url(images/services/cad-3d.jpg)">
                                </div>
                                <div class="desc">
                                    <h3>Mô hình CAD 3D</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="services.html" class="services-wrap animate-box" data-animate-effect="fadeInRight">
                                <div class="services-img"
                                    style="background-image: url(images/services/bim-modeling.jpg)"></div>
                                <div class="desc">
                                    <h3>Mô hình BIM</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="services.html" class="services-wrap animate-box" data-animate-effect="fadeInRight">
                                <div class="services-img" style="background-image: url(images/services/mesh-3d.jpg)">
                                </div>
                                <div class="desc">
                                    <h3>Mô hình Mesh</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="services.html" class="services-wrap animate-box" data-animate-effect="fadeInRight">
                                <div class="services-img"
                                    style="background-image: url(images/services/scan-to-bim.jpg)"></div>
                                <div class="desc">
                                    <h3>Scan-to-BIM</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="services.html" class="services-wrap animate-box" data-animate-effect="fadeInRight">
                                <div class="services-img"
                                    style="background-image: url(images/services/volume-surveys.jpg)"></div>
                                <div class="desc">
                                    <h3>Khảo sát khối lượng san lấp</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="services.html" class="services-wrap animate-box" data-animate-effect="fadeInRight">
                                <div class="services-img"
                                    style="background-image: url(images/services/clash-detection.jpg)"></div>
                                <div class="desc">
                                    <h3>Phát hiện xung đột</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="services.html" class="services-wrap animate-box" data-animate-effect="fadeInRight">
                                <div class="services-img"
                                    style="background-image: url(images/services/topo-survey.jpg)"></div>
                                <div class="desc">
                                    <h3>Khảo sát địa hình</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="services.html" class="services-wrap animate-box" data-animate-effect="fadeInRight">
                                <div class="services-img"
                                    style="background-image: url(images/services/gis-services.jpg)"></div>
                                <div class="desc">
                                    <h3>Dịch vụ GIS</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="services.html" class="services-wrap animate-box" data-animate-effect="fadeInRight">
                                <div class="services-img"
                                    style="background-image: url(images/services/virtual-tour.jpg)"></div>
                                <div class="desc">
                                    <h3>Truviews</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="services.html" class="services-wrap animate-box" data-animate-effect="fadeInRight">
                                <div class="services-img" style="background-image: url(images/services/game-ar-vr.jpg)">
                                </div>
                                <div class="desc">
                                    <h3>Game AR/VR/MR</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="services.html" class="services-wrap animate-box" data-animate-effect="fadeInRight">
                                <div class="services-img"
                                    style="background-image: url(images/services/virtual-tour.jpg)"></div>
                                <div class="desc">
                                    <h3>Virtual tour 360°</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="colorlib-blog">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
							<span class="heading-meta">Read</span>
							<h2 class="colorlib-heading">Recent Blog</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
							<div class="blog-entry">
								<a href="blog.html" class="blog-img"><img src="images/blog-1.jpg" class="img-responsive" alt="HTML5 Bootstrap Template by colorlib.com"></a>
								<div class="desc">
									<span><small>April 14, 2018 </small> | <small> Web Design </small> | <small> <i class="icon-bubble3"></i> 4</small></span>
									<h3><a href="blog.html">Renovating National Gallery</a></h3>
									<p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
							<div class="blog-entry">
								<a href="blog.html" class="blog-img"><img src="images/blog-2.jpg" class="img-responsive" alt="HTML5 Bootstrap Template by colorlib.com"></a>
								<div class="desc">
									<span><small>April 14, 2018 </small> | <small> Web Design </small> | <small> <i class="icon-bubble3"></i> 4</small></span>
									<h3><a href="blog.html">Wordpress for a Beginner</a></h3>
									<p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
							<div class="blog-entry">
								<a href="blog.html" class="blog-img"><img src="images/blog-3.jpg" class="img-responsive" alt="HTML5 Bootstrap Template by colorlib.com"></a>
								<div class="desc">
									<span><small>April 14, 2018 </small> | <small> Inspiration </small> | <small> <i class="icon-bubble3"></i> 4</small></span>
									<h3><a href="blog.html">Make website from scratch</a></h3>
									<p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> -->
            <div id="get-in-touch" class="colorlib-bg-color">
                <div class="colorlib-narrow-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="owl-service-item owl-carousel animate-box" data-animate-effect="fadeInRight">
                                <div class="item">
                                    <div class="service-item">
                                        <div class="icon">
                                            <a href="https://leica-geosystems.com/"><img
                                                    src="images/brand/leica-geosystem.png" alt="Leica Geosystem"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="service-item">
                                        <div class="icon">
                                            <img src="images/brand/stormbee.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="service-item">
                                        <div class="icon">
                                            <a href="https://www.autodesk.com/"><img src="images/brand/autodesk.png"
                                                    alt="Autodesk"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="service-item">
                                        <div class="icon">
                                            <img src="images/brand/trimble.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="service-item">
                                        <div class="icon">
                                            <img src="images/brand/bentley.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="service-item">
                                        <div class="icon">
                                            <img src="images/brand/pix4d.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="service-item">
                                        <div class="icon">
                                            <img src="images/brand/faro.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="service-item">
                                        <div class="icon">
                                            <img src="images/brand/robotics.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="service-item">
                                        <div class="icon">
                                            <img src="images/brand/topcon.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="service-item">
                                        <div class="icon">
                                            <a href="https://www.dji.com/"><img src="images/brand/dji.png" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include ('partials/js.ejs') %>
</body>

</html>