<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="en" />
    <title>News | Infrastructure Digital Transformation Center | Construction Digitization</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="3D Laser Scanning and Scan to BIM technology solutions have strong applications in the following fields: Industry; Maritime; Construction; Architecture; Heritage; Infrastructure,..." />
    <meta name="keywords" content="BIM Services, Scan to BIM, 3D Laser Scanning, Digitization" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail" content="https://portcoast-bim.com/public/images/cover-application.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="en-US"
        content="News | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Ho Chi Minh City, Viet Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/en/application" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title"
        content="News | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta property="og:description"
        content="3D Laser Scanning and Scan to BIM technology solutions have strong applications in the following fields: Industry; Maritime; Construction; Architecture; Heritage; Infrastructure,..." />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/cover-application.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/en/application" />
    <meta property="og:locale" content="en-US" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title"
        content="News | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="twitter:description"
        content="3D Laser Scanning and Scan to BIM technology solutions have strong applications in the following fields: Industry; Maritime; Construction; Architecture; Heritage; Infrastructure,..." />
    <meta name="twitter:image" content="https://portcoast-bim.com/public/images/cover-application.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/en/application" />
    <meta name="twitter:card" content="summary" />
    <%- include ('partials/css.ejs')%>

</head>

<body>
    <div id="pcc-page">
        <a class="js-pcc-nav-toggle pcc-nav-toggle"><i></i></a>
        <%- include ('partials/nav.ejs')%>

        <div id="pcc-main">
            <!-- Secction Tin tức -->
            <section class="pcc-blog">
                <div class="pcc-narrow-content">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box"
                            data-animate-effect="fadeInLeft">
                            <span class="heading-meta">Read</span>
                            <h2 class="pcc-heading">News & Activities</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                            <div class="blog-entry">
                                <a href="/en/news/portcoast-dt-presented-at-a-seminar-about-digital-transformation-the-foundation-for-building-a-smart-city"
                                    class="blog-img"><img
                                        src="/public/images/news/20221217-portcoast-presented-at-a-seminar-about-digital-transformation-the-foundation-for-building-a-smart-city/cover.jpg"
                                        class="img-responsive" alt=""></a>
                                <div class="desc">
                                    <span><small>Activities | December 17, 2022</small></span>
                                    <h3><a
                                            href="/en/news/portcoast-dt-presented-at-a-seminar-about-digital-transformation-the-foundation-for-building-a-smart-city">Portcoast
                                            DT present at a seminar about "Digital transformation - The foundation
                                            for building a smart city"</a></h3>
                                    <p>On the morning of December 17, 2022, in Hanoi, a scientific seminar with the
                                        theme "Digital transformation - The foundation for building a smart city" was
                                        organized by the Viet Nam Federation of Civil Engineering Association (VFCEA)
                                        and other organizations.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                            <div class="blog-entry">
                                <a href="/en/news/deo-ca-group-promotes-the-application-of-digital-technology-in-traffic-project-management" class="blog-img"><img src="/public/images/news/20221216-deo-ca-group-promotes-the-application-of-digital-technology-in-traffic-project-management/cover.jpg"
                                        class="img-responsive" alt=""></a>
                                <div class="desc">
                                    <span><small>News | December 16, 2022 | baodautu.vn</small></span>
                                    <h3><a href="/en/news/deo-ca-group-promotes-the-application-of-digital-technology-in-traffic-project-management">Deo Ca Group promotes the application of digital technology in traffic project management</a></h3>
                                    <p>Deo Ca Group will cooperate with leading consulting units in the country to promote the application of digital technology in surveying, designing and managing transport infrastructure projects.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                            <div class="blog-entry">
                                <a href="/en/news/portcoast-sign-an-MOU-with-hung-thinh-incons-joint-stock-company"
                                    class="blog-img"><img
                                        src="/public/images/news/20220916-portcoast-sign-an-MOU-with-hung-thinh-incons-joint-stock-company/cover.jpg"
                                        class="img-responsive" alt=""></a>
                                <div class="desc">
                                    <span><small>Activities | September 16, 2022</small></span>
                                    <h3><a
                                            href="/en/news/portcoast-sign-an-MOU-with-hung-thinh-incons-joint-stock-company">Portcoast
                                            DT sign an MOU with Hung Thinh Incons Joint Stock Company</a></h3>
                                    <p>On September 16, 2022, PORTCOAST DT signed an MOU with Hung Thinh Incons Joint
                                        Stock Company, to apply digital transformation technology in construction, and
                                        optimize design, planning, and construction management...</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <%- include ('partials/footer.ejs')%>
        </div>
    </div>

    <%- include ('partials/js.ejs')%>

</body>

</html>