<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="en" />
    <title>News | Portcoast Digital Transformation Center | Construction Digitization</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="3D Laser Scanning and Scan to BIM technology solutions have strong applications in the following fields: Industry; Maritime; Construction; Architecture; Heritage; Infrastructure,..." />
    <meta name="keywords" content="BIM Services, Scan to BIM, 3D Laser Scanning, Digitization" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail" content="https://portcoast-bim.com/public/images/cover-application.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="en-US"
        content="News | Portcoast Digital Transformation Center | Construction Digitization" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Ho Chi Minh City, Viet Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/en/application" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title"
        content="News | Portcoast Digital Transformation Center | Construction Digitization" />
    <meta property="og:description"
        content="3D Laser Scanning and Scan to BIM technology solutions have strong applications in the following fields: Industry; Maritime; Construction; Architecture; Heritage; Infrastructure,..." />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/cover-application.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/en/application" />
    <meta property="og:locale" content="en-US" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title"
        content="News | Portcoast Digital Transformation Center | Construction Digitization" />
    <meta name="twitter:description"
        content="3D Laser Scanning and Scan to BIM technology solutions have strong applications in the following fields: Industry; Maritime; Construction; Architecture; Heritage; Infrastructure,..." />
    <meta name="twitter:image" content="https://portcoast-bim.com/public/images/cover-application.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/en/application" />
    <meta name="twitter:card" content="summary" />
    <%- include ('partials/css.ejs')%>

</head>

<body>
    <div id="pcc-page">
        <%- include ('partials/nav.ejs')%>
        <div id="pcc-main">
            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                    </div>
                </div>
            </div>
            <!-- Page Header End -->
            <!-- Secction Tin tức -->
            <section class="pcc-blog">
                <div class="container">
                    <div class="pcc-narrow-content">
                        <div class="row">
                            <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                                data-animate-effect="fadeInLeft">
                                <span class="heading-meta">Read</span>
                                <h2 class="pcc-heading">News & Activities</h2>
                            </div>
                        </div>
                        <div class="row animate-box" data-animate-effect="fadeInLeft" id="news-post">

                        </div>
                    </div>
                    <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft" id="pagination">

                    </div>
                </div>
            </section>
            <%- include ('partials/footer.ejs')%>
        </div>
    </div>
    <%- include ('partials/js.ejs')%>
    <script>
        const renderPost = (page) => {
            fetch('/api/news', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        page: page
                    })
                }).then(response => response.json())
                .then(data => {
                    let currentPage = Number(page);

                    let newsPart = document.getElementById('news-post');
                    let pagination = document.getElementById('pagination');
                    newsPart.innerHTML = " "
                    for (let item of data.post) {
                        newsPart.innerHTML +=
                            `<div class="col-lg-4 col-md-6 col-sm-6">
                      <div class="blog-entry">
                          <a href="/en/news/${item.url_en}" class="blog-img"><img
                                  style="width: 100%; height: 270px; object-fit: cover;"
                                  src="/public/images/news/${item.folder}/cover.jpg" class="img-responsive" alt=""></a>
                          <div class="desc">
                              <span>
                                  <small>${item.tag.split("-")[0]} |
                                      ${[item.day.padStart(2,'0'),item.month.padStart(2,'0'),item.year].join("/")} </small> </span> <h3><a
                                              href="/en/news/${item.url_en}">${item.title_en}</a>
                                          </h3>
                                          <p>${item.description_en}</p>
                          </div>
                      </div>
                  </div>`
                    }
                    let pageLink = ``
                    for (let i = 1; i <= data.totalPage; i++) {
                        pageLink += ` <li class="page-item ${(i == page)?'active':""}"><a
                              class="page-link" href="#new-post">${i}</a></li>`
                    };

                    pagination.innerHTML = `
                          <ul class="pagination justify-content-center">
                              <li class="page-item ${(currentPage == 1)?"disabled":" "}">
                                  <a class="page-link" href="#new-post" aria-label="Previous">
                                      <span aria-hidden="true">&laquo;</span>
                                  </a>
                              </li>
                                ${pageLink}
                              <li class="page-item ${(currentPage == data.totalPage)?" disabled":" "}"">
                                  <a class="page-link" href="#news-post" aria-label="Next">
                                      <span aria-hidden="true">&raquo;</span>
                                  </a>
                              </li>
                          </ul>
                          `

                    document.querySelectorAll('a.page-link').forEach((item) => {
                        if (isNaN(item.innerText)) {
                            return item.addEventListener('click', () => {
                                let buttonToPage = (item.attributes['aria-label'].value ==
                                        "Next") ?
                                    currentPage + 1 : currentPage - 1
                                console.log(buttonToPage)
                                renderPost(buttonToPage);
                            })
                        }

                        return item.addEventListener('click', () => {
                            console.log(item.innerText)
                            renderPost(item.innerText);
                        })
                    })
                    window.scrollTo(0, 0)
                });

        }
        renderPost(1);
    </script>

</body>

</html>