<!DOCTYPE HTML>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="vi" />
    <title>Câu hỏi thường gặp | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Những câu hỏi thường gặp? Scan to BIM là gì? Công nghệ Quét 3D Laser là gì?" />
    <meta name="keywords" content="Dịch vụ BIM, Scan to BIM, Khảo sát 3D Laser, Số hóa công trình xây dựng" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail" content="https://portcoast-bim.com/public/images/cover-faqs.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="vi"
        content="Câu hỏi thường gặp | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Tp. Hồ Chí Minh, Việt Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/vi/nhung-cau-hoi-thuong-gap-faqs" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="Câu hỏi thường gặp | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
    <meta property="og:description"
        content="Những câu hỏi thường gặp? Scan to BIM là gì? Công nghệ Quét 3D Laser là gì?" />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/cover-faqs.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/vi/nhung-cau-hoi-thuong-gap-faqs" />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title" content="Câu hỏi thường gặp | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
    <meta name="twitter:description"
        content="Những câu hỏi thường gặp? Scan to BIM là gì? Công nghệ Quét 3D Laser là gì?" />
    <meta name="twitter:image" content="https://portcoast-bim.com/public/images/cover-faqs.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/vi/nhung-cau-hoi-thuong-gap-faqs" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <%- include('partials/css.ejs') %>

</head>

<body>
    <div id="pcc-page">
     
        <%- include('partials/nav.ejs') %>
              <div id="pcc-main">
         <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                    </div>
                </div>
            </div>
            <!-- Page Header End -->
            <div class="pcc-solution">
                <div class="container">
                <div class="pcc-narrow-content">
                    <div class="row">
                        <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                            data-animate-effect="fadeInLeft">
                            <span class="heading-meta">FAQs</span>
                            <h2 class="pcc-heading animate-box">Những câu hỏi thường gặp</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 animate-box" data-animate-effect="fadeInRight">
                            <div class="fancy-collapse-panel">
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="cong-nghe-3d-laser-la-gi">
                                            <h4 class="panel-title">
                                                <a data-bs-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                                    aria-expanded="true" aria-controls="collapseOne">Công nghệ quét 3D
                                                    Laser là gì?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in show" role="tabpanel"
                                            aria-labelledby="cong-nghe-3d-laser-la-gi">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <p>Công nghệ quét laser 3D là phương pháp tạo mô hình số 3 chiều
                                                            của đối tượng hoặc không gian bằng cách sử dụng tia laser
                                                            quét và thu thập dữ liệu về kích thước, hình dạng và đặc
                                                            tính khác. Trong quá trình quét, tia laser quét toàn bộ bề
                                                            mặt của đối tượng, thu thập tín hiệu trả về để xác định vị
                                                            trí các điểm trên bề mặt. Kết quả là tập dữ liệu điểm 3D, sử
                                                            dụng để tạo mô hình số 3D chính xác của đối tượng. Công nghệ
                                                            này được áp dụng rộng rãi trong nhiều lĩnh vực vì nó giúp
                                                            giảm thời gian, chi phí so với phương pháp truyền thống và
                                                            cải thiện hiệu suất của các dự án.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingTwo">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-bs-toggle="collapse" data-parent="#accordion"
                                                    href="#collapseTwo" aria-expanded="false"
                                                    aria-controls="collapseTwo">Các ứng dụng quét 3D Laser?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                            aria-labelledby="headingTwo">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <p>Dữ liệu sau khi quét được sử dụng trong nhiều lĩnh vực,
                                                            bao gồm:</p>
                                                        <ul class="pcc-list">
                                                            <li>Thiết kế và xây dựng: Dữ liệu quét được sử dụng để tạo
                                                                ra mô hình số 3D của một khu vực xây dựng hoặc tòa nhà.
                                                                Các mô hình này có thể được sử dụng để thiết kế và lập
                                                                kế hoạch cho các công trình xây dựng hoặc để quản lý các
                                                                công trình đang hoạt động</li>
                                                            <li>Bảo tồn di sản văn hóa: Dữ liệu quét được sử dụng để tạo
                                                                ra các mô hình số 3D của các di tích lịch sử và văn hóa.
                                                                Các mô hình này giúp bảo tồn di sản, nghiên cứu và giảng
                                                                dạy về lịch sử và văn hóa</li>
                                                            <li>Quản lý tài sản: Dữ liệu quét được sử dụng để quản lý
                                                                các tài sản như các khu công nghiệp, nhà máy, đường cao
                                                                tốc và cơ sở hạ tầng khác. Các mô hình số 3D của các tài
                                                                sản này cung cấp thông tin chi tiết về các yếu tố liên
                                                                quan đến quản lý tài sản như vị trí, kích thước và trạng
                                                                thái của tài sản</li>
                                                            <li>Giải trí và giáo dục: Dữ liệu quét được sử dụng để tạo
                                                                ra các mô hình số 3D của các địa điểm nổi tiếng hoặc các
                                                                khu vực ấn tượng. Các mô hình này có thể được sử dụng để
                                                                tạo
                                                                ra các trò chơi, ứng dụng thực tế ảo hoặc các sản phẩm
                                                                giáo dục.</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingThree">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-bs-toggle="collapse" data-parent="#accordion"
                                                    href="#collapseThree" aria-expanded="false"
                                                    aria-controls="collapseThree">Sự kết hợp BIM-GIS-GAME?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                            aria-labelledby="headingThree">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <p>BIM GIS Game Platform là một nền tảng kết
                                                            hợp giữa BIM (Building Information Modeling), GIS
                                                            (Geographic
                                                            Information System) và GAME Platform. Nó cung cấp cho người
                                                            dùng
                                                            một giải pháp toàn diện cho việc quản lý tài sản địa lý, từ
                                                            các
                                                            dự án xây dựng đơn lẻ đến quản lý tài sản đa dạng trên toàn
                                                            khu
                                                            vực.</p>
                                                        <p>Bằng các sử dụng các công nghệ tiên tiến nhất để thu thập,
                                                            quản
                                                            lý và phân tích dữ liệu tài sản địa lý. Nó cho phép người
                                                            dùng
                                                            tạo mô hình số 3D chính xác của các công trình xây dựng, cơ
                                                            sở
                                                            hạ tầng và đất đai, đồng thời tích hợp dữ liệu về vị trí địa
                                                            lý,
                                                            thông tin kỹ thuật và quản lý tài sản. Bằng cách kết hợp
                                                            thông
                                                            tin từ BIM, GIS và GAME, nền tảng này cung cấp cho người
                                                            dùng
                                                            một cách tiếp cận dễ dàng và nhanh chóng đến các thông tin
                                                            quản
                                                            lý tài sản địa lý, giúp cho việc quản lý và bảo trì tài sản
                                                            trở
                                                            nên hiệu quả hơn.</p>
                                                        <p>Sự kết hợp giữa BIM-GIS-Game Platform cung cấp cho người dùng
                                                            một
                                                            giải pháp quản lý tài sản địa lý toàn diện, từ việc thu thập
                                                            dữ
                                                            liệu đến phân tích và quản lý tài sản, giúp cho quá trình
                                                            quản
                                                            lý và bảo trì tài sản trở nên dễ dàng và hiệu quả hơn.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <%- include ('partials/footer.ejs')%>
        </div>
    </div>

    <%- include('partials/js.ejs') %>

</body>

</html>