<!DOCTYPE HTML>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="content-language" content="vi" />
    <title>Câu hỏi thường gặp | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Những câu hỏi thường gặp? Scan to BIM là gì? Công nghệ Quét 3D Laser là gì?" />
    <meta name="keywords" content="Dịch vụ BIM, Scan to BIM, Khảo sát 3D Laser, Số hóa công trình xây dựng" />
    <meta name="author" content="PortcoastDT" />
	<meta name="robots" content="noodp, index, follow">
	<meta name="thumbnail" content="https://portcoast-bim.com/public/images/cover-faqs.jpg" />

	<!-- GEO -->
	<meta name="DC.title" lang="vi" content="Câu hỏi thường gặp | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
	<meta name="geo.region" content="VN" />
	<meta name="geo.placename" content="Tp. Hồ Chí Minh, Việt Nam" />
	<meta name="DC.identifier" content="https://portcoast-bim.com/vi/nhung-cau-hoi-thuong-gap-faqs" />
	<meta name="geo.position" content="10.798656;106.664696" />
	<meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="Câu hỏi thường gặp | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
	<meta property="og:description" content="Những câu hỏi thường gặp? Scan to BIM là gì? Công nghệ Quét 3D Laser là gì?" />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/cover-faqs.jpg" />
	<meta property="og:image:width" content="800" />
	<meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/vi/nhung-cau-hoi-thuong-gap-faqs" />
	<meta property="og:locale" content="vi_VN" />
	<meta property="og:type" content="website" />

    <meta name="twitter:title" content="Câu hỏi thường gặp | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
	<meta name="twitter:description" content="Những câu hỏi thường gặp? Scan to BIM là gì? Công nghệ Quét 3D Laser là gì?" />
    <meta name="twitter:image" content="https://portcoast-bim.com/public/images/cover-faqs.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/vi/nhung-cau-hoi-thuong-gap-faqs" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <%- include('partials/css.ejs') %>

</head>
<body>
    <div id="pcc-page">
        <a href="#" class="js-pcc-nav-toggle pcc-nav-toggle"><i></i></a>
        <%- include('partials/nav.ejs') %>
        <div id="pcc-main">
            <div class="pcc-solution">
                <div class="pcc-narrow-content">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box"
                            data-animate-effect="fadeInLeft">
                            <span class="heading-meta">FAQs</span>
                            <h2 class="pcc-heading animate-box">Những câu hỏi thường gặp</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 animate-box" data-animate-effect="fadeInRight">
                            <div class="fancy-collapse-panel">
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="cong-nghe-3d-laser-la-gi">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                                    aria-expanded="true" aria-controls="collapseOne">Công nghệ 3D Laser Scanning là gì?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                                            aria-labelledby="cong-nghe-3d-laser-la-gi">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                     <p>Công nghệ 3D Laser được sử dụng rộng rãi trong ngành xây dựng & thiết kế để tạo ra các bản sao kỹ thuật số của các tòa nhà, công trình kiến ​​trúc và các địa điểm lớn ngoài trời như cầu và đường cao tốc. Các cặp song sinh kỹ thuật số này cho phép các nhà xây dựng đảm bảo rằng các dự án của họ đáp ứng tất cả các thông số kỹ thuật trước khi bắt đầu xây dựng và đảm bảo độ chính xác đến từng milimet trên khoảng cách lớn.</p>
                                                    <p>   <p>Sử dụng công nghệ quét 3D Laser, các chuyên gia có thể tạo biểu diễn kỹ thuật số của một vật thể hoặc không gian thông qua khảo sát đám mây điểm 3D. Điều này có thể tạo ra các phép đo chính xác và cho phép bạn hiểu rõ hơn về môi trường xung quanh hiện tại.</p></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingTwo">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                                    href="#collapseTwo" aria-expanded="false"
                                                    aria-controls="collapseTwo">Ứng dụng Scan to BIM
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                            aria-labelledby="headingTwo">
                                            <div class="panel-body">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingThree">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                                    href="#collapseThree" aria-expanded="false"
                                                    aria-controls="collapseThree">Thành phố Thông minh (Digital Twin)
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                            aria-labelledby="headingThree">
                                            <div class="panel-body">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingFour">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                                    href="#collapseFour" aria-expanded="false"
                                                    aria-controls="collapseFour">Giải pháp Mobile Mapping là gì?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
                                            aria-labelledby="headingFour">
                                            <div class="panel-body">
    
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingFive">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                                    href="#collapseFive" aria-expanded="false"
                                                    aria-controls="collapseFive">BIM là gì?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel"
                                            aria-labelledby="headingFive">
                                            <div class="panel-body">
    
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingSix">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                                    href="#collapseSix" aria-expanded="false"
                                                    aria-controls="collapseSix">GIS là gì?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseSix" class="panel-collapse collapse" role="tabpanel"
                                            aria-labelledby="headingSix">
                                            <div class="panel-body">
    
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingSeven">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                                    href="#collapseSeven" aria-expanded="false"
                                                    aria-controls="collapseSeven">Sự kết hợp BIM và GIS
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel"
                                            aria-labelledby="headingSeven">
                                            <div class="panel-body">
    
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingEight">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                                    href="#collapseEight" aria-expanded="false"
                                                    aria-controls="collapseEight">BIM - GIS - GAME
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseEight" class="panel-collapse collapse" role="tabpanel"
                                            aria-labelledby="headingEight">
                                            <div class="panel-body">
    
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingNine">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                                    href="#collapseNine" aria-expanded="false"
                                                    aria-controls="collapseNine">Cơ sở hạ tầng thông minh?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseNine" class="panel-collapse collapse" role="tabpanel"
                                            aria-labelledby="headingNine">
                                            <div class="panel-body">
    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include ('partials/footer.ejs')%>
        </div>
    </div>

    <%- include('partials/js.ejs') %>

</body>

</html>