<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="en" />
    <title>Products | Infrastructure Digital Transformation Center | Construction Digitization</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="3D Laser Scanning and Scan to BIM technology solutions have strong applications in the following fields: Industry; Maritime; Construction; Architecture; Heritage; Infrastructure,..." />
    <meta name="keywords" content="BIM Services, Scan to BIM, 3D Laser Scanning, Digitization" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail" content="https://portcoast-bim.com/public/images/cover-application.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="en-US"
        content="Products | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Ho Chi Minh City, Viet Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/en/application" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title"
        content="Products | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta property="og:description"
        content="3D Laser Scanning and Scan to BIM technology solutions have strong applications in the following fields: Industry; Maritime; Construction; Architecture; Heritage; Infrastructure,..." />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/cover-application.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/en/application" />
    <meta property="og:locale" content="en-US" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title"
        content="Products | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="twitter:description"
        content="3D Laser Scanning and Scan to BIM technology solutions have strong applications in the following fields: Industry; Maritime; Construction; Architecture; Heritage; Infrastructure,..." />
    <meta name="twitter:image" content="https://portcoast-bim.com/public/images/cover-application.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/en/application" />
    <meta name="twitter:card" content="summary" />
    <%- include ('partials/css.ejs')%>

</head>

<body>
    <div id="pcc-page">
        <a class="js-pcc-nav-toggle pcc-nav-toggle"><i></i></a>
        <%- include ('partials/nav.ejs')%>

        <div id="pcc-main">
		     <!-- Section-Services -->
             <section class="pcc-services">
                <div class="pcc-narrow-content">
                    <div class="row">
                        <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                            data-animate-effect="fadeInLeft">
                            <span class="heading-meta">Products</span>
                            <h2 class="pcc-heading animate-box">OUR PRODUCTS</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <a href="/en/products/point-cloud-model" class="services-wrap animate-box" data-animate-effect="fadeInRight">
                                <div class="services-img"
                                    style="background-image: url(/public/images/services/point-cloud.jpg)"></div>
                                <div class="desc">
                                    <h3>3D Point Cloud Model</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="/en/products/truviews" class="services-wrap animate-box" data-animate-effect="fadeInRight">
                                <div class="services-img"
                                    style="background-image: url(/public/images/services/truviews.jpg)"></div>
                                <div class="desc">
                                    <h3>Truviews</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="/en/products/bim-models" class="services-wrap animate-box" data-animate-effect="fadeInRight">
                                <div class="services-img"
                                    style="background-image: url(/public/images/services/bim-modeling.jpg)"></div>
                                <div class="desc">
                                    <h3>BIM Model</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="/en/products/3d-mesh-models" class="services-wrap animate-box" data-animate-effect="fadeInRight">
                               <div class="services-img"
                                    style="background-image: url(/public/images/services/mesh-3d.jpg)"></div>
                                <div class="desc">
                                    <h3>3D Mesh Model</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="/en/products/deformation-and-deflection-survey" class="services-wrap animate-box" data-animate-effect="fadeInRight">
                                <div class="services-img"
                                    style="background-image: url(/public/images/services/deformation-surveys.jpg)">
                                </div>
                                <div class="desc">
                                    <h3>Deformation & Deflection Survey</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="/en/products/volume-survey" class="services-wrap animate-box" data-animate-effect="fadeInRight">
                                <div class="services-img"
                                    style="background-image: url(/public/images/services/volume-survey.jpg)"></div>
                                <div class="desc">
                                    <h3>Volume Survey</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="/en/products/clash-detection" class="services-wrap animate-box" data-animate-effect="fadeInRight">
                                <div class="services-img"
                                    style="background-image: url(/public/images/services/clash-detection.jpg)"></div>
                                <div class="desc">
                                    <h3>Clash Detection</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="/en/products/3d-mapping" class="services-wrap animate-box" data-animate-effect="fadeInRight">
                                <div class="services-img"
                                    style="background-image: url(/public/images/services/gis-services.jpg)"></div>
                                <div class="desc">
                                    <h3>3D Mapping</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="/en/products/visualization" class="services-wrap animate-box" data-animate-effect="fadeInRight">
                                <div class="services-img"
                                    style="background-image: url(/public/images/services/visualization.jpg)"></div>
                                <div class="desc">
                                    <h3>Visualization (VR/AR/MR)</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="/en/products/360-virtual-tours" class="services-wrap animate-box" data-animate-effect="fadeInRight">
                                <div class="services-img"
                                    style="background-image: url(/public/images/services/virtual-tour.jpg)"></div>
                                <div class="desc">
                                    <h3>Virtual Tour 360°
                                    </h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
			<%- include ('partials/footer.ejs')%>
        </div>
    </div>
    <%- include ('partials/js.ejs')%>
</body>

</html>