<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="en" />
    <title>Projects - Portcoast Digital Transformation Center | BIM & GIS Services | Scan to BIM & 3D Laser Scanning</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="" />
    <meta name="keywords" content="BIM Services, Scan to BIM, 3D Laser Scanning, Digitization" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail" content="https://portcoast-bim.com/public/images/cover-services.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="en-US"
        content="Projects - Portcoast Digital Transformation Center | BIM & GIS Services | Scan to BIM & 3D Laser Scanning" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Ho Chi Minh City, Viet Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/en/projects" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title"
        content="Projects - Portcoast Digital Transformation Center | BIM & GIS Services | Scan to BIM & 3D Laser Scanning" />
    <meta property="og:description"
        content="" />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/cover-services.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/en/projects" />
    <meta property="og:locale" content="en-US" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title"
        content="Projects - Portcoast Digital Transformation Center | BIM & GIS Services | Scan to BIM & 3D Laser Scanning" />
    <meta name="twitter:description"
        content="" />
    <meta name="twitter:image" content="https://portcoast-bim.com/public/images/cover-services.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/en/projects" />
    <meta name="twitter:card" content="summary" />
    <%- include('partials/css.ejs') %>
</head>
<body>
    <div id="pcc-page">
        <a href="#" class="js-pcc-nav-toggle pcc-nav-toggle"><i></i></a>
        <%- include('partials/nav.ejs') %>

        <div id="pcc-main">
            <div class="pcc-projects">
                <div class="pcc-narrow-content">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box"
                            data-animate-effect="fadeInLeft">
                            <span class="heading-meta">Projects</span>
                            <h2 class="pcc-heading">Typical Projects</h2>
                        </div>
                    </div>
                    <div class="row row-bottom-padded-md">
                        <div class="filtering col-sm-12 text-center animate-box" data-animate-effect="fadeInLeft">
                            <span style="margin: 15px;" data-filter="*" class="active">All</span>
                            <span style="margin: 15px;" data-filter=".industry" class="">Industry</span>
                            <span style="margin: 15px;" data-filter=".architecture" class="">Architecture</span>
                            <span style="margin: 15px;" data-filter=".port" class="">Ports & Offshore</span>
                            <span style="margin: 15px;" data-filter=".heritage" class="">Heritage</span>
                            <span style="margin: 15px;" data-filter=".infrastructure" class="">Infrastructure</span>
                            <span style="margin: 15px;" data-filter=".interior" class="">Facility Management</span>
                        </div>
                    </div>
                    <div class="row row-bottom-padded-md animate-box" data-animate-effect="fadeInLeft">
                        <div class="gallery">
                            <div class="col-md-4 col-sm-6 heritage">
                                <div class="blog-entry">
                                    <a href="/en/projects/sai-gon-opera-house" class="blog-img"><img src="/public/images/projects/saigon-opera-house/cover.jpg"
                                            class="img-responsive" alt=""></a>
                                    <div class="desc">
                                        <h3><a href="/en/projects/sai-gon-opera-house">Saigon Opera House</a></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 architecture">
                                <div class="blog-entry">
                                    <a href="/en/projects/merryland-quy-nhon" class="blog-img"><img src="/public/images/projects/merryland-quy-nhon/cover.jpg"
                                            class="img-responsive" alt=""></a>
                                    <div class="desc">
                                        <h3><a href="/en/projects/merryland-quy-nhon">MerryLand Quy Nhon</a></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 port">
                                <div class="blog-entry">
                                    <a href="/en/projects/cai-mep-ha-logistics-center" class="blog-img"><img src="/public/images/projects/logistics-cai-mep-ha/cover.jpg"
                                            class="img-responsive" alt=""></a>
                                    <div class="desc">
                                        <h3><a href="/en/projects/cai-mep-ha-logistics-center">Cai Mep Ha Logistics Center</a></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 infrastructure">
                                <div class="blog-entry">
                                    <a href="/en/projects/ho-chi-minh-city-urban-railway-line-1" class="blog-img"><img src="/public/images/projects/metro-saigon/cover.jpg"
                                            class="img-responsive" alt=""></a>
                                    <div class="desc">
                                        <h3><a href="/en/projects/ho-chi-minh-city-urban-railway-line-1">Ho Chi Minh City Urban Railway Line 1</a></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 port">
                                <div class="blog-entry">
                                    <a href="/en/projects/sai-gon-hiep-phuoc-port" class="blog-img"><img src="/public/images/projects/saigon-hiep-phuoc-port/cover.jpg"
                                            class="img-responsive" alt=""></a>
                                    <div class="desc">
                                        <h3><a href="/en/projects/sai-gon-hiep-phuoc-port">Sai Gon - Hiep Phuoc Port</a></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 port">
                                <div class="blog-entry">
                                    <a href="/en/projects/hyosung-vina-chemicals-port" class="blog-img"><img src="/public/images/projects/hyosung-vina-chemicals-port/cover.jpg"
                                            class="img-responsive" alt=""></a>
                                    <div class="desc">
                                        <h3><a href="/en/projects/hyosung-vina-chemicals-port">Hyosung Vina Chemicals Port</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                            <ul class="pagination">
                                <li class="disabled"><a href="#">&laquo;</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">&raquo;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <%- include ('partials/footer.ejs')%>
        </div>
    </div>

     <%- include('partials/js.ejs') %>

</body>

</html>