<!DOCTYPE HTML>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="content-language" content="vi" />
    <title>Sản phẩm | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Giải pháp công nghệ Laser Scan và Scan to BIM ứng dụng mạnh mẽ cho các lĩnh vực: Công nghiệp; Hàng hải; Xây dựng; Kiến trúc; Quy hoạch; Bảo tồn,..." />
    <meta name="keywords" content="Dịch vụ BIM, Scan to BIM, Khảo sát 3D Laser, Số hóa công trình xây dựng" />
    <meta name="author" content="PortcoastDT" />
	<meta name="robots" content="noodp, index, follow">
	<meta name="thumbnail" content="https://portcoast-bim.com/public/images/cover-application.jpg" />

	<!-- GEO -->
	<meta name="DC.title" lang="vi" content="Sản phẩm | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
	<meta name="geo.region" content="VN" />
	<meta name="geo.placename" content="Tp. Hồ Chí Minh, Việt Nam" />
	<meta name="DC.identifier" content="https://portcoast-bim.com/vi/san-pham" />
	<meta name="geo.position" content="10.798656;106.664696" />
	<meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="Sản phẩm | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
	<meta property="og:description" content="Giải pháp công nghệ Laser Scan và Scan to BIM ứng dụng mạnh mẽ cho các lĩnh vực: Công nghiệp; Hàng hải; Xây dựng; Kiến trúc; Quy hoạch; Bảo tồn,..." />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/cover-application.jpg" />
	<meta property="og:image:width" content="800" />
	<meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/vi/san-pham" />
	<meta property="og:locale" content="vi_VN" />
	<meta property="og:type" content="website" />

    <meta name="twitter:title" content="Sản phẩm | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
	<meta name="twitter:description" content="Giải pháp công nghệ Laser Scan và Scan to BIM ứng dụng mạnh mẽ cho các lĩnh vực: Công nghiệp; Hàng hải; Xây dựng; Kiến trúc; Quy hoạch; Bảo tồn,..." />
    <meta name="twitter:image" content="https://portcoast-bim.com/public/images/cover-application.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/vi/san-pham" />
    <%- include ('partials/css.ejs')%>
</head>
<body>
    <div id="pcc-page">
        <a class="js-pcc-nav-toggle pcc-nav-toggle"><i></i></a>
        <%- include ('partials/nav.ejs')%>
        <div id="pcc-main">
			<section class="pcc-services">
                <div class="pcc-narrow-content">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box"
                            data-animate-effect="fadeInLeft">
                            <span class="heading-meta">Sản phẩm</span>
                            <h2 class="pcc-heading animate-box">Các sản phẩm của chúng tôi</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <a href="/vi/san-pham/mo-hinh-dam-may-diem" class="services-wrap animate-box" data-animate-effect="fadeInRight">
                                <div class="services-img"
                                    style="background-image: url(/public/images/services/point-cloud.jpg)"></div>
                                <div class="desc">
                                    <h3>Mô hình đám mây điểm</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="/vi/san-pham/truviews" class="services-wrap animate-box" data-animate-effect="fadeInRight">
                                <div class="services-img"
                                    style="background-image: url(/public/images/services/truviews.jpg)"></div>
                                <div class="desc">
                                    <h3>Truviews</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="/vi/san-pham/mo-hinh-bim" class="services-wrap animate-box" data-animate-effect="fadeInRight">
                                <div class="services-img"
                                    style="background-image: url(/public/images/services/bim-modeling.jpg)"></div>
                                <div class="desc">
                                    <h3>Mô hình BIM</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="/vi/san-pham/mo-hinh-luoi" class="services-wrap animate-box" data-animate-effect="fadeInRight">
                                <div class="services-img"
                                    style="background-image: url(/public/images/services/mesh-3d.jpg)"></div>
                                <div class="desc">
                                    <h3>Mô hình lưới</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="/vi/san-pham/khao-sat-bien-dang-va-chuyen-vi" class="services-wrap animate-box" data-animate-effect="fadeInRight">
                                <div class="services-img"
                                    style="background-image: url(/public/images/services/deformation-surveys.jpg)">
                                </div>
                                <div class="desc">
                                    <h3>Khảo sát biến dạng & Chuyển vị</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="/vi/san-pham/khao-sat-khoi-luong" class="services-wrap animate-box" data-animate-effect="fadeInRight">
                                <div class="services-img"
                                    style="background-image: url(/public/images/services/volume-surveys.jpg)"></div>
                                <div class="desc">
                                    <h3>Khảo sát khối lượng</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="/vi/san-pham/phat-hien-xung-dot" class="services-wrap animate-box" data-animate-effect="fadeInRight">
                                <div class="services-img"
                                    style="background-image: url(/public/images/services/clash-detection.jpg)"></div>
                                <div class="desc">
                                    <h3>Phát hiện xung đột</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="/vi/san-pham/lap-ban-do-3d" class="services-wrap animate-box" data-animate-effect="fadeInRight">
                                <div class="services-img"
                                    style="background-image: url(/public/images/services/gis-services.jpg)"></div>
                                <div class="desc">
                                    <h3>Lập bản đồ 3D</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="services-wrap animate-box" data-animate-effect="fadeInRight">
                                <div class="services-img"
                                    style="background-image: url(/public/images/services/simulation.jpg)"></div>
                                <div class="desc">
                                    <h3>Mô phỏng 3D</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="services-wrap animate-box" data-animate-effect="fadeInRight">
                                <div class="services-img"
                                    style="background-image: url(/public/images/services/game-ar-vr.jpg)"></div>
                                <div class="desc">
                                    <h3>Thực tế ảo AR/VR/MR</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="/vi/san-pham/tham-quan-ao-360" class="services-wrap animate-box" data-animate-effect="fadeInRight">
                                <div class="services-img"
                                    style="background-image: url(/public/images/services/virtual-tour.jpg)"></div>
                                <div class="desc">
                                    <h3>Tham quan ảo (Virtual tour 360°)</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
			<%- include ('partials/footer.ejs')%>
        </div>
    </div>

    <%- include ('partials/js.ejs')%>

</body>

</html>