<!DOCTYPE HTML>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="vi" />
    <title>Khảo sát biến dạng và chuyển vị | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Chúng tôi cung cấp cuộc khảo sát để xác định chuyển vị và biến dạng của một cấu trúc tự nhiên hoặc bất kỳ cấu trúc nhân tạo nào. ." />
    <meta name="keywords" content="Dịch vụ BIM, Scan to BIM, Khảo sát 3D Laser, Số hóa công trình xây dựng" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail" content="https://portcoast-bim.com/public/images/products/deformation-monitoring/cover.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="vi"
        content="Khảo sát biến dạng và chuyển vị | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Tp. Hồ Chí Minh, Việt Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/vi/san-pham/khao-sat-bien-dang" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title"
        content="Khảo sát biến dạng và chuyển vị | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
    <meta property="og:description" content="Chúng tôi cung cấp cuộc khảo sát để xác định chuyển vị và biến dạng của một cấu trúc tự nhiên hoặc bất kỳ cấu trúc nhân tạo nào. ." />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/products/deformation-monitoring/cover.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/vi/san-pham/khao-sat-bien-dang" />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title"
        content="Khảo sát biến dạng và chuyển vị | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
    <meta name="twitter:description" content="Chúng tôi cung cấp cuộc khảo sát để xác định chuyển vị và biến dạng của một cấu trúc tự nhiên hoặc bất kỳ cấu trúc nhân tạo nào. ." />
    <meta name="twitter:image" content="https://portcoast-bim.com/public/images/products/deformation-monitoring/cover.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/vi/san-pham/khao-sat-bien-dang" />
    <%- include (dir+'partials/css.ejs')%>
</head>

<body>
    <div id="pcc-page">
        <a class="js-pcc-nav-toggle pcc-nav-toggle"><i></i></a>
        <%- include (dir+'partials/nav.ejs')%>
        <div id="pcc-main">
            <div class="pcc-solution">
                <div class="pcc-narrow-content">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box"
                            data-animate-effect="fadeInLeft">
                            <span class="heading-meta">Sản phẩm cung cấp</span>
                            <h2 class="pcc-heading animate-box">Khảo sát biến dạng và chuyển vị</h2>
                        </div>
                    </div>
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                            <p>Chúng tôi cung cấp cuộc khảo sát để xác định chuyển vị và biến dạng của một cấu trúc tự nhiên hoặc bất kỳ cấu trúc nhân tạo nào. Việc phát hiện sớm giúp đưa ra các hành động để giải quyết nguyên nhân/hậu quả nhằm giảm thiểu hoặc loại bỏ các rủi ro có thể xảy ra và đảm bảo an toàn cho kết cấu. </p>
                            <p>Biến dạng và chuyển vị xảy ra do nhiều nguyên nhân như hoạt động địa chấn tự nhiên, lão hóa kết cấu, hoạt động địa tầng, hoạt động đóng cọc, nén đất không đúng cách, tải trọng kết cấu không cân bằng, v.v. Khảo sát biến dạng được thực hiện để theo dõi các cấu trúc mẫu sau:</p>
                            <ul class="pcc-list">
                                <li>Đường hầm</li>
                                <li>Trụ, dầm, cột cầu</li>
                                <li>Đập và Kè</li>
                                <li>Đo vết nứt kết cấu và thử tải</li>
                                <li>Tòa nhà</li>
                            </ul>
                        </div>
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                            <img class="img-fluid" src="/public/images/products/deformation-monitoring/cover.jpg">
                        </div>
                    </div>
                </div>
            </div>
            <%- include (dir+'partials/footer.ejs')%>
        </div>
    </div>
    <%- include (dir+'partials/js.ejs')%>
</body>

</html>