<!DOCTYPE HTML>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="vi" />
    <title>Khảo sát Địa hình và Thủy văn | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="Dịch vụ BIM, Scan to BIM, Khảo sát 3D Laser, Số hóa công trình xây dựng" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail" content="https://portcoast-bim.com/public/images/products/topo-hydro-surveys/cover.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="vi"
        content="Khảo sát Địa hình và Thủy văn | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Tp. Hồ Chí Minh, Việt Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/vi/san-pham/mo-hinh-luoi-3d-mesh" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title"
        content="Khảo sát Địa hình và Thủy văn | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/products/topo-hydro-surveys/cover.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/vi/san-pham/mo-hinh-luoi-3d-mesh" />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title"
        content="Khảo sát Địa hình và Thủy văn | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:image" content="https://portcoast-bim.com/public/images/products/topo-hydro-surveys/cover.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/vi/san-pham/mo-hinh-luoi-3d-mesh" />
    <%- include (dir+'partials/css.ejs')%>
</head>

<body>
    <div id="pcc-page">
        <a class="js-pcc-nav-toggle pcc-nav-toggle"><i></i></a>
        <%- include (dir+'partials/nav.ejs')%>
        <div id="pcc-main">
            <div class="pcc-solution">
                <div class="pcc-narrow-content">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box"
                            data-animate-effect="fadeInLeft">
                            <span class="heading-meta">Sản phẩm cung cấp</span>
                            <h2 class="pcc-heading animate-box">Khảo sát Địa hình và Thủy văn</h2>
                        </div>
                    </div>
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                            <p>Khảo sát địa hình chụp và ghi lại địa hình của bề mặt đất cùng với các đặc điểm tự nhiên và nhân tạo trong môi trường xây dựng. Nó nhằm mục đích cung cấp phạm vi và vị trí chính xác của một địa điểm, các tòa nhà tại địa điểm cũng như hiểu rõ về các cấp độ, đặc điểm vật lý, ranh giới và hệ thống thoát nước trong khu vực lân cận.</p>
                            <p>Các khảo sát địa hình theo truyền thống được tạo ra ở định dạng 2D, tuy nhiên, chúng tôi hiểu rằng việc cung cấp thông tin này ở định dạng 3D sẽ cải thiện đáng kể độ chính xác của thiết kế bằng cách cung cấp các giải pháp tích hợp và nhất quán giúp tiết kiệm chi phí đáng kể.</p>
                            <p>Tất cả các khảo sát địa hình của chúng tôi đều được phát hành ở định dạng 2D và 3D theo tiêu chuẩn với phản hồi của khách hàng nhấn mạnh rằng mức độ chi tiết mà chúng tôi cung cấp vượt trên cả mong đợi. Khảo sát địa hình không nên chỉ được coi là các dự án độc lập. Chúng thường là nền tảng cho các cuộc khảo sát ngầm và tiện ích, cũng như được sử dụng cùng với việc bắt đầu giai đoạn xây dựng của dự án hoặc với các cuộc khảo sát tòa nhà được đo đạc.</p>
                            <p>Khảo sát thủy văn có thể được thực hiện ở nhiều địa điểm khác nhau, từ vùng nông ven biển đến sông hồ. Máy đo sâu hồi âm đa tia và công nghệ liên quan có thể được gắn trên tàu, Tàu nổi tự động (ASV) và thậm chí cả Phương tiện dưới nước tự hành (AUV).</p>
                            <p>Chúng tôi có nhiều kinh nghiệm trong khảo sát thủy văn và lập bản đồ đáy biển, cung cấp dịch vụ cho ngành xây dựng ngoài khơi và năng lượng tái tạo, tư vấn môi trường và chính quyền địa phương. Các tàu khảo sát của chúng tôi được trang bị máy đo tiếng vọng đa tia, hệ thống định vị, máy định hình đáy phụ và sonar quét bên để thực hiện thu thập dữ liệu có độ phân giải cao cho nhiều ứng dụng.</p>
                        </div>
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                            <img class="img-fluid" src="/public/images/products/topo-hydro-surveys/cover.jpg">
                        </div>
                    </div>
                </div>
            </div>
            <%- include (dir+'partials/footer.ejs')%>
        </div>
    </div>
    <%- include (dir+'partials/js.ejs')%>
</body>

</html>