<!DOCTYPE HTML>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="vi" />
    <title>Mô hình Đám mây điểm | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="Dịch vụ BIM, Scan to BIM, Khảo sát 3D Laser, Số hóa công trình xây dựng" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail" content="https://portcoast-bim.com/public/images/products/3d-point-cloud/cover.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="vi"
        content="Mô hình Đám mây điểm | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Tp. Hồ Chí Minh, Việt Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/vi/san-pham/mo-hinh-dam-may-diem" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title"
        content="Mô hình Đám mây điểm | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/products/3d-point-cloud/cover.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/vi/san-pham/mo-hinh-dam-may-diem" />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title"
        content="Mô hình Đám mây điểm | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:image" content="https://portcoast-bim.com/public/images/products/3d-point-cloud/cover.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/vi/san-pham/mo-hinh-dam-may-diem" />
    <%- include (dir+'partials/css.ejs')%>
</head>

<body>
    <div id="pcc-page">

        <%- include (dir+'partials/nav.ejs')%>
        <div id="pcc-main">
            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                    </div>
                </div>
            </div>
            <!-- Page Header End -->
            <div class="pcc-solution">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="pcc-narrow-content">
                                <div class="row">
                                    <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                                        data-animate-effect="fadeInLeft">
                                        <span class="heading-meta">Sản phẩm</span>
                                        <h2 class="pcc-heading animate-box">Mô hình Đám mây điểm</h2>
                                    </div>
                                </div>
                                <div class="row row-bottom-padded-md">
                                    <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                                        <p>Bằng cách sử dụng công nghệ 3D Laser độ nét cao là một cách nhanh chóng và
                                            hiệu
                                            quả để thu thập dữ liệu không gian của môi trường. Kết quả thu được là mô
                                            hình đám mây
                                            điểm cung cấp cho khách hàng các thông tin về đối tượng như hình dạng,
                                            khoảng cách, tình trạng của các phần cấu trúc như sàn võng, tường cong, dầm
                                            lệch, nền
                                            móng nứt, hoặc bất kỳ vật thể phức tạp nào có trong tầm nhìn của máy quét.
                                        </p>
                                        <p>Chúng tôi cung cấp nền tảng chia sẻ dữ liệu scan <a
                                                href="/vi/san-pham/truviews">TruView</a>, chế độ xem dữ liệu đám mây
                                            điểm, hình ảnh 360 độ và mô hình thiết kế, để người dùng thực hiện đo đạc,
                                            hiện thị tọa độ,...</p>
                                        <p>Các định dạng hỗ trợ:</p>
                                        <ul class="pcc-list">
                                            <li>Định dạng .PCG và RCS - AutoDesk</li>
                                            <li>Định dạng .IMP, PTX - Leica</li>
                                            <li>Định dạng .POD - Định dạng Pointools và Bentley</li>
                                        </ul>
                                        <p>Dữ liệu đám mây điểm được sử dụng làm đầu vào cho các sản phẩm như:</p>
                                        <ul class="pcc-list">
                                            <li>Kiểm tra hoàn công</li>
                                            <li>Tạo tài liệu CAD 2D, 3D</li>
                                            <li>Phân tích xung đột, biến dạng</li>
                                            <li>Tính toán khối lượng</li>
                                            <li>Thiết kế ngược</li>
                                        </ul>
                                        <p>Nhiều khách hàng của chúng tôi sử dụng dữ liệu đám mây điểm 3D này như một
                                            bản ghi lịch sử về các điều kiện của công trình hoặc địa điểm tại thời điểm
                                            khảo sát. Dữ liệu này có thể được sử dụng để bảo tồn các công trình lịch sử,
                                            tài liệu pháp lý, khảo sát tiến độ xây dựng, v.v.</p>
                                    </div>
                                    <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                                        <img class="img-fluid" src="/public/images/products/3d-point-cloud/cover.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Sidebar Start -->
                        <div class="col-lg-4">
                            <div class="pcc-narrow-content">
                                <!-- Category Start -->
                                <div class="mb-5 animate-box" data-animate-effect="fadeInLeft">
                                    <h4 class="pcc-heading d-inline-block text-uppercase border-5 mb-5">Sản phẩm
                                    </h4>
                                    <div class="d-flex flex-column justify-content-start">
                                        <a class="bg-light rounded py-2 px-3 mb-2"
                                            href="/vi/san-pham/mo-hinh-dam-may-diem"><i
                                                class="fa fa-angle-right me-2"></i>Mô hình đám mây điểm</a>
                                        <a class="bg-light rounded py-2 px-3 mb-2"
                                            href="/vi/san-pham/truviews"><i
                                                class="fa fa-angle-right me-2"></i>Truviews</a>
                                        <a class="bg-light rounded py-2 px-3 mb-2" href="/vi/san-pham/mo-hinh-bim"><i
                                                class="fa fa-angle-right me-2"></i>Mô hình BIM</a>
                                        <a class="bg-light rounded py-2 px-3 mb-2"
                                            href="/vi/san-pham/mo-hinh-luoi"><i
                                                class="fa fa-angle-right me-2"></i>Mô hình lưới</a>
                                        <a class="bg-light rounded py-2 px-3 mb-2" href="/vi/san-pham/khao-sat-bien-dang-va-chuyen-vi"><i
                                                class="fa fa-angle-right me-2"></i>Khảo sát biến dạng & Chuyển vị</a>
                                        <a class="bg-light rounded py-2 px-3 mb-2" href="/vi/san-pham/khao-sat-khoi-luong"><i
                                                class="fa fa-angle-right me-2"></i>Khảo sát khối lượng</a>
                                        <a class="bg-light rounded py-2 px-3 mb-2" href="/vi/san-pham/phat-hien-xung-dot"><i
                                                class="fa fa-angle-right me-2"></i>Phát hiện xung đột</a>
                                        <a class="bg-light rounded py-2 px-3 mb-2"
                                            href="/vi/san-pham/lap-ban-do-3d"><i
                                                class="fa fa-angle-right me-2"></i>Lập bản đồ 3D</a>
                                        <a class="bg-light rounded py-2 px-3 mb-2" href="/vi/san-pham/truc-quan-hoa"><i
                                                class="fa fa-angle-right me-2"></i>Trực quan hóa (AR/VR/MR)</a>
                                        <a class="bg-light rounded py-2 px-3 mb-2" href="/vi/san-pham/tham-quan-ao-360"><i
                                                class="fa fa-angle-right me-2"></i>Tham quan ảo 360°</a>

                                    </div>
                                </div>
                                <!-- Category End -->

                                <!-- Recent Post Start -->
                                <div class="mb-5 animate-box" data-animate-effect="fadeInLeft" id="project">
                                    <h4 class="pcc-heading d-inline-block text-uppercase border-5 mb-5">Dự án tiêu biểu
                                    </h4>

                                </div>
                                <!-- Recent Post End -->
                            </div>
                            <!-- Sidebar End -->
                        </div>
                    </div>
                </div>
            </div>
            <%- include (dir+'partials/footer.ejs')%>
        </div>
    </div>
    <%- include (dir+'partials/js.ejs')%>
    <script>
        fetch('/api/project', {
                method: "GET",
            }).then(response => response.json())
            .then(data => {
                for (let item of data) {
                    document.getElementById("project").innerHTML += ` <div class="d-flex rounded overflow-hidden mb-3">
    <img class="img-fluid" src="/public/images/projects/${item.folder}/cover.jpg"
        style="width: 100px; height: 100px; object-fit: cover;" alt="">
    <a href="/vi/du-an/${item.url_vi}" class="d-flex align-items-center px-3 mb-0">${item.title_vi}
    </a>
</div>`
                }
            })
    </script>
</body>

</html>