<!DOCTYPE HTML>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="vi" />
    <title>Phát hiện xung đột | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="Dịch vụ BIM, Scan to BIM, Khảo sát 3D Laser, Số hóa công trình xây dựng" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail" content="https://portcoast-bim.com/public/images/products/clash-detection/cover.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="vi"
        content="Phát hiện xung đột | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Tp. Hồ Chí Minh, Việt Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/vi/san-pham/phat-hien-xung-dot" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title"
        content="Phát hiện xung đột | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/products/clash-detection/cover.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/vi/san-pham/phat-hien-xung-dot" />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title"
        content="Phát hiện xung đột | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:image" content="https://portcoast-bim.com/public/images/products/clash-detection/cover.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/vi/san-pham/phat-hien-xung-dot" />
    <%- include (dir+'partials/css.ejs')%>
</head>

<body>
    <div id="pcc-page">
        <a class="js-pcc-nav-toggle pcc-nav-toggle"><i></i></a>
        <%- include (dir+'partials/nav.ejs')%>
        <div id="pcc-main">
            <div class="pcc-solution">
                <div class="pcc-narrow-content">
                    <div class="row">
                        <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                            data-animate-effect="fadeInLeft">
                            <span class="heading-meta">Sản phẩm</span>
                            <h2 class="pcc-heading animate-box">Phát hiện xung đột</h2>

                        </div>
                    </div>
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                        <p>Bằng các so sánh mô hình thiết kế với mô hình đám mây điểm hoặc đám mây điểm với đám mấy điểm chúng tôi </p>
                        <p>Bằng việc sử dụng công nghệ quét để xác minh xây dựng đảm bảo rằng khái niệm thiết kế đang được thực hiện tại chỗ. Làm nổi bật bất kỳ sai lệch nào so với thiết kế ở giai đoạn đầu có nghĩa là các vấn đề tiềm ẩn có thể được thiết kế, thay vì xử lý tại chỗ gây ra sự chậm trễ và tăng chi phí.</p>
                       <p>Có thể so sánh các mô hình 3D của cấu trúc dự kiến ​​và đám mây điểm của các môi trường hiện có để tìm kiếm sự tương thích giữa các phần tử, tìm cách dự đoán nhiễu và dự đoán các giải pháp vẫn đang trong giai đoạn thiết kế.</p>
                    </div>
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                            <img class="img-fluid" src="/public/images/products/clash-detection/cover.jpg">
                        </div>
                    </div>
                </div>
            </div>
            <%- include (dir+'partials/footer.ejs')%>
        </div>
    </div>
    <%- include (dir+'partials/js.ejs')%>
</body>

</html>