<!DOCTYPE HTML>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="vi" />
    <title>Scan to BIM - Trung tâm chuyển đổi số Portcoast | Dịch vụ BIM & GIS | Scan to BIM & Khảo sát 3D
        Laser</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Tại Trung tâm chuyển đổi số Portcoast, chúng tôi chuyên thu thập, lập tài liệu và chia lưới các bất kỳ thứ gì không thể hiển thị bằng định dạng mô
                                hình CAD hoặc 3D truyền thống" />
    <meta name="keywords" content="Dịch vụ BIM, Scan to BIM, Khảo sát 3D Laser, Số hóa công trình xây dựng" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail" content="https://portcoast-bim.com/public/images/products/scan-to-bim/cover.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="vi"
        content="Scan to BIM - Trung tâm chuyển đổi số Portcoast | Dịch vụ BIM & GIS | Scan to BIM & Khảo sát 3D Laser" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Tp. Hồ Chí Minh, Việt Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/vi/san-pham/scan-to-bim" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title"
        content="Scan to BIM - Trung tâm chuyển đổi số Portcoast | Dịch vụ BIM & GIS | Scan to BIM & Khảo sát 3D Laser" />
    <meta property="og:description" content="Tại Trung tâm chuyển đổi số Portcoast, chúng tôi chuyên thu thập, lập tài liệu và chia lưới các bất kỳ thứ gì không thể hiển thị bằng định dạng mô
                                hình CAD hoặc 3D truyền thống" />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/products/scan-to-bim/cover.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/vi/san-pham/scan-to-bim" />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title"
        content="Scan to BIM - Trung tâm chuyển đổi số Portcoast | Dịch vụ BIM & GIS | Scan to BIM & Khảo sát 3D Laser" />
    <meta name="twitter:description" content="Tại Trung tâm chuyển đổi số Portcoast, chúng tôi chuyên thu thập, lập tài liệu và chia lưới các bất kỳ thứ gì không thể hiển thị bằng định dạng mô
                                hình CAD hoặc 3D truyền thống" />
    <meta name="twitter:image" content="https://portcoast-bim.com/public/images/products/scan-to-bim/cover.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/vi/san-pham/scan-to-bim" />
    <%- include (dir+'partials/css.ejs')%>
</head>

<body>
    <div id="pcc-page">
        <a class="js-pcc-nav-toggle pcc-nav-toggle"><i></i></a>
        <%- include (dir+'partials/nav.ejs')%>
        <div id="pcc-main">
            <div class="pcc-solution">
                <div class="pcc-narrow-content">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box"
                            data-animate-effect="fadeInLeft">
                            <span class="heading-meta">Sản phẩm cung cấp</span>
                            <h2 class="pcc-heading animate-box">Scan to BIM</h2>
                        </div>
                    </div>
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">

                            <p>Dịch vụ Scan to BIM là một phần của ngành Kiến trúc, Kỹ thuật và Xây dựng. Thông qua công nghệ 3d Laser Scan cho phép thu thập lại hiện trạng cơ sở công trình thành mô hình đám mây điểm 3D. Dữ liệu này sau đó được sử dụng để tạo các mô hình BIM. Dữ liệu bản vẽ hoàn công được truy xuất giúp nâng cao năng suất công việc tổng thể, không giống như các công cụ truyền thống tốn thời gian được sử dụng để tạo các mô hình xử lý khác nhau. Quá trình quét laser diễn ra bên trong cũng như bên ngoài, hỗ trợ tạo các khảo sát 3D chi tiết. Nó cũng dẫn đến các mô hình 3D thông minh.</p>
                            <h4>Lợi ích của Scan to BIM:</h4>
                            <ul class="pcc-list">
                                <li>Những hệ thống phức tạp nhất bao gồm đường ống, van và thiết bị</li>
                                <li>Bảo tồn các đối tượng công trình kiến ​​trúc lịch sử</li>
                                <li>Tạo các mô hình chính xác cho ngành công nghiệp điện ảnh</li>
                                <li>Tính thể tích vật thể và mặt bằng rộng lớn</li>
                            </ul>
                        </div>
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                            <img class="img-fluid" src="/public/images/products/scan-to-bim/cover.jpg">
                        </div>
                    </div>
                </div>
            </div>
            <%- include (dir+'partials/footer.ejs')%>
        </div>
    </div>
    <%- include (dir+'partials/js.ejs')%>
</body>

</html>