<!DOCTYPE HTML>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="vi" />
    <title>Portcoast ký kết hợp tác chiến lược với Hưng Thịnh Incons, đẩy mạnh chuyển đổi số trong xây dựng</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Ngày 16/09/2022, Portcoast đã ký kết hợp tác chiến lược với Công ty CP Hưng Thịnh Incons (Hưng Thịnh Incons), hướng tới mục tiêu ứng dụng công nghệ chuyển đổi số trong xây dựng, tối ưu hóa quy trình thiết kế, quy hoạch, giám sát thi công dự án…" />
    <meta name="keywords" content="Dịch vụ BIM, Scan to BIM, Khảo sát 3D Laser, Số hóa công trình xây dựng" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail"
        content="https://portcoast-bim.com/public/images/news/20220916-portcoast-sign-an-MOU-with-hung-thinh-incons-joint-stock-company/cover.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="vi"
        content="Portcoast ký kết hợp tác chiến lược với Hưng Thịnh Incons, đẩy mạnh chuyển đổi số trong xây dựng" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Tp. Hồ Chí Minh, Việt Nam" />
    <meta name="DC.identifier"
        content="https://portcoast-bim.com/vi/tin-tuc/portcoast-ky-ket-hop-tac-chien-luoc-voi-hung-thinh-incons-day-manh-chuyen-doi-so-trong-xay-dung" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title"
        content="Portcoast ký kết hợp tác chiến lược với Hưng Thịnh Incons, đẩy mạnh chuyển đổi số trong xây dựng" />
    <meta property="og:description"
        content="Ngày 16/09/2022, Portcoast đã ký kết hợp tác chiến lược với Công ty CP Hưng Thịnh Incons (Hưng Thịnh Incons), hướng tới mục tiêu ứng dụng công nghệ chuyển đổi số trong xây dựng, tối ưu hóa quy trình thiết kế, quy hoạch, giám sát thi công dự án…" />
    <meta property="og:image"
        content="https://portcoast-bim.com/public/images/news/20220916-portcoast-sign-an-MOU-with-hung-thinh-incons-joint-stock-company/cover.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url"
        content="https://portcoast-bim.com/vi/tin-tuc/portcoast-ky-ket-hop-tac-chien-luoc-voi-hung-thinh-incons-day-manh-chuyen-doi-so-trong-xay-dung" />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title"
        content="Portcoast ký kết hợp tác chiến lược với Hưng Thịnh Incons, đẩy mạnh chuyển đổi số trong xây dựng" />
    <meta name="twitter:description"
        content="Ngày 16/09/2022, Portcoast đã ký kết hợp tác chiến lược với Công ty CP Hưng Thịnh Incons (Hưng Thịnh Incons), hướng tới mục tiêu ứng dụng công nghệ chuyển đổi số trong xây dựng, tối ưu hóa quy trình thiết kế, quy hoạch, giám sát thi công dự án…" />
    <meta name="twitter:image"
        content="https://portcoast-bim.com/public/images/news/20220916-portcoast-sign-an-MOU-with-hung-thinh-incons-joint-stock-company/cover.jpg" />
    <meta name="twitter:url"
        content="https://portcoast-bim.com/vi/tin-tuc/portcoast-ky-ket-hop-tac-chien-luoc-voi-hung-thinh-incons-day-manh-chuyen-doi-so-trong-xay-dung" />
    <%- include (dir+'partials/css.ejs')%>
</head>

<body>
    <div id="pcc-page">
        <a class="js-pcc-nav-toggle pcc-nav-toggle"><i></i></a>
        <%- include (dir+'partials/nav.ejs')%>
        <div id="pcc-main">
            <section class="pcc-services">
                <div class="pcc-narrow-content">
                    <div class="row">
                        <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                            <span class="heading-meta">
                                Hoạt động | 16/09/2022</span>
                            <h2 class="pcc-heading animate-box">Portcoast ký kết hợp tác chiến lược với Hưng Thịnh
                                Incons, đẩy mạnh chuyển đổi số trong xây dựng</h2>
                        </div>
                    </div>
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                            <p><strong>Ngày 16/09/2022, Portcoast đã ký kết hợp tác chiến lược với Công ty CP Hưng Thịnh
                                    Incons (Hưng Thịnh Incons), hướng tới mục tiêu ứng dụng công nghệ chuyển đổi số
                                    trong xây dựng, tối ưu hóa quy trình thiết kế, quy hoạch, giám sát thi công dự án…
                                </strong></p>
                            <p>Tại buổi lễ, Ông Phạm Anh Tuấn - Tổng Giám đốc Portcoast, đã chia sẻ
                                "Portcoast và Hưng Thịnh Incons sẽ hợp tác trong việc phát triển dựa trên cùng một
                                tầm nhìn chiến lược - ứng dụng công nghệ trên nền tảng số, mang lại lợi ích không chỉ
                                cho mỗi doanh nghiệp mà còn phục vụ cho cộng đồng trong kỷ nguyên cuộc Cách mạng công
                                nghiệp 4.0, đưa các sản phẩm của 2 công ty lên tầm cao mới và đạt được thành công vượt trội."</p>
                            <figure>
                                <img src="/public/images/news/20220916-portcoast-sign-an-MOU-with-hung-thinh-incons-joint-stock-company/20220916-portcoast-sign-an-MOU-with-hung-thinh-incons-joint-stock-company-001.jpg"
                                    alt="Portcoast ký kết hợp tác chiến lược với Hưng Thịnh Incons, đẩy mạnh chuyển đổi số trong xây dựng"
                                    class="img-fluid">
                                <figcaption></figcaption>
                            </figure>
                            <figure>
                                <img src="/public/images/news/20220916-portcoast-sign-an-MOU-with-hung-thinh-incons-joint-stock-company/20220916-portcoast-sign-an-MOU-with-hung-thinh-incons-joint-stock-company-002.jpg"
                                    alt="Portcoast ký kết hợp tác chiến lược với Hưng Thịnh Incons, đẩy mạnh chuyển đổi số trong xây dựng"
                                    class="img-fluid">
                                <figcaption></figcaption>
                            </figure>
                            <figure>
                                <img src="/public/images/news/20220916-portcoast-sign-an-MOU-with-hung-thinh-incons-joint-stock-company/20220916-portcoast-sign-an-MOU-with-hung-thinh-incons-joint-stock-company-003.jpg"
                                    alt="Portcoast ký kết hợp tác chiến lược với Hưng Thịnh Incons, đẩy mạnh chuyển đổi số trong xây dựng"
                                    class="img-fluid">
                                <figcaption></figcaption>
                            </figure>
                            <figure>
                                <img src="/public/images/news/20220916-portcoast-sign-an-MOU-with-hung-thinh-incons-joint-stock-company/20220916-portcoast-sign-an-MOU-with-hung-thinh-incons-joint-stock-company-004.jpg"
                                    alt="Portcoast ký kết hợp tác chiến lược với Hưng Thịnh Incons, đẩy mạnh chuyển đổi số trong xây dựng"
                                    class="img-fluid">
                                <figcaption></figcaption>
                            </figure>
                            <figure>
                                <img src="/public/images/news/20220916-portcoast-sign-an-MOU-with-hung-thinh-incons-joint-stock-company/20220916-portcoast-sign-an-MOU-with-hung-thinh-incons-joint-stock-company-005.jpg"
                                    alt="Portcoast ký kết hợp tác chiến lược với Hưng Thịnh Incons, đẩy mạnh chuyển đổi số trong xây dựng"
                                    class="img-fluid">
                                <figcaption></figcaption>
                            </figure>
                            <figure>
                                <img src="/public/images/news/20220916-portcoast-sign-an-MOU-with-hung-thinh-incons-joint-stock-company/20220916-portcoast-sign-an-MOU-with-hung-thinh-incons-joint-stock-company-006.jpg"
                                    alt="Portcoast ký kết hợp tác chiến lược với Hưng Thịnh Incons, đẩy mạnh chuyển đổi số trong xây dựng"
                                    class="img-fluid">
                                <figcaption></figcaption>
                            </figure>
                            <figure>
                                <img src="/public/images/news/20220916-portcoast-sign-an-MOU-with-hung-thinh-incons-joint-stock-company/20220916-portcoast-sign-an-MOU-with-hung-thinh-incons-joint-stock-company-007.jpg"
                                    alt="Portcoast ký kết hợp tác chiến lược với Hưng Thịnh Incons, đẩy mạnh chuyển đổi số trong xây dựng"
                                    class="img-fluid">
                                <figcaption></figcaption>
                            </figure>
                            <figure>
                                <img src="/public/images/news/20220916-portcoast-sign-an-MOU-with-hung-thinh-incons-joint-stock-company/20220916-portcoast-sign-an-MOU-with-hung-thinh-incons-joint-stock-company-008.jpg"
                                    alt="Portcoast ký kết hợp tác chiến lược với Hưng Thịnh Incons, đẩy mạnh chuyển đổi số trong xây dựng"
                                    class="img-fluid">
                                <figcaption></figcaption>
                            </figure>
                            <figure>
                                <img src="/public/images/news/20220916-portcoast-sign-an-MOU-with-hung-thinh-incons-joint-stock-company/20220916-portcoast-sign-an-MOU-with-hung-thinh-incons-joint-stock-company-009.jpg"
                                    alt="Portcoast ký kết hợp tác chiến lược với Hưng Thịnh Incons, đẩy mạnh chuyển đổi số trong xây dựng"
                                    class="img-fluid">
                                <figcaption></figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </section>
            <%- include (dir+'partials/footer.ejs')%>
        </div>
    </div>
    <%- include (dir+'partials/js.ejs')%>
</body>

</html>