<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="en" />
    <title>Case Studies | Infrastructure Digital Transformation Center | Construction Digitization
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="We provide products from Scan to BIM solution: 3D Laser Survey; BIM Model; 3D Mesh Model; 3D Simulation; GIS Services; Virtual tour website;..." />
    <meta name="keywords" content="BIM Services, Scan to BIM, 3D Laser Scanning, Digitization" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail" content="https://portcoast-bim.com/public/images/solutions/uav-survey/rtk300.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="en-US"
        content="Case Studies | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Ho Chi Minh City, Viet Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/en/case-studies" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title"
        content="Case Studies | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta property="og:description"
        content="We provide products from Scan to BIM solution: 3D Laser Survey; BIM Model; 3D Mesh Model; 3D Simulation; GIS Services; Virtual tour website;..." />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/solutions/uav-survey/rtk300.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/en/case-studies" />
    <meta property="og:locale" content="en-US" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title"
        content="Case Studies | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="twitter:description"
        content="We provide products from Scan to BIM solution: 3D Laser Survey; BIM Model; 3D Mesh Model; 3D Simulation; GIS Services; Virtual tour website;..." />
    <meta name="twitter:image" content="https://portcoast-bim.com/public/images/solutions/uav-survey/rtk300.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/en/case-studies" />
    <meta name="twitter:card" content="summary" />
    <%- include(dir+'partials/css.ejs') %>
</head>

<body>
    <div id="pcc-page">

        <%- include(dir+'partials/nav.ejs') %>
        <div id="pcc-main">
            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                    </div>
                </div>
            </div>
            <!-- Page Header End -->
            <section class="pcc-solution">
                <div class="container">
                    <div class="pcc-narrow-content">
                        <div class="row">
                            <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                                data-animate-effect="fadeInLeft">
                                <span class="heading-meta">
                                    About us</span>
                                <h2 class="pcc-heading animate-box">Case Studies</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                                <div class="blog-entry">
                                    <a href="/public/images/case-studies/error-assessment-of-point-cloud-and-bim-models-to-actual-works/error-assessment-of-point-cloud-and-bim-models-to-actual-works.pdf" class="blog-img"><img
                                            style="width: 100%; height: 270px; object-fit: cover;"
                                            src="/public/images/case-studies/error-assessment-of-point-cloud-and-bim-models-to-actual-works/cover.jpg"
                                            class="img-responsive" alt=""></a>
                                    <div class="desc">
                                        <span><small>12/09/2022 | ICSCEA 2021 | <i
                                                    class="icon-file-pdf me-1"></i>PDF</small>
                                        </span>
                                        <h3><a href="/public/images/case-studies/error-assessment-of-point-cloud-and-bim-models-to-actual-works/error-assessment-of-point-cloud-and-bim-models-to-actual-works.pdf">Error Assessment of Point Cloud and BIM Models to Actual Works</a></h3>
                                        <p>3D Laser Scanning technology is being widely applied in the construction
                                            industry 4.0 for promoting the digitalizing and BIM modeling procedure, also
                                            called
                                            Scan-to-BIM.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                                <div class="blog-entry">
                                    <a href="/public/images/case-studies/simulation-of-vessel-collision-scenario-using-photogrammetry-and-3d-laser-scanning-a-case-study-at-the-container-terminal/simulation-of-vessel-collision-scenario-using-photogrammetry-and-3d-laser-scanning-a-case-study-at-the-container-terminal.pdf" class="blog-img"><img
                                            style="width: 100%; height: 270px; object-fit: cover;"
                                            src="/public/images/case-studies/simulation-of-vessel-collision-scenario-using-photogrammetry-and-3d-laser-scanning-a-case-study-at-the-container-terminal/cover.jpg"
                                            class="img-responsive" alt=""></a>
                                    <div class="desc">
                                        <span><small>12/09/2022 | ICSCEA 2021 | <i
                                                    class="icon-file-pdf me-1"></i>PDF</small>
                                        </span>
                                        <h3><a href="/public/images/case-studies/simulation-of-vessel-collision-scenario-using-photogrammetry-and-3d-laser-scanning-a-case-study-at-the-container-terminal/simulation-of-vessel-collision-scenario-using-photogrammetry-and-3d-laser-scanning-a-case-study-at-the-container-terminal.pdf">Simulation of Vessel Collision Scenario Using Photogrammetry and 3D Laser Scanning-A Case Study at the Container Terminal</a></h3>
                                        <p>Currently, transportation on the waterway in Vietnam is being increased
                                            considerably to meet the booming economy’s demand. There are many river ports
                                            and seaports constructed within the two initial decades of the twenty-first century.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                                <div class="blog-entry">
                                    <a href="/public/images/case-studies/application-of-augmented-reality-for-simulating-3d-model-from-point-cloud-and-photogrammetry-a-study-case-of-construction-site-inspection/application-of-augmented-reality-for-simulating-3d-model-from-point-cloud-and-photogrammetry-a-study-case-of-construction-site-inspection.pdf" class="blog-img"><img
                                            style="width: 100%; height: 270px; object-fit: cover;"
                                            src="/public/images/case-studies/application-of-augmented-reality-for-simulating-3d-model-from-point-cloud-and-photogrammetry-a-study-case-of-construction-site-inspection/cover.jpg"
                                            class="img-responsive" alt=""></a>
                                    <div class="desc">
                                        <span><small>04/2020 | Journal of Construction | <i
                                                    class="icon-file-pdf me-1"></i>PDF</small>
                                        </span>
                                        <h3><a href="/public/images/case-studies/application-of-augmented-reality-for-simulating-3d-model-from-point-cloud-and-photogrammetry-a-study-case-of-construction-site-inspection/application-of-augmented-reality-for-simulating-3d-model-from-point-cloud-and-photogrammetry-a-study-case-of-construction-site-inspection.pdf">Application of augmented reality for simulating 3D model from point cloud and photogrammetry – A study case of construction site inspection</a></h3>
                                        <p>3D Laser Scanning technology and Photogrammetry has been widely used around the world with a variety of different
                                            fields and industries such as architecture, archeology, construction, and engineering.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                                <div class="blog-entry">
                                    <a href="/public/images/case-studies/application-of-3d-laser-scanning-technology-in-creating-topographical-surveying/application-of-3d-laser-scanning-technology-in-creating-topographical-surveying.pdf" class="blog-img"><img
                                            style="width: 100%; height: 270px; object-fit: cover;"
                                            src="/public/images/case-studies/application-of-3d-laser-scanning-technology-in-creating-topographical-surveying/cover.jpg"
                                            class="img-responsive" alt=""></a>
                                    <div class="desc">
                                        <span><small>01/2020 | Journal of Construction | <i
                                                    class="icon-file-pdf me-1"></i>PDF</small>
                                        </span>
                                        <h3><a href="/public/images/case-studies/application-of-3d-laser-scanning-technology-in-creating-topographical-surveying/application-of-3d-laser-scanning-technology-in-creating-topographical-surveying.pdf">Application of 3D Laser scanning technology in creating
                                                topographical surveying</a></h3>
                                        <p>Generally, the Laser scanning 3D technology applications in the construction industry in general and especially, in topographical
                                            survey, are now becoming popular in the world. In Vietnam, Laser scanning 3D technology is not so new, however, using it in
                                            construction surveying problems still meets some problems such as high price of equipment, processing software is too complicated,
                                            managing and transferring the data require a high skilled labor.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                                <div class="blog-entry">
                                    <a href="/public/images/case-studies/integrating-point-cloud-from-3d-laser-scanning-and-unmanned-aerial-vehicle-uav-equipments-in-order-to-collect-construction-project-information-modeling/integrating-point-cloud-from-3d-laser-scanning-and-unmanned-aerial-vehicle-uav-equipments-in-order-to-collect-construction-project-information-modeling.pdf" class="blog-img"><img
                                            style="width: 100%; height: 270px; object-fit: cover;"
                                            src="/public/images/case-studies/integrating-point-cloud-from-3d-laser-scanning-and-unmanned-aerial-vehicle-uav-equipments-in-order-to-collect-construction-project-information-modeling/cover.jpg"
                                            class="img-responsive" alt=""></a>
                                    <div class="desc">
                                        <span><small>16/11/2019 | Journal of Construction | <i
                                                    class="icon-file-pdf me-1"></i>PDF</small>
                                        </span>
                                        <h3><a href="/public/images/case-studies/integrating-point-cloud-from-3d-laser-scanning-and-unmanned-aerial-vehicle-uav-equipments-in-order-to-collect-construction-project-information-modeling/integrating-point-cloud-from-3d-laser-scanning-and-unmanned-aerial-vehicle-uav-equipments-in-order-to-collect-construction-project-information-modeling.pdf">Integrating point cloud from 3D Laser scanning and Unmanned
                                                Aerial Vehicle (UAV)
                                                equipments in order to collect construction project information
                                                modeling</a></h3>
                                        <p>With the development of technology in the construction industry, data
                                            collection using 3D Laser Scanning equipment is becoming
                                            increasingly popular. In Vietnam, 3D Laser Scanning technology is gaining
                                            popularity and applied in construction projects.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Section-Equipment -->
            <%- include (dir+'partials/footer.ejs')%>
        </div>
    </div>

    <%- include(dir+'partials/js.ejs') %>

</body>

</html>