<!DOCTYPE HTML>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="vi" />
    <title>Tin tức | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="Dịch vụ BIM, Scan to BIM, Khảo sát 3D Laser, Số hóa công trình xây dựng" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail" content="/public/images/case-studies/error-assessment-of-point-cloud-and-bim-models-to-actual-works/cover.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="vi" content="Tin tức | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Tp. Hồ Chí Minh, Việt Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/vi/ve-chung-toi/de-tai-nghien-cuu />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="Tin tức | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="/public/images/case-studies/error-assessment-of-point-cloud-and-bim-models-to-actual-works/cover.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/vi/ve-chung-toi/de-tai-nghien-cuu />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title" content="Tin tức | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:image" content="/public/images/case-studies/error-assessment-of-point-cloud-and-bim-models-to-actual-works/cover.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/vi/ve-chung-toi/de-tai-nghien-cuu />
    <%- include (dir+'partials/css.ejs')%>
</head>

<body>
    <div id="pcc-page">
        <%- include (dir+'partials/nav.ejs')%> <div id="pcc-main">
            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                    </div>
                </div>
            </div>
            <!-- Page Header End -->
            <!-- Secction Tin tức -->
            <section class="pcc-blog">
                <div class="container">
                    <div class="pcc-narrow-content">
                        <div class="row">
                            <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                                data-animate-effect="fadeInLeft">
                                <span class="heading-meta">Về chúng tôi</span>
                                <h2 class="pcc-heading">Đề tài nghiên cứu</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                                <div class="blog-entry">
                                    <a href="#" class="blog-img"><img
                                            style="width: 100%; height: 270px; object-fit: cover;"
                                            src="/public/images/case-studies/error-assessment-of-point-cloud-and-bim-models-to-actual-works/cover.jpg"
                                            class="img-responsive" alt=""></a>
                                    <div class="desc">
                                        <span><small>21/09/2022 | ICSCEA 2021 | <i
                                                    class="icon-file-pdf me-1"></i>PDF</small>
                                        </span>
                                        <h3><a href="#">Đánh giá sai số giữa mô hình đám mây điểm (pointcloud) và mô
                                                hình BIM đối với công trình thực tiễn</a></h3>
                                        <p>Ngày nay, với sự phát triển của khoa học công nghệ trong lĩnh vực xây dựng,
                                            việc thu thập dữ liệu đám mây điểm (point cloud) thông qua
                                            thiết bị 3D Laser Scanning đang ngày càng trở nên phổ biến. Tại Việt Nam,
                                            công nghệ 3D Laser Scanning ngày càng được biết đến và ứng
                                            dụng vào các dự án xây dựng.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                                <div class="blog-entry">
                                    <a href="/public/images/case-studies/simulation-of-vessel-collision-scenario-using-photogrammetry/simulation-of-vessel-collision-scenario-using-photogrammetry-and-3d-laser-scanning-a-case-study-at-the-container-terminal.pdf" class="blog-img"><img
                                            style="width: 100%; height: 270px; object-fit: cover;"
                                            src="/public/images/case-studies/simulation-of-vessel-collision-scenario-using-photogrammetry/cover.jpg"
                                            class="img-responsive" alt=""></a>
                                    <div class="desc">
                                        <span><small>12/09/2022 | ICSCEA 2021 | <i
                                                    class="icon-file-pdf me-1"></i>PDF</small>
                                        </span>
                                        <h3><a href="/public/images/case-studies/simulation-of-vessel-collision-scenario-using-photogrammetry/simulation-of-vessel-collision-scenario-using-photogrammetry-and-3d-laser-scanning-a-case-study-at-the-container-terminal.pdf">Mô phỏng va cham tàu sử dụng Phép quang trắc và 3D laser
                                                scanning - Một trường hợp ở cảng container</a></h3>
                                        <p>Ngày nay, với sự phát triển của khoa học công nghệ trong lĩnh vực xây dựng,
                                            việc thu thập dữ liệu đám mây điểm (point cloud) thông qua
                                            thiết bị 3D Laser Scanning đang ngày càng trở nên phổ biến. Tại Việt Nam,
                                            công nghệ 3D Laser Scanning ngày càng được biết đến và ứng
                                            dụng vào các dự án xây dựng.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                                <div class="blog-entry">
                                    <a href="/public/images/case-studies/application-of-augmented-reality-for-simulating-3d-model/application-of-augmented-reality-for-simulating-3d-model-from-point-cloud-and-photogrammetry-a-study-case-of-construction-site-inspection.pdf" class="blog-img"><img
                                            style="width: 100%; height: 270px; object-fit: cover;"
                                            src="/public/images/case-studies/application-of-augmented-reality-for-simulating-3d-model/cover.jpg"
                                            class="img-responsive" alt=""></a>
                                    <div class="desc">
                                        <span><small>04/2020 | Tạp chí Xây dựng Việt Nam | <i
                                                    class="icon-file-pdf me-1"></i>PDF</small>
                                        </span>
                                        <h3><a href="/public/images/case-studies/application-of-augmented-reality-for-simulating-3d-model/application-of-augmented-reality-for-simulating-3d-model-from-point-cloud-and-photogrammetry-a-study-case-of-construction-site-inspection.pdf">Ứng dụng công nghệ thực tế ảo tăng cường (Augmented Reality -
                                                AR) vào việc mô phỏng số hóa 3D đối tượng từ dữ liệu đám mây điểm (Point
                                                Cloud) và phép quang trắc (Photogrammetry) - Trường hợp nghiệm thu cấu
                                                kiện công trường</a></h3>
                                        <p>Ngày nay, với sự phát triển của khoa học công nghệ trong lĩnh vực xây dựng,
                                            việc thu thập dữ liệu đám mây điểm (point cloud) thông qua
                                            thiết bị 3D Laser Scanning đang ngày càng trở nên phổ biến. Tại Việt Nam,
                                            công nghệ 3D Laser Scanning ngày càng được biết đến và ứng
                                            dụng vào các dự án xây dựng.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                                <div class="blog-entry">
                                    <a href="/public/images/case-studies/application-of-3d-laser-scanning-technology-in-creating-topographical-surveying/application-of-3d-laser-scanning-technology-in-creating-topographical-surveying.pdf" class="blog-img"><img
                                            style="width: 100%; height: 270px; object-fit: cover;"
                                            src="/public/images/news/20200406-fighting-time-and-tide-to-capture-a-5-hectare-coastal-construction-site-in-3d/cover.jpg"
                                            class="img-responsive" alt=""></a>
                                    <div class="desc">
                                        <span><small>01/2020 | Tạp chí Xây dựng Việt Nam | <i
                                                    class="icon-file-pdf me-1"></i>PDF</small>
                                        </span>
                                        <h3><a href="/public/images/case-studies/application-of-3d-laser-scanning-technology-in-creating-topographical-surveying/application-of-3d-laser-scanning-technology-in-creating-topographical-surveying.pdf">Kết hợp dữ liệu đám mây điểm từ các thiết bị 3D Laser scanning
                                                và phương tiện bay không người lái (UAV) nhằm thu thập thông tin mô hình
                                                công trình xây dựng</a></h3>
                                        <p>Ngày nay, với sự phát triển của khoa học công nghệ trong lĩnh vực xây dựng,
                                            việc thu thập dữ liệu đám mây điểm (point cloud) thông qua
                                            thiết bị 3D Laser Scanning đang ngày càng trở nên phổ biến. Tại Việt Nam,
                                            công nghệ 3D Laser Scanning ngày càng được biết đến và ứng
                                            dụng vào các dự án xây dựng.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                                <div class="blog-entry">
                                    <a href="/public/images/case-studies/integrating-point-cloud-from-3d-laser-scanning/integrating-point-cloud-from-3d-laser-scanning-and-unmanned-aerial-vehicle-uav-equipments-in-order-to-collect-construction-project-information-modeling.pdf"
                                        class="blog-img"><img style="width: 100%; height: 270px; object-fit: cover;"
                                            src="/public/images/case-studies/integrating-point-cloud-from-3d-laser-scanning/cover.jpg"
                                            class="img-responsive" alt=""></a>
                                    <div class="desc">
                                        <span><small>16/11/2019 | Tạp chí Xây dựng Việt Nam | <i
                                                    class="icon-file-pdf me-1"></i>PDF</small>
                                        </span>
                                        <h3><a
                                                href="/public/images/case-studies/integrating-point-cloud-from-3d-laser-scanning/integrating-point-cloud-from-3d-laser-scanning-and-unmanned-aerial-vehicle-uav-equipments-in-order-to-collect-construction-project-information-modeling.pdf">Kết
                                                hợp dữ liệu đám mây điểm từ các thiết bị 3D Laser scanning
                                                và phương tiện bay không người lái (UAV) nhằm thu thập thông tin mô hình
                                                công trình xây dựng</a></h3>
                                        <p>Ngày nay, với sự phát triển của khoa học công nghệ trong lĩnh vực xây dựng,
                                            việc thu thập dữ liệu đám mây điểm (point cloud) thông qua
                                            thiết bị 3D Laser Scanning đang ngày càng trở nên phổ biến. Tại Việt Nam,
                                            công nghệ 3D Laser Scanning ngày càng được biết đến và ứng
                                            dụng vào các dự án xây dựng.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <%- include (dir+'partials/footer.ejs')%>
        </div>
    </div>

    <%- include (dir+'partials/js.ejs')%>

</body>

</html>