<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="en" />
    <title>BIM & Scan to BIM | Infrastructure Digital Transformation Center | Construction Digitization</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="The Building Information Modeling (BIM) helps optimize construction data, including design, planning, construction, and management." />
    <meta name="keywords" content="BIM Services, Scan to BIM, 3D Laser Scanning, Digitization" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail" content="https://portcoast-bim.com/public/images/solutions/bim/bim-modeling.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="en-US"
        content="BIM | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Ho Chi Minh City, Viet Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/en/solutions/bim" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title"
        content="BIM | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta property="og:description"
        content="The Building Information Modeling (BIM) helps optimize construction data, including design, planning, construction, and management." />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/solutions/bim/bim-modeling.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/en/solutions/bim" />
    <meta property="og:locale" content="en-US" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title"
        content="BIM | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="twitter:description"
        content="The Building Information Modeling (BIM) helps optimize construction data, including design, planning, construction, and management." />
    <meta name="twitter:image" content="https://portcoast-bim.com/public/images/solutions/bim/bim-modeling.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/en/solutions/bim" />
    <meta name="twitter:card" content="summary" />
    <%- include(dir+'partials/css.ejs') %>
</head>

<body>
    <div id="pcc-page">
        <a href="#" class="js-pcc-nav-toggle pcc-nav-toggle"><i></i></a>
        <%- include(dir+'partials/nav.ejs') %>
        <div id="pcc-main">
            <section class="pcc-services">
                <div class="pcc-narrow-content">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box"
                            data-animate-effect="fadeInLeft">
                            <span class="heading-meta">
                                Comprehensive Solutions</span>
                            <h2 class="pcc-heading animate-box">BIM &amp; Scan to BIM</h2>
                        </div>
                    </div>
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                            <h4>BIM in construction</h4>
                            <p>The Building Information Modeling (BIM) helps optimize construction data, including design, planning, construction, and management. This helps improve collaboration, performance, reduce errors and make the construction project more sustainable. BIM contains all the information related to the construction project that can be used throughout the project's life cycle, and all relevant parties can easily access it remotely. BIM allows architects, engineers, and other construction specialists to edit and update the BIM model in real-time, ensuring that all stakeholders have access to the updated model.
                            </p>
                            <p>The Digital Transformation Center for Infrastructure provides BIM solutions for all design stages of a construction project, including: BIM Architecture, BIM Structure, MEP BIM Modeling, Conflict Detection, BIM Coordination, etc.</p>
                            <p>Benefits of switching from CAD to BIM:</p>
                            <ul class="pcc-list">
                                <li><strong>Increased Collaboration:</strong> BIM used in a project will increase
                                    strengthen cooperation between different groups and sectors. It supports design validation,
                                    communicate and allow for quick error resolution</li>
                                <li><strong>Overall construction cost savings:</strong> BIM helps to create building data and geometrical model before the actual construction begins which avoids redundant construction, on-site errors and delay in construction.</li>
                                <li><strong>Performance of Building Infrastructure:</strong> BIM helps model development
                                    information-rich buildings that can be used to increase building performance after construction
                                    build</li>
                                <li><strong>Easy project implementation:</strong> Design validation in BIM Model is completed
                                    completed during the design phase, which makes design validation easier
                                    faster and easier</li>
                            </ul>
                        </div>
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                            <img width="100%" src="/public/images/solutions/bim/bim-modeling.jpg">
                        </div>
                    </div>
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                            <img width="100%" src="/public/images/solutions/bim/scan-to-bim.jpg">
                        </div>
                        <div class="col-md-6 animate-box">
                            <h4>Scan to BIM Solution</h4>
                            <p>The <a href="/en/solutions/3d-laser-scanning">3D Laser scanning</a> process generates point cloud data that provides a platform for checking, verifying, detecting conflicts, and visualization. This data accurately describes the size, shape, location, and attributes of all objects. We use this data to convert into the BIM model of the structure. The Scan to BIM solution helps the reverse design process to become more accurate, fast, and effective than traditional methods.
                            </p>
                            <div class="row padding">
								<div class="col-md-4 no-gutters animate-box">
									<a class="steps active">
										<p class="icon"><span><i class="icon-check"></i></span></p>
										<h3>Scan</h3>
									</a>
								</div>
								<div class="col-md-4 no-gutters animate-box">
									<a class="steps">
										<p class="icon"><span><i class="icon-check"></i></span></p>
										<h3>Process</h3>
									</a>
								</div>
								<div class="col-md-4 no-gutters animate-box">
									<a class="steps">
										<p class="icon"><span><i class="icon-check"></i></span></p>
										<h3>Deliver</h3>
									</a>
								</div>
							</div>
                            <p>Benefits of Scan to BIM solution:</p>
                            <ul class="pcc-list">
                                <li><strong>Increased accuracy:</strong> Using 3D scanning technology to create a accurate depiction of the construction project helps to create a more accurate BIM model</li>
                                <li><strong>Reduced time and cost:</strong> Converting data from scanning to the BIM model helps to create the BIM model faster and reduces cost compared to manually creating the BIM model</li>
                                <li><strong>Increased information reliability:</strong> The BIM model created by the Scan to BIM solution contains accurate and detailed information, which helps to improve the reliability of project management and administration</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <%- include (dir+'partials/footer.ejs')%>
        </div>
    </div>
    <%- include(dir+'partials/js.ejs') %>
</body>

</html>