<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="en" />
    <title>Surveying | Infrastructure Digital Transformation Center | Construction Digitization</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Infrastructure Digital Transformation Center  is proud to be the leading 3D Laser service provider in Vietnam" />
    <meta name="keywords" content="BIM Services, Scan to BIM, 3D Laser Scanning, Digitization" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail" content="https://portcoast-bim.com/public/images/solutions/cover-surveying.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="en-US"
        content="Surveying | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Ho Chi Minh City, Viet Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/en/solutions/surveying" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title"
        content="Surveying | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta property="og:description"
        content="Infrastructure Digital Transformation Center  is proud to be the leading 3D Laser service provider in Vietnam" />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/solutions/cover-surveying.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/en/solutions/surveying" />
    <meta property="og:locale" content="en-US" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title"
        content="Surveying | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="twitter:description"
        content="Infrastructure Digital Transformation Center  is proud to be the leading 3D Laser service provider in Vietnam" />
    <meta name="twitter:image" content="https://portcoast-bim.com/public/images/solutions/cover-surveying.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/en/solutions/surveying" />
    <meta name="twitter:card" content="summary" />
    <%- include(dir+'partials/css.ejs') %>
</head>

<body>
    <div id="pcc-page">

        <%- include(dir+'partials/nav.ejs') %>
        <div id="pcc-main">
            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                    </div>
                </div>
            </div>
            <!-- Page Header End -->
            <section class="pcc-services">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="pcc-narrow-content">
                                <div class="row">
                                    <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                                        data-animate-effect="fadeInLeft">
                                        <span class="heading-meta">
                                            Comprehensive Solutions</span>
                                        <h2 class="pcc-heading animate-box">Surveying</h2>
                                    </div>
                                </div>
                                <div class="row row-bottom-padded-md">
                                    <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                                        <img src="/public/images/solutions/3dsurvey.gif" class="img-fluid mb-3">
                                        <p>This high definition surveying (HDS) method or laser scanning is primarily
                                            responsible
                                            for capturing high quality and speed data of a building or an object that is
                                            difficult
                                            to see with the naked eye. These laser beams that are emitted in the
                                            scanning process
                                            grab millions of each and every pixel of an object with high accuracy. These
                                            are used to
                                            measure bridges, buildings, roadways, etc. These eye-safe beams then grab
                                            the accurate
                                            X, Y, and Z, values in minutes.</p>
                                        <p>Infrastructure Digital Transformation Center is proud to be the leading 3D
                                            Laser
                                            service provider in Vietnam. Along with our experience and constantly
                                            updated equipment,
                                            we will bring to our customers the best and most accurate survey quality. We
                                            offer a
                                            comprehensive service including onshore and underwater topographical
                                            surveying..</p>
                                    </div>
                                </div>
                                <div class="row row-bottom-padded-md mb-5">
                                    <div class="col-md-12 animate-box" data-animate-effect="fadeInRight">
                                        <div class="accordion" id="myAccordion">
                                            <div class="fancy-collapse-panel">
                                                <div class="panel-group" id="accordion" role="tablist"
                                                    aria-multiselectable="true">
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading" role="tab" id="headingFour">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" data-bs-toggle="collapse"
                                                                    data-parent="#accordion" href="#collapseFour"
                                                                    aria-expanded="false"
                                                                    aria-controls="collapseFour">Topographical Survey
                                                                    (UAV/Drone)
                                                                </a>
                                                            </h4>
                                                        </div>
                                                        <div id="collapseFour" class="panel-collapse collapse"
                                                            role="tabpanel" aria-labelledby="headingFour">
                                                            <div class="panel-body">
                                                                <div class="row">
                                                                    <div class="col-md-6 services-wrap">
                                                                        <div class="solutions-img"
                                                                            style="background-image: url(/public/images/solutions/uav-survey/rtk300.jpg)">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <p>Infrastructure Digital Transformation Center
                                                                            specializes in
                                                                            providing surveying services to collect
                                                                            topographic data by
                                                                            UAV/Drone unmanned aerial vehicle. With
                                                                            LiDAR technology on
                                                                            the drone has simplified the whole surveying
                                                                            process, safer
                                                                            and cost-effective.</p>
                                                                        <p><a href="/en/solutions/topographical-survey"
                                                                                class="btn btn-primary btn-learn">Learn
                                                                                more!</a></p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading" role="tab" id="headingThree">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" data-bs-toggle="collapse"
                                                                    data-parent="#accordion" href="#collapseThree"
                                                                    aria-expanded="false"
                                                                    aria-controls="collapseThree">3D Laser Scanning
                                                                </a>
                                                            </h4>
                                                        </div>
                                                        <div id="collapseThree" class="panel-collapse collapse"
                                                            role="tabpanel" aria-labelledby="headingThree">
                                                            <div class="panel-body">
                                                                <div class="row">
                                                                    <div class="col-md-6 services-wrap">
                                                                        <div class="solutions-img"
                                                                            style="background-image: url(/public/images/solutions/3d-laser-scanning/3d-laser-scanning.jpg)">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <p>
                                                                            Infrastructure Digital Transformation Center
                                                                            specializes in
                                                                            providing 3D Laser surveying services. We
                                                                            collect a large
                                                                            amount of field information in a very short
                                                                            period of time.
                                                                            The process works by capturing a series of
                                                                            high-definition
                                                                            3D laser scans in situ that can be instantly
                                                                            processed for
                                                                            analysis.</p>
                                                                        <p>Through the scanning process, millions of 3D
                                                                            points are
                                                                            recorded within seconds and a 3D point cloud
                                                                            is created.
                                                                            Full 3D data of pitch, measurements,
                                                                            coordinates, pipe
                                                                            diameters, and high definition images can be
                                                                            extracted with
                                                                            one click.</p>
                                                                        <p><a href="/en/solutions/3d-laser-scanning"
                                                                                class="btn btn-primary btn-learn">Learn
                                                                                more!</a></p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading" role="tab" id="headingFive">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" data-bs-toggle="collapse"
                                                                    data-parent="#accordion" href="#collapseFive"
                                                                    aria-expanded="false"
                                                                    aria-controls="collapseFive">Mobile Mapping
                                                                </a>
                                                            </h4>
                                                        </div>
                                                        <div id="collapseFive" class="panel-collapse collapse"
                                                            role="tabpanel" aria-labelledby="headingFive">
                                                            <div class="panel-body">
                                                                <div class="row">
                                                                    <div class="col-md-6 services-wrap">
                                                                        <div class="solutions-img"
                                                                            style="background-image: url(/public/images/solutions/mobile-mapping/mobile-mapping.jpg)">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <p>Mobile Mapping is the process of collecting
                                                                            geospatial data using mapping sensors
                                                                            mounted on moving platforms such as cars,
                                                                            marine vessels or airplanes.</p>
                                                                        <p>Infrastructure Digital Transformation Center
                                                                            has experience in performing mobile mapping
                                                                            surveys to collect 3Dpoint cloud, 360°
                                                                            photography, high definition video and
                                                                            thermal imagery for the route corridor.</p>
                                                                        <p><a href="/en/solutions/mobile-mapping"
                                                                                class="btn btn-primary btn-learn">Learn
                                                                                more!</a></p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading" role="tab" id="headingTwo">
                                                            <h4 class="panel-title accordion-header">
                                                                <a class="collapsed" data-bs-toggle="collapse"
                                                                    data-parent="#accordion" href="#collapseTwo"
                                                                    aria-expanded="false"
                                                                    aria-controls="collapseTwo">Hydrological Survey
                                                                </a>
                                                            </h4>
                                                        </div>
                                                        <div id="collapseTwo" class="panel-collapse collapse"
                                                            role="tabpanel" aria-labelledby="headingTwo">
                                                            <div class="panel-body">
                                                                <div class="row">
                                                                    <div class="col-md-6 services-wrap">
                                                                        <div class="solutions-img"
                                                                            style="background-image: url(/public/images/solutions/hydro/hydrographic-survey.jpg)">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <p>Surveying and mapping tools needed to monitor
                                                                            coastal
                                                                            erosion, measure and map navigable waters,
                                                                            monitor
                                                                            coastlines and beaches, and provide data for
                                                                            programs storm
                                                                            damage, depth and mass calculations for
                                                                            dredging projects,
                                                                            locating and mapping submerged obstacles,
                                                                            and preparing for
                                                                            underwater and shoreline construction.</p>
                                                                        <p>Hydrographic survey services we perform
                                                                            include: single beam
                                                                            sonar, multibeam sonar, side scan sonar,
                                                                            magnetometer,
                                                                            sub-bottom profiling,..</p>
                                                                        <p><a href="/en/solutions/hydrological-survey"
                                                                                class="btn btn-primary btn-learn">Learn
                                                                                more!</a></p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Sidebar Start -->
                        <div class="col-lg-4">
                            <div class="pcc-narrow-content">
                                <!-- Category Start -->
                                <div class="mb-5 animate-box"
                                data-animate-effect="fadeInLeft">
                                    <h4 class="pcc-heading d-inline-block text-uppercase border-5 mb-5">Solutions</h4>
                                    <div class="d-flex flex-column justify-content-start">
                                        <a class="bg-light rounded py-2 px-3 mb-2" href="/en/solutions/surveying"><i
                                                class="fa fa-angle-right me-2"></i>Surveying</a>
                                        <a class="bg-light rounded py-2 px-3 mb-2" href="/en/solutions/bim"><i
                                                class="fa fa-angle-right me-2"></i>BIM & Scan to BIM</a>
                                        <a class="bg-light rounded py-2 px-3 mb-2" href="/en/solutions/gis-and-bim-integration"><i
                                                class="fa fa-angle-right me-2"></i>GIS & BIM Integration</a>
                                        <a class="bg-light rounded py-2 px-3 mb-2" href="/en/solutions/digital-twin"><i
                                                class="fa fa-angle-right me-2"></i>Digital Twin</a>
                                    </div>
                                </div>
                                <!-- Category End -->

                                <!-- Recent Post Start -->
                                <div class="mb-5 animate-box"
                                data-animate-effect="fadeInLeft" id="project">
                                    <h4 class="pcc-heading d-inline-block text-uppercase border-5 mb-5">Projects</h4>

                                </div>
                                <!-- Recent Post End -->
                            </div>
                            <!-- Sidebar End -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- Section-Equipment -->
            <section class="pcc-equipment">
                <div class="container">
                    <div class="pcc-narrow-content">
                        <div class="row">
                            <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                                data-animate-effect="fadeInLeft">
                                <span class="heading-meta">Technology</span>
                                <h2 class="pcc-heading">Our state-of-the-art equipment</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="owl-testimonials owl-carousel animate-box"
                                    data-animate-effect="fadeInRight">
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <a href="https://geospatial.trimble.com/products-and-solutions/trimble-mx50"
                                                    target="_blank"><img src="/public/images/home/trimble-mx50.jpg"
                                                        alt="Trimble MX50 Mobile Mapping System"></a>
                                            </div>
                                            <h3>Trimble MX50 Mobile Mapping System</h3>
                                            <p>The Trimble MX50's is a practical field to finish moblie mapping solution
                                                for
                                                asset management, mapping, road maintenance. Mobile mapping system
                                                combining
                                                precise LiDAR data and immersive panoramic imagery at highway speed..
                                            </p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <a href="https://www.teledyneoptech.com/en/products/static-3d-survey/polaris/"
                                                    target="_blank"><img src="/public/images/home/polaris-tls.jpg"
                                                        alt="Polaris TLS"></a>
                                            </div>
                                            <h3>Polaris Terrestrial Laser Scanner (TLS)</h3>
                                            <p>With an integrated high-resolution camera, inclinometers, compass, GPS
                                                receiver, and weather-proof housing, the Polaris can be deployed in many
                                                environments and orientations.</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <img src="/public/images/home/stormbee.jpg" alt="">
                                            </div>
                                            <h3>Stormbee UAV S-20</h3>
                                            <p>STORMBEE is a user-friendly Unmanned Aerial Vehicle (UAV) custom designed
                                                for
                                                lasers canning with a FARO Focus laser scanner.</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <img src="/public/images/home/matrice-300-rtk.jpg" alt="">
                                            </div>
                                            <h3>Matrice 300 RTK + Zenmuse L1 + Zenmuse P1</h3>
                                            <p>This is one of the most advanced drones. Equipping sensors in multiple
                                                directions gives the Matrice 300RTK outstanding safety. The Matrice
                                                300RTK -
                                                Zenmuse L1 system is capable of capturing image and point cloud data,
                                                based
                                                on 3 times response signal from the Lidar and penetrating through the
                                                foliage…</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <img src="/public/images/home/share-uav-psdk-102s-v3.jpg" alt="">
                                            </div>
                                            <h3>Matrice 300 RTK + Share PSDK 102S V3</h3>
                                            <p>PPSDK 102S V3, the 5-lens oblique camera with 3-Axis Stabilized Gimbal,
                                                is a
                                                highly integrated surveying camera specialized in aerial photogrammetry.
                                                Full-on efficiency booster brings unprecedented operating experience.
                                                The
                                                adjustable parameter allows camera applicated in various scenarios. Also
                                                widely compatible with open-source payloads.</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <a href="https://www.maritimerobotics.com/otter" target="_blank"><img
                                                        src="/public/images/home/otter-pro.jpg"
                                                        alt="Otter Pro USV + Norbit iWBMS Multibeam Sonar & iLiDAR"></a>
                                            </div>
                                            <h3>Otter Pro USV + Norbit iWBMS Multibeam Sonar & iLiDAR</h3>
                                            <p>The OTTER Pro had integrated system between a Norbit's iWBMS Multibeam
                                                and a
                                                NORBIT's iLiDAR Laser Sensor to recorded underwater data and both sides.
                                                This system is an efficient solution (reduce cost and schedule) for
                                                surveying in shallow water areas such as lakes, canals, rivers, ponds
                                                and
                                                harbour areas.</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <a
                                                    href="https://geospatial.trimble.com/products-and-solutions/trimble-sx12"><img
                                                        src="/public/images/home/trimble-sx12.jpg" alt=""></a>
                                            </div>
                                            <h3>Trimble SX12 Scanning Total Station</h3>
                                            <p>Trimble SX12 Scanning Total Station working harder has never been easier.
                                                It
                                                combines innovative technology with simple and intuitive functionality
                                                to
                                                help you save time, maximize efficiency and get more done in the field.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <img src="/public/images/home/leica-p50.jpg" alt="">
                                            </div>
                                            <h3>Leica Scanstation P50</h3>
                                            <p>For industry professionals looking to scan inaccessible places and find
                                                new
                                                business opportunities, Leica ScanStation P50 is the fastest and safest,
                                                long range 3D laser scanner. Unlike any other laser scanner, the P50
                                                solution maximises productivity by scanning inaccessible places at a
                                                safe
                                                position on site, reducing time in the field with less setups.</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <img src="/public/images/home/leica-rtc360.jpg" alt="">
                                            </div>
                                            <h3>Leica RTC360 3D Laser Scanner</h3>
                                            <p>The Leica RTC360 3D reality capture solution empowers users to document
                                                and
                                                capture their environments in 3D, improving efficiency and productivity
                                                in
                                                the field and in the office through fast, simple-to-use, accurate, and
                                                portable hardware and software.</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <a href="https://leica-geosystems.com/products/construction-tps-and-gnss/robotic-total-stations/leica-icon-icr-80"
                                                    target="_blank"><img src="/public/images/home/leica-icr80.jpg"
                                                        alt="Leica iCON iCR80 Robotic Total Statio"></a>
                                            </div>
                                            <h3>Leica iCON iCR80 Robotic Total Station</h3>
                                            <p>The Leica iCON iCR80 construction total station keeps its ‘eye’ on only
                                                one
                                                thing: the user’s target. Layout more points per day thanks to ATRplus,
                                                the
                                                most robust automated-aiming, lock and re-lock technology in the market.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <img src="/public/images/home/leica-ts60.jpg" alt="">
                                            </div>
                                            <h3>Leica Nova TS60 Total Station</h3>
                                            <p>The new Leica Nova TS60 total station is the world’s most accurate total
                                                station, designed to tackle your most demanding projects.</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <img src="/public/images/home/topcon-gls-2200.jpg" alt="">
                                            </div>
                                            <h3>Topcon GLS-2200</h3>
                                            <p>Quickly tackle any job with the latest in scanning and workflow
                                                technology.
                                                The GLS-2200 features a unique survey style setup and user-friendly
                                                processing software that turn lengthy scanning processes into fast and
                                                easy
                                                workflows</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <img src="/public/images/home/faro-s350a.jpg" alt="">
                                            </div>
                                            <h3>FARO Focus S350-A 3D Laser Scanning</h3>
                                            <p>The FARO Focus S350-A is specially designed for outdoor applications due
                                                to
                                                its small size, extra light weight and extended scanning range. The
                                                Focus
                                                S350-A provides scanning results even in challenging environments,
                                                narrow
                                                job-sites, dusty or humid areas, in rain or direct sunlight
                                                applications.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <img src="/public/images/home/matterport.jpg" alt="">
                                            </div>
                                            <h3>MatterPort Pro 2</h3>
                                            <p>Matterport is the standard for 3D space capture. Our all-in-one platform
                                                transforms real-life spaces into immersive digital twin models.</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <img src="/public/images/home/unitree-go1.jpg"
                                                    alt="Unitree Go1 Plus & Leica BLK 360">
                                            </div>
                                            <h3>Unitree Go1 Plus &amp; Leica BLK 360</h3>
                                            <p>Unitree Go 1 is a quadrupedal mobile robot offering lots of development
                                                possibilities. It’s aimed in particular at higher education and
                                                professionals, for developing applications in fields ranging from
                                                service
                                                robotics to autonomous surveillance.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <%- include (dir+'partials/footer.ejs')%>
        </div>
    </div>

    <%- include(dir+'partials/js.ejs') %>
    <script>
        fetch('/api/project', {
                method: "GET",
            }).then(response => response.json())
            .then(data => {
                for (let item of data) {
                    document.getElementById("project").innerHTML += ` <div class="d-flex rounded overflow-hidden mb-3">
    <img class="img-fluid" src="/public/images/projects/${item.folder}/cover.jpg"
        style="width: 100px; height: 100px; object-fit: cover;" alt="">
    <a href="/en/projects/${item.url_en}" class="d-flex align-items-center px-3 mb-0">${item.title_en}
    </a>
</div>`
                }
            })
    </script>
</body>

</html>