<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="en" />
    <title>Survey on Planning Cai Mep Ha Logistics Center | Infrastructure Digital Transformation Center | Construction Digitization</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="We utilize various survey solutions to collect data on a large area encompassing rivers, swamps, and coastal inlets, including unmanned aerial vehicles (UAV), 3D laser scanning, mobile mapping, multibeam" />
    <meta name="keywords" content="BIM Services, Scan to BIM, 3D Laser Scanning, Digitization" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail" content="/public/images/projects/logistics-cai-mep-ha/cover.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="en-US"
        content="Survey on Planning Cai Mep Ha Logistics Center | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Ho Chi Minh City, Viet Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/en/projects/cai-mep-ha-logistics-center" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title"
        content="Survey on Planning Cai Mep Ha Logistics Center | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta property="og:description"
        content="We utilize various survey solutions to collect data on a large area encompassing rivers, swamps, and coastal inlets, including unmanned aerial vehicles (UAV), 3D laser scanning, mobile mapping, multibeam" />
    <meta property="og:image" content="/public/images/projects/logistics-cai-mep-ha/cover.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/en/projects/cai-mep-ha-logistics-center" />
    <meta property="og:locale" content="en-US" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title"
        content="Survey on Planning Cai Mep Ha Logistics Center | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="twitter:description"
        content="We utilize various survey solutions to collect data on a large area encompassing rivers, swamps, and coastal inlets, including unmanned aerial vehicles (UAV), 3D laser scanning, mobile mapping, multibeam" />
    <meta name="twitter:image" content="/public/images/projects/logistics-cai-mep-ha/cover.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/en/projects/cai-mep-ha-logistics-center" />
    <meta name="twitter:card" content="summary" />
    <%- include(dir+'partials/css.ejs') %>
</head>

<body>
    <div id="pcc-page">
        <a href="#" class="js-pcc-nav-toggle pcc-nav-toggle"><i></i></a>
        <%- include(dir+'partials/nav.ejs') %>
        <div id="pcc-main">
            <section class="pcc-services">
                <div class="pcc-narrow-content">
                    <div class="row">
                        <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                            data-animate-effect="fadeInLeft">
                            <span class="heading-meta">
                                Products</span>
                            <h2 class="pcc-heading animate-box">Survey on Planning Cai Mep Ha Logistics Center</h2>
                        </div>
                    </div>
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                            <ul class="pcc-list">
                                <li><strong>Location:</strong> Ba Ria - Vung Tau Province, Vietnam</li>
                                <li><strong>Client/Owner: </strong>  Department of Transport of Ba Ria - Vung Tau Province</li>
                                <li><strong>Total area: </strong> 1,687 ha; 12km (594 ha) berth for vessels up to 250,000DWT; 2.70km (90ha) berth for barges up to 7,000T</li>
                                <li><strong>Products provide:</strong> 3D Point cloud model - 3D visualization of planning</li>
                            </ul>
                            <p>Cai Mep Ha Logistic Center is one of the key projects of Ba Ria - Vung Tau province, aimed at leveraging the province's coastal port advantages to contribute significantly to the development of the province, the region, and the country. The total area of the project is approximately 1,763 hectares, including the Logistics Center and Cai Mep Ha downstream port, which occupy an area of over 984 hectares and over 455 hectares of water surface, including channels, shipyards, and water areas in front of the port. In addition, the project also has an area reserved for clean energy of about 197 hectares and a potential water area of 125.34 hectares. Cai Mep Ha Logistic Center is built as a regional and global-scale cargo transshipment center, with the task of receiving and transshipping goods to/from provinces and cities throughout the country and countries around the world through sea routes, inland waterways, and roads.</p>
                        </div>
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                            <img class="img-fluid" src="/public/images/projects/logistics-cai-mep-ha/cover.jpg">
                        </div>
                        <div class="col-md-12 animate-box" data-animate-effect="fadeInRight">
                            <p>We utilize various survey solutions to collect data on a large area encompassing rivers, swamps, and coastal inlets, including unmanned aerial vehicles (UAV), 3D laser scanning, mobile mapping, multibeam depth soundings using unmanned surface vehicles (USV), and sub-bottom profiling survey, to survey the entire terrain from shore to seabed and subsurface. The survey data will be compiled into a platform that facilitates easy access and application for various purposes such as dredging, excavation, and planning.</p>
                        </div>
                    </div>
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                            <div class="row gallery-item">
                                <div class="col-md-6">
                                    <a href="/public/images/projects/logistics-cai-mep-ha/01.jpg"
                                        alt="Cai Mep Ha Logistics Center" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/logistics-cai-mep-ha/01.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/logistics-cai-mep-ha/02.jpg"
                                        alt="Cai Mep Ha Logistics Center" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/logistics-cai-mep-ha/02.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/logistics-cai-mep-ha/03.jpg"
                                        alt="Cai Mep Ha Logistics Center" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/logistics-cai-mep-ha/03.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/logistics-cai-mep-ha/04.jpg"
                                        alt="Cai Mep Ha Logistics Center" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/logistics-cai-mep-ha/04.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-6">
                                    <a href="/public/images/projects/logistics-cai-mep-ha/05.jpg"
                                        alt="Cai Mep Ha Logistics Center" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/logistics-cai-mep-ha/05.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/logistics-cai-mep-ha/06.jpg"
                                        alt="Cai Mep Ha Logistics Center" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/logistics-cai-mep-ha/06.jpg);">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <%- include (dir+'partials/footer.ejs')%>
        </div>
    </div>
    <%- include(dir+'partials/js.ejs') %>
</body>

</html>