<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="en" />
    <title>Cam Ranh Bay Hotels & Resorts | Infrastructure Digital Transformation Center | Construction Digitization</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="" />
    <meta name="keywords" content="BIM Services, Scan to BIM, 3D Laser Scanning, Digitization" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="index, follow">
    <meta name="thumbnail" content="https://portcoast-bim.com/public/images/projects/prime-resorts-and-hotels/cover.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="en-US"
        content="Cam Ranh Bay Hotels & Resorts | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Ho Chi Minh City, Viet Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/en/projects/cam-ranh-bay-hotels-and-resorts" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title"
        content="Cam Ranh Bay Hotels & Resorts | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta property="og:description"
        content="" />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/projects/prime-resorts-and-hotels/cover.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/en/projects/cam-ranh-bay-hotels-and-resorts" />
    <meta property="og:locale" content="en-US" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title"
        content="Cam Ranh Bay Hotels & Resorts | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="twitter:description"
        content="" />
    <meta name="twitter:image" content="https://portcoast-bim.com/public/images/projects/prime-resorts-and-hotels/cover.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/en/projects/cam-ranh-bay-hotels-and-resorts" />
    <meta name="twitter:card" content="summary" />
    <%- include(dir+'partials/css.ejs') %>
</head>

<body>
    <div id="pcc-page">
     
        <%- include(dir+'partials/nav.ejs') %>
              <div id="pcc-main">
         <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                    </div>
                </div>
            </div>
            <!-- Page Header End -->
            <section class="pcc-services">
                <div class="container">
                <div class="pcc-narrow-content">
                    <div class="row">
                        <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                            data-animate-effect="fadeInLeft">
                            <span class="heading-meta">
                                Projects</span>
                            <h2 class="pcc-heading animate-box">Cam Ranh Bay Hotels & Resorts</h2>
                        </div>
                    </div>
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                            <ul class="pcc-list">
                                <li><strong>Client/Owner:</strong> Cam Lam Investment Co., Ltd</li>
                                <li><strong>Location:</strong> Zone D14C - Northern Cam Ranh Peninsula Tourist Area, Cam Hai Dong Commune, Cam Lam District, Khanh Hoa Province, Vietnam</li>
                                <li><strong>Total area:</strong> 130,000 m2; 175 villas</li>
                                <li><strong>Products provide:</strong> 3D Point cloud model - 3D Photogrammetry model - BIM Model - Virtual tour 360°</li>
                            </ul>
                            <p>This is the first Hotels & Resorts project in Vietnam applying 3D Laser scanning technology to digitize the existing project site with an area up to 13 hectares. The results of the Scan-to-Bim process are given as follows:</p>
                            <ul>
                                <li>Digitizing the existing construction site: The millimetre precision digitization data has been provided as the points cloud data, herein, each point cloud consists of coordinates and colour parameters</li>
                                <li>The as-built 3D BIM model for some typical villas</li>
                                <li>Tracking the difference between scanned models and design models in terms of quantity and dimension</li>
                                <li>The virtual reality (VR) and augmented reality (AR) products supporting for project manager, sell, and media</li>
                            </ul>
                        </div>
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                            <img class="img-fluid" src="/public/images/projects/prime-resorts-and-hotels/cover.jpg">
                        </div>
                    </div>
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                            <div class="row gallery-item">
                                <div class="col-md-6">
                                    <a href="/public/images/projects/prime-resorts-and-hotels/01.jpg"
                                        alt="Cam Ranh Bay Hotels & Resorts" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/prime-resorts-and-hotels/01.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/prime-resorts-and-hotels/02.jpg"
                                        alt="Cam Ranh Bay Hotels & Resorts" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/prime-resorts-and-hotels/02.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/prime-resorts-and-hotels/03.jpg"
                                        alt="Cam Ranh Bay Hotels & Resorts" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/prime-resorts-and-hotels/03.jpg);">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </section>
            <%- include (dir+'partials/footer.ejs')%>
        </div>
    </div>
    <%- include(dir+'partials/js.ejs') %>
</body>

</html>