<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="en" />
    <title>Digitization of Cruise Terminal in Phu Quoc Island | Infrastructure Digital Transformation Center | Construction Digitization</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="" />
    <meta name="keywords" content="BIM Services, Scan to BIM, 3D Laser Scanning, Digitization" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="index, follow">
    <meta name="thumbnail" content="https://portcoast-bim.com/public/images/projects/cruise-terminal-in-phu-quoc-island/cover.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="en-US"
        content="Digitization of Cruise Terminal in Phu Quoc Island | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Ho Chi Minh City, Viet Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/en/projects/cruise-terminal-in-phu-quoc-island" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title"
        content="Digitization of Cruise Terminal in Phu Quoc Island | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta property="og:description"
        content="" />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/projects/cruise-terminal-in-phu-quoc-island/cover.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/en/projects/cruise-terminal-in-phu-quoc-island" />
    <meta property="og:locale" content="en-US" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title"
        content="Digitization of Cruise Terminal in Phu Quoc Island | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="twitter:description"
        content="" />
    <meta name="twitter:image" content="https://portcoast-bim.com/public/images/projects/cruise-terminal-in-phu-quoc-island/cover.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/en/projects/cruise-terminal-in-phu-quoc-island" />
    <meta name="twitter:card" content="summary" />
    <%- include(dir+'partials/css.ejs') %>
</head>

<body>
    <div id="pcc-page">
        <a href="#" class="js-pcc-nav-toggle pcc-nav-toggle"><i></i></a>
        <%- include(dir+'partials/nav.ejs') %>
        <div id="pcc-main">
            <section class="pcc-services">
                <div class="pcc-narrow-content">
                    <div class="row">
                        <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                            data-animate-effect="fadeInLeft">
                            <span class="heading-meta">
                                Projects</span>
                            <h2 class="pcc-heading animate-box">Digitization of Cruise Terminal in Phu Quoc Island</h2>
                        </div>
                    </div>
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                            <ul class="pcc-list">
                                <li><strong>Location:</strong> Phu Quoc Island, Kien Giang Province, Vietnam</li>
                                <li><strong>Total area:</strong> The terminal is located in the town of Duong Dong for luxury cruise ships carrying 5,000 - 6,000 passengers & 20,000 DWT.</li>
                                <li><strong>Products provide:</strong> 3D Point cloud model - 3D Photogrammetry model - BIM Model - Virtual tour 360&deg</li>
                            </ul>
                            <p>Cruise Terminal in Phu Quoc Island was constructed on an area of 179.3 hectares located in Duong Dong town. Numerous facilities were built, including a main bridge that is 240 meters long and 35 meters wide, allowing two ships to dock simultaneously on both sides of the bridge. An 850-meter wave barrier was also constructed to facilitate the process of docking and embarking passengers. Additionally, a 1,004-meter causeway with stairs for embarking and disembarking from yachts and a terminal building covering an area of 4.78 hectares (with a terminal area of 1,950 square meters) were built to support the operation of the port.</p>
                        </div>
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                            <img class="img-fluid" src="/public/images/projects/cruise-terminal-in-phu-quoc-island/cover02.jpg">
                        </div>
                    </div>
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                            <div class="row gallery-item">
                                <div class="col-md-6">
                                    <a href="/public/images/projects/cruise-terminal-in-phu-quoc-island/01.jpg"
                                        alt="Digitization of Cruise Terminal in Phu Quoc Island" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/cruise-terminal-in-phu-quoc-island/01.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/cruise-terminal-in-phu-quoc-island/02.jpg"
                                        alt="Digitization of Cruise Terminal in Phu Quoc Island" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/cruise-terminal-in-phu-quoc-island/02.jpg);">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <%- include (dir+'partials/footer.ejs')%>
        </div>
    </div>
    <%- include(dir+'partials/js.ejs') %>
</body>

</html>