<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="en" />
    <title>Survey for planning Vung Ang Logistics Center | Portcoast Digital Transformation Center | Construction Digitization</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="" />
    <meta name="keywords" content="BIM Services, Scan to BIM, 3D Laser Scanning, Digitization" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="index, follow">
    <meta name="thumbnail" content="https://portcoast-bim.com/public/images/projects/gemadept-terminal-link-cai-mep-terminal/cover.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="en-US"
        content="Survey for planning Vung Ang Logistics Center | Portcoast Digital Transformation Center | Construction Digitization" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Ho Chi Minh City, Viet Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/en/projects/gemadept-terminal-link-cai-mep-terminal" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title"
        content="Survey for planning Vung Ang Logistics Center | Portcoast Digital Transformation Center | Construction Digitization" />
    <meta property="og:description"
        content="" />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/projects/gemadept-terminal-link-cai-mep-terminal/cover.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/en/projects/gemadept-terminal-link-cai-mep-terminal" />
    <meta property="og:locale" content="en-US" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title"
        content="Survey for planning Vung Ang Logistics Center | Portcoast Digital Transformation Center | Construction Digitization" />
    <meta name="twitter:description"
        content="" />
    <meta name="twitter:image" content="https://portcoast-bim.com/public/images/projects/gemadept-terminal-link-cai-mep-terminal/cover.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/en/projects/gemadept-terminal-link-cai-mep-terminal" />
    <meta name="twitter:card" content="summary" />
    <%- include(dir+'partials/css.ejs') %>
</head>

<body>
    <div id="pcc-page">
     
        <%- include(dir+'partials/nav.ejs') %>
              <div id="pcc-main">
         <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                    </div>
                </div>
            </div>
            <!-- Page Header End -->
            <section class="pcc-services">
                <div class="container">
                <div class="pcc-narrow-content">
                    <div class="row">
                        <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                            data-animate-effect="fadeInLeft">
                            <span class="heading-meta">
                                Projects</span>
                            <h2 class="pcc-heading animate-box">Survey Phase 2 Of Gemadept - Terminal Link Cai Mep Terminal</h2>
                        </div>
                    </div>
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                            <ul class="pcc-list">
                                <li><strong>Client/Owner:</strong> Gemadept - Terminal Link Cai Mep JSC</li>
                                <li><strong>Location:</strong> Ba Ria - Vung Tau Province, Vietnam</li>
                                <li><strong>Products provide:</strong> 3D Point cloud model - 3D Photogrammetry model</li>
                            </ul>
                            <p>Gemalink is the leading deep-water port in Vietnam, a joint venture between Gemadept and France's CMA - Terminals. It is one of the top 19 International ports in the world and can accommodate the largest ships currently in operation, with a capacity of up to 200,000 tonnes. Gemalink is also the most important cargo transshipment center in the Southeast Asia region.</p>
                            <p>The Project studies the extension of Gemalink Terminal for a further towards downstream, and to upgrade container vessel size from 200,000DWT to 250,000DWT.</p>
                        </div>
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                            <img class="img-fluid" src="/public/images/projects/gemadept-terminal-link-cai-mep-terminal/cover.jpg">
                        </div>
                    </div>
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                            <div class="row gallery-item">
                                <div class="col-md-6">
                                    <a href="/public/images/projects/gemadept-terminal-link-cai-mep-terminal/gemadept-terminal-link-cai-mep-terminal-001.jpg"
                                        alt="Khảo sát mở rộng giai đoạn 2 - Cảng Cái Mép Gemadept - Terminal Link" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/gemadept-terminal-link-cai-mep-terminal/gemadept-terminal-link-cai-mep-terminal-001.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/gemadept-terminal-link-cai-mep-terminal/gemadept-terminal-link-cai-mep-terminal-002.jpg"
                                        alt="Khảo sát mở rộng giai đoạn 2 - Cảng Cái Mép Gemadept - Terminal Link" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/gemadept-terminal-link-cai-mep-terminal/gemadept-terminal-link-cai-mep-terminal-002.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/gemadept-terminal-link-cai-mep-terminal/gemadept-terminal-link-cai-mep-terminal-003.jpg"
                                        alt="Khảo sát mở rộng giai đoạn 2 - Cảng Cái Mép Gemadept - Terminal Link" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/gemadept-terminal-link-cai-mep-terminal/gemadept-terminal-link-cai-mep-terminal-003.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/gemadept-terminal-link-cai-mep-terminal/gemadept-terminal-link-cai-mep-terminal-004.jpg"
                                        alt="Khảo sát mở rộng giai đoạn 2 - Cảng Cái Mép Gemadept - Terminal Link" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/gemadept-terminal-link-cai-mep-terminal/gemadept-terminal-link-cai-mep-terminal-004.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-6">
                                    <a href="/public/images/projects/gemadept-terminal-link-cai-mep-terminal/gemadept-terminal-link-cai-mep-terminal-005.jpg"
                                        alt="Khảo sát mở rộng giai đoạn 2 - Cảng Cái Mép Gemadept - Terminal Link" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/gemadept-terminal-link-cai-mep-terminal/gemadept-terminal-link-cai-mep-terminal-005.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/gemadept-terminal-link-cai-mep-terminal/gemadept-terminal-link-cai-mep-terminal-006.jpg"
                                        alt="Khảo sát mở rộng giai đoạn 2 - Cảng Cái Mép Gemadept - Terminal Link" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/gemadept-terminal-link-cai-mep-terminal/gemadept-terminal-link-cai-mep-terminal-006.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/gemadept-terminal-link-cai-mep-terminal/gemadept-terminal-link-cai-mep-terminal-007.jpg"
                                        alt="Khảo sát mở rộng giai đoạn 2 - Cảng Cái Mép Gemadept - Terminal Link" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/gemadept-terminal-link-cai-mep-terminal/gemadept-terminal-link-cai-mep-terminal-007.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/gemadept-terminal-link-cai-mep-terminal/gemadept-terminal-link-cai-mep-terminal-008.jpg"
                                        alt="Khảo sát mở rộng giai đoạn 2 - Cảng Cái Mép Gemadept - Terminal Link" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/gemadept-terminal-link-cai-mep-terminal/gemadept-terminal-link-cai-mep-terminal-008.jpg);">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </section>
            <%- include (dir+'partials/footer.ejs')%>
        </div>
    </div>
    <%- include(dir+'partials/js.ejs') %>
</body>

</html>