<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="en" />
    <title>Ho Chi Minh City Urban Railway - Line 1 | Infrastructure Digital Transformation Center | Construction Digitization</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="" />
    <meta name="keywords" content="BIM Services, Scan to BIM, 3D Laser Scanning, Digitization" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail" content="https://portcoast-bim.com/public/images/projects/metro-saigon/cover.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="en-US"
        content="Ho Chi Minh City Urban Railway - Line 1 | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Ho Chi Minh City, Viet Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/en/projects/ho-chi-minh-city-urban-railway-line-1" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title"
        content="Ho Chi Minh City Urban Railway - Line 1 | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta property="og:description"
        content="" />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/projects/metro-saigon/cover.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/en/projects/ho-chi-minh-city-urban-railway-line-1" />
    <meta property="og:locale" content="en-US" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title"
        content="Ho Chi Minh City Urban Railway - Line 1 | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="twitter:description"
        content="" />
    <meta name="twitter:image" content="https://portcoast-bim.com/public/images/projects/metro-saigon/cover.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/en/projects/ho-chi-minh-city-urban-railway-line-1" />
    <meta name="twitter:card" content="summary" />
    <%- include(dir+'partials/css.ejs') %>
</head>

<body>
    <div id="pcc-page">
        <a href="#" class="js-pcc-nav-toggle pcc-nav-toggle"><i></i></a>
        <%- include(dir+'partials/nav.ejs') %>
        <div id="pcc-main">
            <section class="pcc-services">
                <div class="pcc-narrow-content">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box"
                            data-animate-effect="fadeInLeft">
                            <span class="heading-meta">
                                Projects</span>
                            <h2 class="pcc-heading animate-box">Ho Chi Minh City Urban Railway - Line 1</h2>
                        </div>
                    </div>
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                            <ul class="pcc-list">
                                <li><strong>Location:</strong> Tp. Hồ Chí Minh, Việt Nam</li>
                                <li><strong>Total length:</strong> 19.7 km (2.6 km underground and 17.1 km elevated)</li>
                                <li><strong>Number of station:</strong> 14 stations (3 underground stations and 11 elevated stations).</li>
                            </ul>

                        </div>
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                            <img class="img-fluid" src="/public/images/projects/metro-saigon/cover.jpg">
                        </div>
                    </div>
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                            <div class="row gallery-item">
                                <div class="col-md-6">
                                    <a href="/public/images/projects/metro-saigon/01.jpg"
                                        alt="Tuyến số 1 - Đường sắt đô thị TP. Hồ Chí Minh" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/metro-saigon/01.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/metro-saigon/02.jpg"
                                        alt="Tuyến số 1 - Đường sắt đô thị TP. Hồ Chí Minh" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/metro-saigon/02.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/metro-saigon/03.jpg"
                                        alt="Tuyến số 1 - Đường sắt đô thị TP. Hồ Chí Minh" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/metro-saigon/03.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/metro-saigon/04.jpg"
                                        alt="Tuyến số 1 - Đường sắt đô thị TP. Hồ Chí Minh" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/metro-saigon/04.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-6">
                                    <a href="/public/images/projects/metro-saigon/05.jpg"
                                        alt="Tuyến số 1 - Đường sắt đô thị TP. Hồ Chí Minh" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/metro-saigon/05.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/metro-saigon/06.jpg"
                                        alt="Tuyến số 1 - Đường sắt đô thị TP. Hồ Chí Minh" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/metro-saigon/06.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/metro-saigon/07.jpg"
                                        alt="Tuyến số 1 - Đường sắt đô thị TP. Hồ Chí Minh" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/metro-saigon/07.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/metro-saigon/08.jpg"
                                        alt="Tuyến số 1 - Đường sắt đô thị TP. Hồ Chí Minh" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/metro-saigon/08.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-6">
                                    <a href="/public/images/projects/metro-saigon/09.jpg"
                                        alt="Tuyến số 1 - Đường sắt đô thị TP. Hồ Chí Minh" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/metro-saigon/09.jpg);">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <%- include (dir+'partials/footer.ejs')%>
        </div>
    </div>
    <%- include(dir+'partials/js.ejs') %>
</body>

</html>