<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="en" />
    <title>Hyosung Vina Chemicals Port | Infrastructure Digital Transformation Center | Construction Digitization</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="We use 3D laser scanning technology and combine it with UAV to collect data on the pipelines, docks, plant, and underground storage" />
    <meta name="keywords" content="BIM Services, Scan to BIM, 3D Laser Scanning, Digitization" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail" content="https://portcoast-bim.com/public/images/projects/hyosung-vina-chemicals-port/cover.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="en-US"
        content="Hyosung Vina Chemicals Port | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Ho Chi Minh City, Viet Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/en/projects/hyosung-vina-chemicals-port.jpg" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title"
        content="Hyosung Vina Chemicals Port | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta property="og:description"
        content="We use 3D laser scanning technology and combine it with UAV to collect data on the pipelines, docks, plant, and underground storage" />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/projects/hyosung-vina-chemicals-port/cover.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/en/projects/hyosung-vina-chemicals-port.jpg" />
    <meta property="og:locale" content="en-US" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title"
        content="Hyosung Vina Chemicals Port | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="twitter:description"
        content="We use 3D laser scanning technology and combine it with UAV to collect data on the pipelines, docks, plant, and underground storage" />
    <meta name="twitter:image" content="https://portcoast-bim.com/public/images/projects/hyosung-vina-chemicals-port/cover.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/en/projects/hyosung-vina-chemicals-port.jpg" />
    <meta name="twitter:card" content="summary" />
    <%- include(dir+'partials/css.ejs') %>
</head>

<body>
    <div id="pcc-page">
        <a href="#" class="js-pcc-nav-toggle pcc-nav-toggle"><i></i></a>
        <%- include(dir+'partials/nav.ejs') %>
        <div id="pcc-main">
            <section class="pcc-services">
                <div class="pcc-narrow-content">
                    <div class="row">
                        <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                            data-animate-effect="fadeInLeft">
                            <span class="heading-meta">
                                Projects</span>
                            <h2 class="pcc-heading animate-box">Hyosung Vina Chemicals Port</h2>
                        </div>
                    </div>
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                            <ul class="pcc-list">
                                <li><strong>Location:</strong> Ba Ria - Vung Tau Province, Vietnam</li>
                                <li><strong>Client/Owner:</strong> Hyosung Corporation/Hyosung Vina Chemicals</li>
                                <li><strong>Total area:</strong> 10ha; Jetty for 60.000DWT LPG Tankers</li>
                                <li><strong>Products provide:</strong> 3D Point Cloud Model - BIM Models</li>
                            </ul>
                            <p>Hyosung Vina Chemicals Port is a specialized port for the Polypropylene (PP) production plant and the underground storage of liquefied petroleum gas (LPG) project.</p>
                            <p>We use 3D laser scanning technology and combine it with UAV to collect data on the pipelines, docks, plant, and underground storage. At the same time, we use unmanned surface vehicle (USV) equipped with iLidar devices to survey the front of the dock, and Multibeam surveying to investigate the terrain and topography beneath the riverbed of the port area. The image data and point cloud model are used to create a BIM model of the port area.</p>
                        </div>
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                            <img class="img-fluid" src="/public/images/projects/hyosung-vina-chemicals-port/cover.jpg">
                        </div>
                    </div>
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                            <div class="row gallery-item">
                                <div class="col-md-6">
                                    <a href="/public/images/projects/hyosung-vina-chemicals-port/01.jpg"
                                        alt="Cảng Hyosung Vina Chemicals" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/hyosung-vina-chemicals-port/01.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/hyosung-vina-chemicals-port/02.jpg"
                                        alt="Cảng Hyosung Vina Chemicals" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/hyosung-vina-chemicals-port/02.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/hyosung-vina-chemicals-port/03.jpg"
                                        alt="Cảng Hyosung Vina Chemicals" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/hyosung-vina-chemicals-port/03.jpg);">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <%- include (dir+'partials/footer.ejs')%>
        </div>
    </div>
    <%- include(dir+'partials/js.ejs') %>
</body>
</html>