<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="en" />
    <title>Digitization of Interflour Cai Mep Port | Infrastructure Digital Transformation Center | Construction Digitization</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="We conducted a survey of the Port area using a UAV combined with ground-based 3D laser scanning stations." />
    <meta name="keywords" content="BIM Services, Scan to BIM, 3D Laser Scanning, Digitization" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="index, follow">
    <meta name="thumbnail" content="https://portcoast-bim.com/public/images/projects/interflour-cai-mep-port/interflour-cai-mep-port-cover.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="en-US"
        content="Digitization of Interflour Cai Mep Port | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Ho Chi Minh City, Viet Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/en/projects/interflour-cai-mep-port" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title"
        content="Digitization of Interflour Cai Mep Port | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta property="og:description"
        content="We conducted a survey of the Port area using a UAV combined with ground-based 3D laser scanning stations." />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/projects/interflour-cai-mep-port/interflour-cai-mep-port-cover.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/en/projects/interflour-cai-mep-port" />
    <meta property="og:locale" content="en-US" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title"
        content="Digitization of Interflour Cai Mep Port | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="twitter:description"
        content="We conducted a survey of the Port area using a UAV combined with ground-based 3D laser scanning stations." />
    <meta name="twitter:image" content="https://portcoast-bim.com/public/images/projects/interflour-cai-mep-port/interflour-cai-mep-port-cover.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/en/projects/interflour-cai-mep-port" />
    <meta name="twitter:card" content="summary" />
    <%- include(dir+'partials/css.ejs') %>
</head>

<body>
    <div id="pcc-page">
        <a href="#" class="js-pcc-nav-toggle pcc-nav-toggle"><i></i></a>
        <%- include(dir+'partials/nav.ejs') %>
        <div id="pcc-main">
            <section class="pcc-services">
                <div class="pcc-narrow-content">
                    <div class="row">
                        <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                            data-animate-effect="fadeInLeft">
                            <span class="heading-meta">
                                Projects</span>
                            <h2 class="pcc-heading animate-box">Digitization of Interflour Cai Mep Port</h2>
                        </div>
                    </div>
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                            <ul class="pcc-list">
                                <li><strong>Location:</strong> Ba Ria ‐ Vung Tau Province, Vietnam</li>
                                <li><strong>Client/Owner:</strong> Interflour Viet Nam Co.,Ltd.</li>
                                <li><strong>Total area:</strong> Main Bridge 310m; Auxiliary Bridge 150m</li>
                                <li><strong>Products provide:</strong> 3D Point cloud model - 3D Photogrammetry model - 2D&3D topographic drawing - BIM Model - Virtual tour 360&deg</li>
                            </ul>
                            <p>Interflour Cai Mep Port is located in Ba Ria - Vung Tau province, approximately 65km southeast of Ho Chi Minh City. It is a deep-water port, capable of accommodating vessels up to 93,000 DWT with a maximum port draft of 14 meters. The port has a handling capacity of 3.5 million tons of cargo per year and provides specialized grain processing equipment, logistics management services, and an on-site large warehouse with a capacity of 160,000 tons.</p>
                        </div>
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                            <img class="img-fluid" src="/public/images/projects/interflour-cai-mep-port/interflour-cai-mep-port-cover.jpg">
                        </div>
                    </div>
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                            <div class="row gallery-item">
                                <div class="col-md-6">
                                    <a href="/public/images/projects/interflour-cai-mep-port/interflour-cai-mep-port-01.jpg"
                                        alt="Digitization of Interflour Cai Mep Port" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/interflour-cai-mep-port/interflour-cai-mep-port-01.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/interflour-cai-mep-port/interflour-cai-mep-port-02.jpg"
                                        alt="Digitization of Interflour Cai Mep Port" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/interflour-cai-mep-port/interflour-cai-mep-port-02.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/interflour-cai-mep-port/interflour-cai-mep-port-03.jpg"
                                        alt="Digitization of Interflour Cai Mep Port" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/interflour-cai-mep-port/interflour-cai-mep-port-03.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/interflour-cai-mep-port/interflour-cai-mep-port-04.jpg"
                                        alt="Digitization of Interflour Cai Mep Port" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/interflour-cai-mep-port/interflour-cai-mep-port-04.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-6">
                                    <a href="/public/images/projects/interflour-cai-mep-port/interflour-cai-mep-port-05.jpg"
                                        alt="Digitization of Interflour Cai Mep Port" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/interflour-cai-mep-port/interflour-cai-mep-port-05.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/interflour-cai-mep-port/interflour-cai-mep-port-06.jpg"
                                        alt="Digitization of Interflour Cai Mep Port" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/interflour-cai-mep-port/interflour-cai-mep-port-06.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/interflour-cai-mep-port/interflour-cai-mep-port-07.jpg"
                                        alt="Digitization of Interflour Cai Mep Port" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/interflour-cai-mep-port/interflour-cai-mep-port-07.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/interflour-cai-mep-port/interflour-cai-mep-port-08.jpg"
                                        alt="Digitization of Interflour Cai Mep Port" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/interflour-cai-mep-port/interflour-cai-mep-port-08.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/interflour-cai-mep-port/interflour-cai-mep-port-09.jpg"
                                        alt="Digitization of Interflour Cai Mep Port" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/interflour-cai-mep-port/interflour-cai-mep-port-09.jpg);">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <%- include (dir+'partials/footer.ejs')%>
        </div>
    </div>
    <%- include(dir+'partials/js.ejs') %>
</body>

</html>