<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="en" />
    <title>Digitization of Line 1, Ho Chi Minh City Metro | Portcoast Digital Transformation Center | Construction Digitization</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Portcoast DT conducted a survey of Metro Line 1 using 3D Laser Scan and unmanned aerial vehicle (UAV) data collection technologies" />
    <meta name="keywords" content="BIM Services, Scan to BIM, 3D Laser Scanning, Digitization" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail" content="https://portcoast-bim.com/public/images/projects/metro-saigon/line-1-ho-chi-minh-city-metro-cover.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="en-US"
        content="Digitization of Line 1, Ho Chi Minh City Metro | Portcoast Digital Transformation Center | Construction Digitization" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Ho Chi Minh City, Viet Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/en/projects/line-1-ho-chi-minh-city-metro" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title"
        content="Digitization of Line 1, Ho Chi Minh City Metro | Portcoast Digital Transformation Center | Construction Digitization" />
    <meta property="og:description"
        content="Portcoast DT conducted a survey of Metro Line 1 using 3D Laser Scan and unmanned aerial vehicle (UAV) data collection technologies" />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/projects/metro-saigon/line-1-ho-chi-minh-city-metro-cover.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/en/projects/line-1-ho-chi-minh-city-metro" />
    <meta property="og:locale" content="en-US" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title"
        content="Digitization of Line 1, Ho Chi Minh City Metro | Portcoast Digital Transformation Center | Construction Digitization" />
    <meta name="twitter:description"
        content="Portcoast DT conducted a survey of Metro Line 1 using 3D Laser Scan and unmanned aerial vehicle (UAV) data collection technologies" />
    <meta name="twitter:image" content="https://portcoast-bim.com/public/images/projects/metro-saigon/line-1-ho-chi-minh-city-metro-cover.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/en/projects/line-1-ho-chi-minh-city-metro" />
    <meta name="twitter:card" content="summary" />
    <%- include(dir+'partials/css.ejs') %>
</head>

<body>
    <div id="pcc-page">
     
        <%- include(dir+'partials/nav.ejs') %>
              <div id="pcc-main">
         <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                    </div>
                </div>
            </div>
            <!-- Page Header End -->
            <section class="pcc-services">
                <div class="container">
                <div class="pcc-narrow-content">
                    <div class="row">
                        <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                            data-animate-effect="fadeInLeft">
                            <span class="heading-meta">
                                Projects</span>
                            <h2 class="pcc-heading animate-box">Digitization of Line 1, Ho Chi Minh City Metro</h2>
                        </div>
                    </div>
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                            <ul class="pcc-list">
                                <li><strong>Location:</strong> Ho Chi Minh City, Vietnam</li>
                                <li><strong>Client/Owner:</strong> Management Authority for Urban Railways (MAUR) - HCMC People's Committee</li>
                                <li><strong>Total area:</strong> Total length: 19.7 km (2.6 km underground and 17.1 km elevated); Number of station: 14 stations (3 underground stations and 11 elevated stations)</li>
                                <li><strong>Products provide:</strong> 3D Point cloud model - 3D Photogrammetry model - BIM Model - Virtual tour 360&deg</li>
                            </ul>
                            <p>Metro Line 1, also known as the Ben Thanh - Suoi Tien Metro Line, is an urban railway line of the Ho Chi Minh City Urban Railway system, currently under construction and expected to commence commercial operation in the fourth quarter of 2023. This railway line has a 2.6 km underground section that passes through 3 stations and a 17.1 km elevated section that passes through 11 stations, with a total length of 19.7 km.</p>
                            <p>Portcoast DT conducted a survey of Metro Line 1 using 3D Laser Scan and unmanned aerial vehicle (UAV) data collection technologies. The application of these new technologies enabled the rapid collection of 3D point cloud data and a high-precision 3D mesh model of the current status, enhancing the transparency of the survey. This data was used to create a foundation for building an integrated BIM information model that includes management information such as materials, dimensions, weight, lifespan, and maintenance time of each component. Additionally, from this data, we created an interactive 3D game model and a virtual tour of the entire project.</p>
                        </div>
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                            <img class="img-fluid" src="/public/images/projects/metro-saigon/line-1-ho-chi-minh-city-metro-cover.jpg">
                        </div>
                    </div>
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                            <div class="row gallery-item">
                                <div class="col-md-6">
                                    <a href="/public/images/projects/metro-saigon/line-1-ho-chi-minh-city-metro-01.jpg"
                                        alt="Digitization of Line 1, Ho Chi Minh City Metro" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/metro-saigon/line-1-ho-chi-minh-city-metro-01.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/metro-saigon/line-1-ho-chi-minh-city-metro-02.jpg"
                                        alt="Digitization of Line 1, Ho Chi Minh City Metro" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/metro-saigon/line-1-ho-chi-minh-city-metro-02.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/metro-saigon/line-1-ho-chi-minh-city-metro-03.jpg"
                                        alt="Digitization of Line 1, Ho Chi Minh City Metro" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/metro-saigon/line-1-ho-chi-minh-city-metro-03.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/metro-saigon/line-1-ho-chi-minh-city-metro-04.jpg"
                                        alt="Digitization of Line 1, Ho Chi Minh City Metro" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/metro-saigon/line-1-ho-chi-minh-city-metro-04.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-6">
                                    <a href="/public/images/projects/metro-saigon/line-1-ho-chi-minh-city-metro-05.jpg"
                                        alt="Digitization of Line 1, Ho Chi Minh City Metro" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/metro-saigon/line-1-ho-chi-minh-city-metro-05.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/metro-saigon/line-1-ho-chi-minh-city-metro-06.jpg"
                                        alt="Digitization of Line 1, Ho Chi Minh City Metro" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/metro-saigon/line-1-ho-chi-minh-city-metro-06.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/metro-saigon/line-1-ho-chi-minh-city-metro-07.jpg"
                                        alt="Digitization of Line 1, Ho Chi Minh City Metro" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/metro-saigon/line-1-ho-chi-minh-city-metro-07.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/metro-saigon/line-1-ho-chi-minh-city-metro-08.jpg"
                                        alt="Digitization of Line 1, Ho Chi Minh City Metro" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/metro-saigon/line-1-ho-chi-minh-city-metro-08.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-6">
                                    <a href="/public/images/projects/metro-saigon/line-1-ho-chi-minh-city-metro-09.jpg"
                                        alt="Digitization of Line 1, Ho Chi Minh City Metro" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/metro-saigon/line-1-ho-chi-minh-city-metro-09.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-6">
                                    <a href="/public/images/projects/metro-saigon/line-1-ho-chi-minh-city-metro-10.jpg"
                                        alt="Digitization of Line 1, Ho Chi Minh City Metro" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/metro-saigon/line-1-ho-chi-minh-city-metro-10.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/metro-saigon/line-1-ho-chi-minh-city-metro-11.jpg"
                                        alt="Digitization of Line 1, Ho Chi Minh City Metro" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/metro-saigon/line-1-ho-chi-minh-city-metro-11.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/metro-saigon/line-1-ho-chi-minh-city-metro-12.jpg"
                                        alt="Digitization of Line 1, Ho Chi Minh City Metro" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/metro-saigon/line-1-ho-chi-minh-city-metro-12.jpg);">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </section>
            <%- include (dir+'partials/footer.ejs')%>
        </div>
    </div>
    <%- include(dir+'partials/js.ejs') %>
</body>

</html>