<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="en" />
    <title>Phu Thuan Industrial Zone | Infrastructure Digital Transformation
        Center | Construction Digitization</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="" />
    <meta name="keywords" content="BIM Services, Scan to BIM, 3D Laser Scanning, Digitization" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail" content="https://portcoast-bim.com/public/images/projects/phu-thuan-industrial-zone/cover.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="en-US"
        content="Phu Thuan Industrial Zone | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Ho Chi Minh City, Viet Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/en/projects/phu-thuan-industrial-zone" />
    <meta name=" geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title"
        content="Phu Thuan Industrial Zone | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta property="og:description"
        content="" />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/projects/phu-thuan-industrial-zone/cover.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/en/projects/phu-thuan-industrial-zone" />
    <meta property=" og:locale" content="en-US" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title"
        content="Phu Thuan Industrial Zone | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="twitter:description"
        content="" />
    <meta name="twitter:image"
        content="https://portcoast-bim.com/public/images/projects/phu-thuan-industrial-zone/cover.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/en/projects/phu-thuan-industrial-zone" />
    <meta name=" twitter:card" content="summary" />
    <%- include(dir+'partials/css.ejs') %>
</head>

<body>
    <div id="pcc-page">
        <a href="#" class="js-pcc-nav-toggle pcc-nav-toggle"><i></i></a>
        <%- include(dir+'partials/nav.ejs') %>
        <div id="pcc-main">
            <section class="pcc-services">
                <div class="pcc-narrow-content">
                    <div class="row">
                        <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                            data-animate-effect="fadeInLeft">
                            <span class="heading-meta">
                                Projects</span>
                            <h2 class="pcc-heading animate-box">Phu Thuan Industrial Zone</h2>
                        </div>
                    </div>
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                            <ul class="pcc-list">
                                <li><strong>Location:</strong> Ben Tre Province, Vietnam</li>
                                <li><strong>Client/Owner:</strong> Thuan Hai Corporation</li>
                                <li><strong>Products provide:</strong> 3D Point cloud model - 3D Photogrammetry model - 2D&3D topographic drawing - Virtual tour 360&deg</li>
                            </ul>
                            <p>We conducted a survey by applying technology using devices to collect current data from the ground to the underwater surface such as unmanned aerial vehicles (UAV), 3D laser scanners TLS, mobile mapping systems (MMS), and unmanned surface vehicles (USV). These technologies conducted surveys in a short time, collecting data on terrain details, architecture, and all objects in the project area, helping the investor obtain complete data on the surface, shape, size, and location of the construction quickly and most accurately. Digitization helps create records and 3D models as a platform for designing ideas for the Phu Thuan Industrial Park according to the 1/2000 plan.</p>
                        </div>
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                            <img class="img-fluid" src="/public/images/projects/phu-thuan-industrial-zone/cover.jpg">
                        </div>
                    </div>
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                            <div class="row gallery-item">
                                <div class="col-md-6">
                                    <a href="/public/images/projects/phu-thuan-industrial-zone/01.jpg" alt="Phu Thuan Industrial Zone"
                                        data-lightbox="photos" class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/phu-thuan-industrial-zone/01.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/phu-thuan-industrial-zone/02.jpg" alt="Phu Thuan Industrial Zone"
                                        data-lightbox="photos" class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/phu-thuan-industrial-zone/02.jpg);">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <%- include (dir+'partials/footer.ejs')%>
        </div>
    </div>
    <%- include(dir+'partials/js.ejs') %>
</body>

</html>