<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="en" />
    <title>Residential area for experts and workers in Da Nang High-tech Park | Infrastructure Digital Transformation
        Center | Construction Digitization</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="" />
    <meta name="keywords" content="BIM Services, Scan to BIM, 3D Laser Scanning, Digitization" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="index, follow">
    <meta name="thumbnail" content="https://portcoast-bim.com/public/images/projects/danang-hi-tech-park/cover.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="en-US"
        content="Residential area for experts and workers in Da Nang High-tech Park | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Ho Chi Minh City, Viet Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/en/projects/residential-area-for-experts-and-workers-in-da-nang-high-tech-park" />
    <meta name=" geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title"
        content="Residential area for experts and workers in Da Nang High-tech Park | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta property="og:description"
        content="" />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/projects/danang-hi-tech-park/cover.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/en/projects/residential-area-for-experts-and-workers-in-da-nang-high-tech-park" />
    <meta property=" og:locale" content="en-US" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title"
        content="Residential area for experts and workers in Da Nang High-tech Park | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="twitter:description"
        content="" />
    <meta name="twitter:image"
        content="https://portcoast-bim.com/public/images/projects/danang-hi-tech-park/cover.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/en/projects/residential-area-for-experts-and-workers-in-da-nang-high-tech-park" />
    <meta name=" twitter:card" content="summary" />
    <%- include(dir+'partials/css.ejs') %>
</head>

<body>
    <div id="pcc-page">
     
        <%- include(dir+'partials/nav.ejs') %>
              <div id="pcc-main">
         <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                    </div>
                </div>
            </div>
            <!-- Page Header End -->
            <section class="pcc-services">
                <div class="container">
                <div class="pcc-narrow-content">
                    <div class="row">
                        <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                            data-animate-effect="fadeInLeft">
                            <span class="heading-meta">
                                Projects</span>
                            <h2 class="pcc-heading animate-box">Residential area for experts and workers in Da Nang
                                High-tech Park</h2>
                        </div>
                    </div>
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                            <ul class="pcc-list">
                                <li><strong>Location:</strong> Da Nang City, Vietnam</li>
                                <li><strong>Client/Owner:</strong> Trung Nam Electronics Manufacturing Services</li>
                                <li><strong>Products provide:</strong> 3D Point cloud model - 3D Photogrammetry model - 2D&3D topographic drawing - Virtual tour 360&deg</li>
                            </ul>
                            <p>We conducted a survey of the area using advanced surveying technologies such as unmanned aerial vehicle (UAV), terrestrial laser scanning (TLS), mobile mapping system (MMS), and unmanned surface vehicle (USV) to collect data from the ground surface to the underwater surface in a short period of time. These devices enabled us to collect detailed information about the terrain, architecture, and geography of the project area, providing customers with complete data on the surface, shape, size, and location of the structure quickly and accurately.</p>
                        </div>
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                            <img class="img-fluid" src="/public/images/projects/danang-hi-tech-park/cover01.jpg">
                        </div>
                    </div>
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                            <div class="row gallery-item">
                                <div class="col-md-6">
                                    <a href="/public/images/projects/danang-hi-tech-park/01.jpg" alt=""
                                        data-lightbox="photos" class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/danang-hi-tech-park/01.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/danang-hi-tech-park/02.jpg" alt=""
                                        data-lightbox="photos" class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/danang-hi-tech-park/02.jpg);">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </section>
            <%- include (dir+'partials/footer.ejs')%>
        </div>
    </div>
    <%- include(dir+'partials/js.ejs') %>
</body>

</html>