<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="en" />
    <title>Digitization of Saigon Opera House | Infrastructure Digital Transformation Center | Construction Digitization</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Portcoast DT uses 3D laser scanning technology to survey the current condition of both the exterior and interior of the theater" />
    <meta name="keywords" content="BIM Services, Scan to BIM, 3D Laser Scanning, Digitization" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail" content="https://portcoast-bim.com/public/images/projects/saigon-opera-house/cover.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="en-US"
        content="Digitization of Saigon Opera House | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Ho Chi Minh City, Viet Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/en/projects/sai-gon-opera-house" />
    <meta name=" geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title"
        content="Digitization of Saigon Opera House | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta property="og:description" content="Portcoast DT uses 3D laser scanning technology to survey the current condition of both the exterior and interior of the theater" />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/projects/saigon-opera-house/cover.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/en/projects/sai-gon-opera-house" />
    <meta property=" og:locale" content="en-US" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title"
        content="Digitization of Saigon Opera House | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="twitter:description" content="Portcoast DT uses 3D laser scanning technology to survey the current condition of both the exterior and interior of the theater" />
    <meta name="twitter:image"
        content="https://portcoast-bim.com/public/images/projects/saigon-opera-house/cover.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/en/projects/sai-gon-opera-house" />
    <meta name=" twitter:card" content="summary" />
    <%- include(dir+'partials/css.ejs') %>
</head>

<body>
    <div id="pcc-page">
        <a href="#" class="js-pcc-nav-toggle pcc-nav-toggle"><i></i></a>
        <%- include(dir+'partials/nav.ejs') %>
        <div id="pcc-main">
            <section class="pcc-services">
                <div class="pcc-narrow-content">
                    <div class="row">
                        <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                            data-animate-effect="fadeInLeft">
                            <span class="heading-meta">
                                Projects</span>
                            <h2 class="pcc-heading animate-box">Digitization of Saigon Opera House</h2>
                        </div>
                    </div>
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                            <ul class="pcc-list">
                                <li><strong>Location:</strong> Ho Chi Minh City, Vietnam</li>
                                <li><strong>Products provide:</strong> 3D Point Cloud Model - 3D Mesh Models - BIM Models - Virtual Tour 360&deg</li>
                            </ul>
                            <p>Digitization of Saigon Opera House is a magnificent architectural structure built in 1898
                                by French architect Eugene Ferret. With its symmetrical structure and soundproof door
                                system, the theater has a seating capacity of 468 and provides good sound quality and
                                visibility from every seat to the stage. The theater's architecture is stunning with its
                                vaulted roof and exquisite details such as the carved statue, crystal chandeliers, and
                                granite floor. However, over time and harsh weather conditions, the building has
                                deteriorated and requires conservation and restoration.</p>
                            <p>Portcoast DT uses 3D laser scanning technology to survey the current condition of both the exterior and interior of the theater. High-detail image and point cloud data are collected and used to generate a 3D model, creating a realistic digital version of the theater that can aid in its preservation and restoration. Additionally, this allows for easy dissemination of its historical and cultural value to the public through mobile applications, AR/VR gaming platforms, and virtual tours.</p>
                        </div>
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                            <img class="img-fluid" src="/public/images/projects/saigon-opera-house/cover.jpg">
                        </div>
                    </div>
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                            <div class="row gallery-item">
                                <div class="col-md-6">
                                    <a href="/public/images/projects/saigon-opera-house/01.jpg" alt="Saigon Opera House"
                                        data-lightbox="photos" class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/saigon-opera-house/01.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/saigon-opera-house/02.jpg" alt="Saigon Opera House"
                                        data-lightbox="photos" class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/saigon-opera-house/02.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/saigon-opera-house/03.jpg" alt="Saigon Opera House"
                                        data-lightbox="photos" class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/saigon-opera-house/03.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/saigon-opera-house/04.jpg" alt="Saigon Opera House"
                                        data-lightbox="photos" class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/saigon-opera-house/04.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-6">
                                    <a href="/public/images/projects/saigon-opera-house/05.jpg" alt="Saigon Opera House"
                                        data-lightbox="photos" class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/saigon-opera-house/05.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/saigon-opera-house/06.jpg" alt="Saigon Opera House"
                                        data-lightbox="photos" class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/saigon-opera-house/06.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <!-- <div class="col-md-3">
                                    <a href="/public/images/projects/saigon-opera-house/07.jpg" alt="Saigon Opera House"
                                        data-lightbox="photos" class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/saigon-opera-house/07.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/saigon-opera-house/08.jpg" alt="Saigon Opera House"
                                        data-lightbox="photos" class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/saigon-opera-house/08.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-6">
                                    <a href="/public/images/projects/saigon-opera-house/09.jpg" alt="Saigon Opera House"
                                        data-lightbox="photos" class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/saigon-opera-house/09.jpg);">
                                        </div>
                                    </a>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <%- include (dir+'partials/footer.ejs')%>
        </div>
    </div>
    <%- include(dir+'partials/js.ejs') %>
</body>

</html>