<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="en" />
    <title>Digitization of Sai Gon - Hiep Phuoc Port | Infrastructure Digital Transformation Center | Construction Digitization</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="We conducted a survey of the Port area using a UAV combined with ground-based 3D laser scanning stations." />
    <meta name="keywords" content="BIM Services, Scan to BIM, 3D Laser Scanning, Digitization" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail" content="https://portcoast-bim.com/public/images/projects/saigon-hiep-phuoc-port/cover.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="en-US"
        content="Digitization of Sai Gon - Hiep Phuoc Port | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Ho Chi Minh City, Viet Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/en/projects/sai-gon-hiep-phuoc-port" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title"
        content="Digitization of Sai Gon - Hiep Phuoc Port | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta property="og:description"
        content="We conducted a survey of the Port area using a UAV combined with ground-based 3D laser scanning stations." />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/projects/saigon-hiep-phuoc-port/cover.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/en/projects/sai-gon-hiep-phuoc-port" />
    <meta property="og:locale" content="en-US" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title"
        content="Digitization of Sai Gon - Hiep Phuoc Port | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="twitter:description"
        content="We conducted a survey of the Port area using a UAV combined with ground-based 3D laser scanning stations." />
    <meta name="twitter:image" content="https://portcoast-bim.com/public/images/projects/saigon-hiep-phuoc-port/cover.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/en/projects/sai-gon-hiep-phuoc-port" />
    <meta name="twitter:card" content="summary" />
    <%- include(dir+'partials/css.ejs') %>
</head>

<body>
    <div id="pcc-page">
     
        <%- include(dir+'partials/nav.ejs') %>
              <div id="pcc-main">
         <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                    </div>
                </div>
            </div>
            <!-- Page Header End -->
            <section class="pcc-services">
                <div class="container">
                <div class="pcc-narrow-content">
                    <div class="row">
                        <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                            data-animate-effect="fadeInLeft">
                            <span class="heading-meta">
                                Projects</span>
                            <h2 class="pcc-heading animate-box">Digitization of Sai Gon - Hiep Phuoc Port</h2>
                        </div>
                    </div>
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                            <ul class="pcc-list">
                                <li><strong>Location:</strong> Soai Rap River, Hiep Phuoc Industry Zone, Ho Chi Minh City, Vietnam</li>
                                <li><strong>Client/Owner:</strong> Saigon Port</li>
                                <li><strong>Total area:</strong> Muti-purpose port terminal with 800m berth length, 60m width to accommodate ship of 50,000 DWT</li>
                                <li><strong>Products provide:</strong> 3D Point cloud model - 3D Photogrammetry model - BIM Model - Virtual tour 360&deg</li>
                            </ul>
                            <p>Saigon - Hiep Phuoc Port is a port located on the Soai Rap River in Nha Be District, serving the Ho Chi Minh City area and the Southwestern region of Vietnam. We conducted a survey of the Port area using a UAV combined with ground-based 3D laser scanning stations. The image and point cloud data we collected were used to create a BIM model.</p>
                        </div>
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                            <img class="img-fluid" src="/public/images/projects/saigon-hiep-phuoc-port/cover.jpg">
                        </div>
                    </div>
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                            <div class="row gallery-item">
                                <div class="col-md-6">
                                    <a href="/public/images/projects/saigon-hiep-phuoc-port/01.jpg"
                                        alt="Digitization of Sai Gon - Hiep Phuoc Port" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/saigon-hiep-phuoc-port/01.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/saigon-hiep-phuoc-port/02.jpg"
                                        alt="Digitization of Sai Gon - Hiep Phuoc Port" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/saigon-hiep-phuoc-port/02.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/saigon-hiep-phuoc-port/03.jpg"
                                        alt="Digitization of Sai Gon - Hiep Phuoc Port" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/saigon-hiep-phuoc-port/03.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/saigon-hiep-phuoc-port/04.jpg"
                                        alt="Digitization of Sai Gon - Hiep Phuoc Port" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/saigon-hiep-phuoc-port/04.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-6">
                                    <a href="/public/images/projects/saigon-hiep-phuoc-port/05.jpg"
                                        alt="Digitization of Sai Gon - Hiep Phuoc Port" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/saigon-hiep-phuoc-port/05.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/saigon-hiep-phuoc-port/06.jpg"
                                        alt="Digitization of Sai Gon - Hiep Phuoc Port" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/saigon-hiep-phuoc-port/06.jpg);">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </section>
            <%- include (dir+'partials/footer.ejs')%>
        </div>
    </div>
    <%- include(dir+'partials/js.ejs') %>
</body>

</html>