<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add News</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-offset-3">
                <h1>Add News </h1>
                <form method="post">
                    <div class="panel panel-default">
                        <div class="panel-body" id="form">
                            <div class="form-group">
                                <label for="title_en">News Title Eng: </label>
                                <input type="text" id="title_en" class="form-control" name="title_en">
                            </div>
                            <div class="form-group">
                                <label for="title_vi">News Title Vi: </label>
                                <input type="text" id="title_vi" class="form-control" name="title_vi">
                            </div>
                            <div class="form-group" id="date">
                                <label for="date">Date: </label>
                                <div>

                                    <label for="year">Year</label>
                                    <select name="year" id="year">

                                    </select>
                                    <label for="month">Month</label>
                                    <select name="month" id="month"></select>
                                    <label for="day">Day</label>
                                    <select name="day" id="day"></select>
                                </div>
                                <button type="button" id="getToday">Get today</button>
                            </div>

                            <button type="button" id="generateUrlFolder">Generate URL and Folder</button>
                            <div class="form-group">
                                <label for="url_en">URL eng: </label>
                                <input type="text" id="url_en" class="form-control" name="url_en">
                            </div>
                            <div class="form-group">
                                <label for="url_vi">URL vi: </label>
                                <input type="text" id="url_vi" class="form-control" name="url_vi">
                            </div>

                            <div class="form-group">
                                <label for="folder">Folder name: </label>
                                <input type="text" id="folder" class="form-control" name="folder">
                            </div>
                            <div>
                                <label for="tag">Tag</label>
                                <select name="tag" id="tag">
                                    <option selected value="activity">Activity</option>
                                    <option value="news">News</option>

                                </select>
                            </div>
                            <div class="form-group">
                                <label for="original_url">Original URL </label>
                                <input type="text" id="original_url" class="form-control" name="original_url" disabled>
                            </div>
                            <div class="form-group">
                                <label for="description_en">Description Eng: </label>
                                <input type="text" id="description_en" class="form-control" name="description_en">
                            </div>
                            <div class="form-group">
                                <label for="description_vi">Description Vi: </label>
                                <input type="text" id="description_vi" class="form-control" name="description_vi">
                            </div>

                            <div class="form-group">
                                <label for="index">Index number: </label>
                                <input type="text" id="index" class="form-control" name="index">
                            </div>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script>
    const dayDropdown = document.getElementById("day");
    const monthDropdown = document.getElementById("month");
    const yearDropdown = document.getElementById("year");

    // Generate options for days from 1 to 31
    for (let day = 1; day <= 31; day++) {
        dayDropdown.innerHTML += `<option value="${day}">${day}</option>`;
    }

    // Generate options for months from January to December
    const monthNames = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"];
    for (let month = 0; month < 12; month++) {
        monthDropdown.innerHTML += `<option value="${month + 1}">
            ${monthNames[month]}</option>`;
    }

    // Generate options for years from 2000 to 2024
    const currentYear = new Date().getFullYear();
    for (let year = 2019; year <= 2030; year++) {
        yearDropdown.innerHTML += `<option value="${year}">${year}
                </option>`;
    }
    yearDropdown.selectedIndex = 0;
    // When the year dropdown changes, regenerate the options for the days and months dropdowns
    const selectedYear = parseInt(yearDropdown.value);
    //const selectedMonth = parseInt(monthDropdown.value);


    monthDropdown.addEventListener("change", () => {
        const selectedMonth = parseInt(monthDropdown.value - 1);
        const isLeapYear = (selectedYear % 4 === 0 && selectedYear % 100 !== 0) || selectedYear %
            400 === 0;
        const daysInMonth = [31, isLeapYear ? 29 : 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];
        console.log(selectedMonth);
        console.log(daysInMonth[selectedMonth])
        dayDropdown.innerHTML = "";

        for (let day = 1; day <= daysInMonth[selectedMonth]; day++) {
            dayDropdown.innerHTML += `<option value="${day}">${day}
    </option>`;
        }
    })
    yearDropdown.addEventListener("change", () => {
        const selectedYear = parseInt(yearDropdown.value);
        //const selectedMonth = parseInt(monthDropdown.value);


        monthDropdown.addEventListener("change", () => {
            const selectedMonth = parseInt(monthDropdown.value - 1);
            const isLeapYear = (selectedYear % 4 === 0 && selectedYear % 100 !== 0) || selectedYear %
                400 === 0;
            const daysInMonth = [31, isLeapYear ? 29 : 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];
            console.log(selectedMonth);
            console.log(daysInMonth[selectedMonth])
            dayDropdown.innerHTML = "";

            for (let day = 1; day <= daysInMonth[selectedMonth]; day++) {
                dayDropdown.innerHTML += `<option value="${day}">${day}</option>`;
            }
        })
        // Remove existing options for days and months
        // dayDropdown.innerHTML = "";
        // monthDropdown.innerHTML = "";

        // Generate options for months based on the selected year
        // Generate options for days based on the selected year and month

    });

    const getToday = document.getElementById('getToday');
    getToday.addEventListener('click', () => {
        const selectedYear = parseInt(yearDropdown.value);
        //const selectedMonth = parseInt(monthDropdown.value);





        const today = new Date();
        document.getElementById('year').value = today.getFullYear();
        document.getElementById('month').selectedIndex = today.getMonth();
        const selectedMonth = parseInt(monthDropdown.value - 1);
        const isLeapYear = (selectedYear % 4 === 0 && selectedYear % 100 !== 0) || selectedYear %
            400 === 0;
        const daysInMonth = [31, isLeapYear ? 29 : 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];
        console.log(selectedMonth);
        console.log(daysInMonth[selectedMonth])
        dayDropdown.innerHTML = "";

        for (let day = 1; day <= daysInMonth[selectedMonth]; day++) {
            dayDropdown.innerHTML += `<option value="${day}">
              ${day}
              </option>`;
        }
        document.getElementById('day').selectedIndex = today.getDate();


    })

    const generateUrlFolder = document.getElementById('generateUrlFolder');

    generateUrlFolder.addEventListener('click', () => {
        const day = document.getElementById("day").value;
        const month = (document.getElementById("month").value < 10) ?
            `0${document.getElementById("month").value}` : document.getElementById("month").value
        console.log(month)
        const year = document.getElementById("year").value
        const data = {
            "title_en": `${document.getElementById('title_en').value}`,
            "title_vi": `${document.getElementById('title_vi').value}`,
            "date": `${day}/${month}/${year}`,
        };

        fetch('/api/clean-accent', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('url_en').value = data.url_en;
                document.getElementById('url_vi').value = data.url_vi;
                document.getElementById('folder').value = data.folder;
            });
    });
    const tags = document.getElementById('tag');
    const originURL = document.getElementById('original_url');
    if (tags.value !== "news") {
        originURL.disabled = true;
    } else originURL.disabled = false;
    tags.addEventListener('change', () => {
        if (tags.value !== "news") {
            originURL.disabled = true;
        } else originURL.disabled = false;
    });
</script>

</html>