<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-offset-3">
                <h1>Add Project </h1>
                <form method="post">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="title_eng">Project Title Eng: </label>
                                <input type="text" id="title_eng" class="form-control" name="title_eng">
                            </div>
                            <div class="form-group">
                                <label for="title_vi">Project Title Vi: </label>
                                <input type="text" id="title_vi" class="form-control" name="title_vi">
                            </div>
                            <div class="form-group">
                                <label for="url_eng">URL eng: </label>
                                <input type="text" id="url_eng" class="form-control" name="url_eng">
                            </div>
                            <div class="form-group">
                                <label for="url_vi">URL vi: </label>
                                <input type="text" id="url_vi" class="form-control" name="url_vi">
                            </div>
                            <div class="form-group">
                                <label for="folder">Folder name: </label>
                                <input type="text" id="folder" class="form-control" name="folder">
                            </div>
                            <div class="form-group">
                                <label for="date_eng">Date Eng: </label>
                                <input type="text" id="date_eng" class="form-control" name="date_eng">
                            </div>
                            <!-- <button type="button" onclick="generate()">Create URL and folder</button> -->
                            <div class="form-group">
                                <label for="date_vi">Date Vi: </label>
                                <input type="text" id="date_vi" class="form-control" name="date_vi">
                            </div>
                            <div class="form-group">
                                <label for="description_eng">Description Eng: </label>
                                <input type="text" id="description_eng" class="form-control" name="description_eng">
                            </div>
                            <div class="form-group">
                                <label for="description_vi">Description Vi: </label>
                                <input type="text" id="description_vi" class="form-control" name="description_vi">
                            </div>
                            <div class="form-group">
                                <label for="original_url">Original URL </label>
                                <input type="text" id="original_url" class="form-control" name="original_url">
                            </div>
                            <div class="form-group">
                                <label for="index">Index number: </label>
                                <input type="text" id="index" class="form-control" name="index">
                            </div>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>