<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="en" />
    <title>3D Mesh Model | Infrastructure Digital Transformation Center | Construction Digitization</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="BIM Services, Scan to BIM, 3D Laser Scanning, Digitization" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail" content="https://portcoast-bim.com/public/images/products/3d-mesh-models.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="en-US"
        content="3D Mesh Model | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Ho Chi Minh City, Viet Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/en/products/3d-mesh-models" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title"
        content="3D Mesh Model | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/products/3d-mesh-models.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/en/products/3d-mesh-models" />
    <meta property="og:locale" content="en-US" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title"
        content="3D Mesh Model | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:image" content="https://portcoast-bim.com/public/images/products/3d-mesh-models.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/en/products/3d-mesh-models" />
    <meta name="twitter:card" content="summary" />
    <%- include(dir+'partials/css.ejs') %>
</head>

<body>
    <div id="pcc-page">

        <%- include(dir+'partials/nav.ejs') %>
        <div id="pcc-main">
            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                    </div>
                </div>
            </div>
            <!-- Page Header End -->
            <section class="pcc-services">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="pcc-narrow-content">
                                <div class="row">
                                    <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                                        data-animate-effect="fadeInLeft">
                                        <span class="heading-meta">
                                            Products</span>
                                        <h2 class="pcc-heading animate-box">3D Mesh Model</h2>
                                    </div>
                                </div>
                                <div class="row row-bottom-padded-md">
                                    <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                                        <p>The process of converting point cloud data to 3D mesh model and images also
                                            generates 3D optical models. It significantly reduces the time spent on
                                            manually creating 3D models and managing them to display vector
                                            representations of objects.
                                            Our technicians can determine the shape of a physical system through sets of
                                            3D coordinates.
                                        </p>
                                        <p>At the Center for Digital Infrastructure, we specialize in collecting,
                                            documenting, and gridding any data that cannot be displayed in traditional
                                            CAD or 3D formats, providing an accurate and visual virtual copy.</p>
                                        <p>Our 3D Mesh modeling applications include:</p>
                                        <ul class="pcc-list">
                                            <li>The most complex systems including pipes, valves, and equipment</li>
                                            <li>Preserving historical architectural structures</li>
                                            <li>Creating accurate models for the film industry</li>
                                            <li>Calculating volumes of physical objects and large areas</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                                        <img class="img-fluid" src="/public/images/products/3d-mesh-models.jpg">
                                    </div>
                                </div>
                                <div class="row row-bottom-padded-md">
                                    <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                                        <iframe width="100%" height="600" title="Tran Hung Dao Statue" frameborder="0"
                                            allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true"
                                            allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking
                                            execution-while-out-of-viewport execution-while-not-rendered web-share
                                            src="https://sketchfab.com/models/78a6693176804f3a826cea903720336e/embed">
                                        </iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Sidebar Start -->
                    </div>
                </div>
            </section>
            <%- include (dir+'partials/footer.ejs')%>
        </div>
    </div>
    <%- include(dir+'partials/js.ejs') %>
</body>

</html>