<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="en" />
    <title>Deformation & Deflection Survey | Infrastructure Digital Transformation Center | Construction Digitization
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="We provide surveys to determine the displacement and deformation of any natural or man-made structure." />
    <meta name="keywords" content="BIM Services, Scan to BIM, 3D Laser Scanning, Digitization" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail"
        content="https://portcoast-bim.com/public/images/products/deformation-monitoring/cover.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="en-US"
        content="Deformation & Deflection Survey | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Ho Chi Minh City, Viet Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/en/products/deformation-and-deflection-surveys" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title"
        content="Deformation & Deflection Survey | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta property="og:description"
        content="We provide surveys to determine the displacement and deformation of any natural or man-made structure." />
    <meta property="og:image"
        content="https://portcoast-bim.com/public/images/products/deformation-monitoring/cover.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/en/products/deformation-and-deflection-surveys" />
    <meta property="og:locale" content="en-US" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title"
        content="Deformation & Deflection Survey | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="twitter:description"
        content="We provide surveys to determine the displacement and deformation of any natural or man-made structure." />
    <meta name="twitter:image"
        content="https://portcoast-bim.com/public/images/products/deformation-monitoring/cover.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/en/products/deformation-and-deflection-surveys" />
    <meta name="twitter:card" content="summary" />
    <%- include(dir+'partials/css.ejs') %>
</head>

<body>
    <div id="pcc-page">

        <%- include(dir+'partials/nav.ejs') %>
        <div id="pcc-main">
            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                    </div>
                </div>
            </div>
            <!-- Page Header End -->
            <section class="pcc-services">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="pcc-narrow-content">
                                <div class="row">
                                    <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                                        data-animate-effect="fadeInLeft">
                                        <span class="heading-meta">
                                            Products</span>
                                        <h2 class="pcc-heading animate-box">Deformation and Deflection Surveys</h2>
                                    </div>
                                </div>
                                <div class="row row-bottom-padded-md">
                                    <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                                        <p>We provide surveys to determine the displacement and deformation of any
                                            natural or man-made structure. Early detection helps to take actions to
                                            address the causes/consequences to minimize or eliminate potential risks and
                                            ensure the structure's safety.</p>
                                        <p>Displacement and deformation occur due to many causes such as natural
                                            geological activities, aging of the structure, ground movement, improper
                                            excavation, unbalanced structural loads, etc. Surveys of deformation are
                                            carried out to monitor the following sample structures:</p>
                                        <ul class="pcc-list">
                                            <li>Tunnels</li>
                                            <li>Columns, beams, bridges</li>
                                            <li>Dams and reservoirs</li>
                                            <li>Structure cracking and load testing</li>
                                            <li>Building</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                                        <img class="img-fluid"
                                            src="/public/images/products/deformation-monitoring/cover.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>
            <%- include (dir+'partials/footer.ejs')%>
        </div>
    </div>
    <%- include(dir+'partials/js.ejs') %>
</body>

</html>