<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="en" />
    <title>3D Point Cloud Model | Infrastructure Digital Transformation Center | Construction Digitization</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="BIM Services, Scan to BIM, 3D Laser Scanning, Digitization" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail" content="https://portcoast-bim.com/public/images/products/3d-point-cloud/cover.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="en-US"
        content="3D Point Cloud Model | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Ho Chi Minh City, Viet Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/en/products/point-cloud-model" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title"
        content="3D Point Cloud Model | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/products/3d-point-cloud/cover.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/en/products/point-cloud-model" />
    <meta property="og:locale" content="en-US" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title"
        content="3D Point Cloud Model | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:image" content="https://portcoast-bim.com/public/images/products/3d-point-cloud/cover.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/en/products/point-cloud-model" />
    <meta name="twitter:card" content="summary" />
    <%- include(dir+'partials/css.ejs') %>
</head>

<body>
    <div id="pcc-page">

        <%- include(dir+'partials/nav.ejs') %>
        <div id="pcc-main">
            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                    </div>
                </div>
            </div>
            <!-- Page Header End -->
            <section class="pcc-services">
                <div class="container">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="pcc-narrow-content">
                                    <div class="row">
                                        <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                                            data-animate-effect="fadeInLeft">
                                            <span class="heading-meta">
                                                Products</span>
                                            <h2 class="pcc-heading animate-box">3D 3D Point Cloud Model</h2>
                                        </div>
                                    </div>
                                    <div class="row row-bottom-padded-md">
                                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                                            <p>By using high-resolution 3D Laser technology, collecting spatial data of
                                                the environment is a fast and efficient way. The result is a 3D Point
                                                Cloud Model that provides customers with information about objects such
                                                as shape, distance, and the condition of structural parts such as
                                                flooring, sloping walls, skewed beams, crumbling foundations, or any
                                                other complex object within the scanning range of the machine.</p>
                                            <p>We provide a <a href="/en/products/truviews">TruView</a> data sharing
                                                platform, point cloud data viewing mode, 360-degree images and design
                                                models, for users to perform measurements, display coordinates, etc.</p>
                                            <p>Supported formats:</p>
                                            <ul class="pcc-list">
                                                <li>PCG và RCS - AutoDesk</li>
                                                <li>IMP, PTX - Leica</li>
                                                <li>POD - Pointools & Bentley</li>
                                            </ul>
                                            <p>The 3D point cloud data is used as input for products such as:</p>
                                            <ul class="pcc-list">
                                                <li>Completion Inspection</li>
                                                <li>Creation of 2D, 3D CAD documentation</li>
                                                <li>Conflict Analysis & Deformation</li>
                                                <li>Volume Calculation</li>
                                                <li>Reverse Design</li>
                                            </ul>
                                            <p>Many of our customers use this 3D point cloud data as a historical record
                                                of the conditions of the construction or site at the time of the survey.
                                                This data can be used to preserve historical structures, legal
                                                documents, construction progress surveys, etc.</p>
                                        </div>
                                        <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                                            <img class="img-fluid"
                                                src="/public/images/products/3d-point-cloud/cover.jpg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Sidebar Start -->
                            <div class="col-lg-4">
                                <div class="pcc-narrow-content">
                                    <!-- Category Start -->
                                    <div class="mb-5 animate-box" data-animate-effect="fadeInLeft">
                                        <h4 class="pcc-heading d-inline-block text-uppercase border-5 mb-5">Products
                                        </h4>
                                        <div class="d-flex flex-column justify-content-start">
                                            <a class="bg-light rounded py-2 px-3 mb-2" href="/en/solutions/surveying"><i
                                                    class="fa fa-angle-right me-2"></i>3D Point Cloud Models</a>
                                            <a class="bg-light rounded py-2 px-3 mb-2" href="/en/solutions/bim"><i
                                                    class="fa fa-angle-right me-2"></i>Truviews</a>
                                            <a class="bg-light rounded py-2 px-3 mb-2"
                                                href="/en/solutions/gis-and-bim-integration"><i
                                                    class="fa fa-angle-right me-2"></i>GIS & BIM Integration</a>
                                            <a class="bg-light rounded py-2 px-3 mb-2"
                                                href="/en/solutions/digital-twin"><i
                                                    class="fa fa-angle-right me-2"></i>Digital Twin</a>
                                            <a class="bg-light rounded py-2 px-3 mb-2" href="/en/solutions/surveying"><i
                                                    class="fa fa-angle-right me-2"></i>Surveying</a>
                                            <a class="bg-light rounded py-2 px-3 mb-2" href="/en/solutions/bim"><i
                                                    class="fa fa-angle-right me-2"></i>BIM & Scan to BIM</a>
                                            <a class="bg-light rounded py-2 px-3 mb-2"
                                                href="/en/solutions/gis-and-bim-integration"><i
                                                    class="fa fa-angle-right me-2"></i>GIS & BIM Integration</a>
                                            <a class="bg-light rounded py-2 px-3 mb-2"
                                                href="/en/solutions/digital-twin"><i
                                                    class="fa fa-angle-right me-2"></i>Digital Twin</a>

                                        </div>
                                    </div>
                                    <!-- Category End -->

                                    <!-- Recent Post Start -->
                                    <div class="mb-5 animate-box" data-animate-effect="fadeInLeft" id="project">
                                        <h4 class="pcc-heading d-inline-block text-uppercase border-5 mb-5">Projects
                                        </h4>

                                    </div>
                                    <!-- Recent Post End -->
                                </div>
                                <!-- Sidebar End -->
                            </div>

                        </div>
                </div>
            </section>
            <%- include (dir+'partials/footer.ejs')%>
        </div>
    </div>
    <%- include(dir+'partials/js.ejs') %>
    <script>
        fetch('/api/project', {
                method: "GET",
            }).then(response => response.json())
            .then(data => {
                for (let item of data) {
                    document.getElementById("project").innerHTML += ` <div class="d-flex rounded overflow-hidden mb-3">
    <img class="img-fluid" src="/public/images/projects/${item.folder}/cover.jpg"
        style="width: 100px; height: 100px; object-fit: cover;" alt="">
    <a href="/en/projects/${item.url_en}" class="d-flex align-items-center px-3 mb-0">${item.title_en}
    </a>
</div>`
                }
            })
    </script>  
</body>

</html>