<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="en" />
    <title>Truviews | Infrastructure Digital Transformation Center | Construction Digitization</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="BIM Services, Scan to BIM, 3D Laser Scanning, Digitization" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail" content="https://portcoast-bim.com/public/images/products/truviews/cover.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="en-US"
        content="Truviews | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Ho Chi Minh City, Viet Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/en/products/scan-to-bim" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title"
        content="Truviews | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/products/truviews/cover.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/en/products/scan-to-bim" />
    <meta property="og:locale" content="en-US" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title"
        content="Truviews | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:image" content="https://portcoast-bim.com/public/images/products/truviews/cover.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/en/products/scan-to-bim" />
    <meta name="twitter:card" content="summary" />
    <%- include(dir+'partials/css.ejs') %>
</head>

<body>
    <div id="pcc-page">

        <%- include(dir+'partials/nav.ejs') %>
        <div id="pcc-main">
            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                    </div>
                </div>
            </div>
            <!-- Page Header End -->
            <section class="pcc-services">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="pcc-narrow-content">
                                <div class="row">
                                    <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                                        data-animate-effect="fadeInLeft">
                                        <span class="heading-meta">
                                            Products</span>
                                        <h2 class="pcc-heading animate-box">Truviews</h2>
                                    </div>
                                </div>
                                <div class="row row-bottom-padded-md">
                                    <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                                        <p>The Truview platform allows for the sharing of cloud point data, 360-degree
                                            images, and design models, enabling users to easily and visually perform
                                            measurements and select 3D coordinate values. It can also be used as a
                                            communication tool between managers and engineers. Anyone in your project
                                            ecosystem can access, view, analyze, and collaborate by using the real-time
                                            digital technical data on a web browser from their office.</p>
                                        <p>Benefits of using Truviews:</p>
                                        <ul class="pcc-list">
                                            <li>Easily share cloud point data through a user-friendly, visual interface
                                            </li>
                                            <li>360-degree panoramic view mode from each scanned location, anytime,
                                                anywhere</li>
                                            <li>Users can view, rotate, zoom in, measure and mark right on the browser
                                            </li>
                                            <li>Can view color intensity (black and white) or in true color scale if
                                                scanned with RGB option</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                                        <img class="img-fluid" src="/public/images/products/truviews/cover.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>
            <%- include (dir+'partials/footer.ejs')%>
        </div>
    </div>
    <%- include(dir+'partials/js.ejs') %>
</body>

</html>