<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="en" />
    <title>Volume Surveys | Infrastructure Digital Transformation Center | Construction Digitization</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="The Digital Transformation Center for Infrastructure provides accurate volume surveys to calculate the volume of reserves, the volume of exploitation, and the volume of excavation." />
    <meta name="keywords" content="BIM Services, Scan to BIM, 3D Laser Scanning, Digitization" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail" content="https://portcoast-bim.com/public/images/products/volume-surveys/cover.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="en-US"
        content="Volume Surveys | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Ho Chi Minh City, Viet Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/en/products/volume-surveys" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title"
        content="Volume Surveys | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta property="og:description"
        content="The Digital Transformation Center for Infrastructure provides accurate volume surveys to calculate the volume of reserves, the volume of exploitation, and the volume of excavation." />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/products/volume-surveys/cover.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/en/products/volume-surveys" />
    <meta property="og:locale" content="en-US" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title"
        content="Volume Surveys | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="twitter:description"
        content="The Digital Transformation Center for Infrastructure provides accurate volume surveys to calculate the volume of reserves, the volume of exploitation, and the volume of excavation." />
    <meta name="twitter:image" content="https://portcoast-bim.com/public/images/products/volume-surveys/cover.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/en/products/volume-surveys" />
    <meta name="twitter:card" content="summary" />
    <%- include(dir+'partials/css.ejs') %>
</head>

<body>
    <div id="pcc-page">
        <a href="#" class="js-pcc-nav-toggle pcc-nav-toggle"><i></i></a>
        <%- include(dir+'partials/nav.ejs') %>
        <div id="pcc-main">
            <section class="pcc-services">
                <div class="pcc-narrow-content">
                    <div class="row">
                        <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                            data-animate-effect="fadeInLeft">
                            <span class="heading-meta">
                                Products</span>
                            <h2 class="pcc-heading animate-box">Volume Surveys</h2>
                        </div>
                    </div>
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                            <p>The Digital Transformation Center for Infrastructure provides accurate volume surveys to calculate the volume of reserves, the volume of exploitation, and the volume of excavation.</p>
                            <p>We use advanced solutions and equipment such as Total Stations, GNSS, <a href="/en/solutions/3d-laser-scanning">Laser scan</a> and <a href="/en/solutions/topographical-survey">Unmanned Aerial Vehicle (UAV/Drone)</a> technology to perform your volume surveys accurately. We collect field data quickly and effectively, using remote methods to support and ensure safety in difficult and dangerous environments.</p>
                            <p>Our products provide you with quantified and quantifiable data. We will provide this information in 2D or 3D format, as well as aerial imagery with the necessary level of detail, showcasing the reserve map in a highly detailed and accurate report.</p>
                        </div>
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                            <img class="img-fluid" src="/public/images/products/volume-surveys/cover.jpg">
                        </div>
                    </div>
                </div>
            </section>
            <%- include (dir+'partials/footer.ejs')%>
        </div>
    </div>
    <%- include(dir+'partials/js.ejs') %>
</body>

</html>